<div class="title2"><h2>签到管理</h2>统计来访用户，看看谁最爱你们</div>
<%= form_tag '/shop_checkins',:method =>:get do %>
  <ul class="formlist" class="mt0">
    <li>
      <label>用户名称&nbsp;&nbsp;</label>
      <%= text_field_tag :name, params[:name], :class => "txt l"%>
      <input type="submit" value="查 询" class="btn1 l ml20 mt5"/>
    </li>
  </ul>
<% end %>
<div class="lists" style="display:block;">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
    <tr>
      <th width="20%" align="left">用户</th>
      <th width="9%">性别</th>
      <th width="17%" align="center">星座</th>
      <th width="20%" align="center">签到时间</th>
      <th width="15%" align="center" colspan="2">操作</th>
    </tr>
    <% @checkins.each do |checkin| %>
      <tr>
        <td>
          <%=link_to image_tag(checkin.user.head_logo.try(:img).try(:url,:t1), :class => "imgs"), checkin.user.head_logo.try(:img).try(:url), :target => 'blank' %>
          <%=link_to checkin.user.name, "/shop_checkins/user?uid=#{checkin.uid}"%></td>
        <td align="center"><%= checkin.user.show_gender%></td>
        <td align="center"><%= checkin.user.gonstellation %></td>
        <td align="center"><%= checkin.cat.strftime("%Y-%m-%d %H:%M") %></td>
        <td align="center"><%= link_to '历史签到', url_for(:action => 'index', :uid => checkin.user.id) %></td>
        <td align="center"><%= ban_link(checkin.user.id.to_s) %></td>
      </tr>
    <% end %>
  </table>
  <div class="pages mt15">
    <%= generate_paginate2.html_safe %>
  </div>
</div>

<script>
  LeftMenu(1);
	 
  $(document).ready(function(){
    $("#Items a").click(function(){
      var n=$(this).attr("rel");
      $(this).addClass("hover").siblings("a").removeClass("hover");
      $("div.lists").eq(n).css("display","block").siblings("div.lists").css("display","none");
    });
  });
</script>
