<div class="title2"><h2><%= "'#{User.find_by_id(params[:uid]).name}'个人" unless params[:uid].blank? %>照片墙</h2></div>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="12%" align="center">缩略图</th>
    <th width="12%" align="center">用户</th>
    <th width="13%" align="left">描述</th>
    <th width="14%" align="left">发布时间</th>
    <th width="12%" align="left">分享到微博</th>
    <th width="12%" align="left">分享到qq</th>
    <th width="20%" align="center" colspan="4">操作</th>
  </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td align="center"><%=link_to image_tag(photo.img.try(:url, :t2), :class=>"imgs4"), photo.img.try(:url), :target => "blank"  %></td>
      <td align="center">
        <%=link_to image_tag(photo.user.try(:head_logo).try(:img).try(:url,:t1), :class => "imgs"), photo.user.try(:head_logo).try(:img).try(:url), :target => 'blank' %>
        <%=link_to photo.user.try(:name)||'', "/shop_checkins/user?uid=#{photo.user_id}"   %></td>
      <td title="<%= photo.desc %>"><%=truncate photo.desc, :length => 10 %></td>
      <td><%= id_to_time(photo.id) %></td>
      <td><%= photo.weibo ? '是' : '否' %></td>
      <td><%= photo.qq ? '是' : '否' %></td>
      <td><%= link_to '详情', "/shop_photos/show?id=#{photo.id}" %></td>
      <% if  photo.hide %>
        <td><%= link_to '显示', "javascript:void(0)",:onclick => "ajaxUndel($(this), '#{photo.id}')" %></td>
      <% else %>
        <td><%= link_to '隐藏', "javascript:void(0)",:onclick => "ajaxDel($(this), '#{photo.id}')"  %></td>
      <% end %>
      <% if  photo.od %>
        <td><%= link_to '取消置顶', "javascript:void(0)",:onclick => "ajaxUntop($(this), '#{photo.id}')"%></td>
      <% else %>
        <td><%= link_to '置顶', "javascript:void(0)",:onclick => "ajaxTop($(this), '#{photo.id}')"%></td>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="pages mt15">
  <%= generate_paginate.html_safe %>
</div>

<script type ="text/javascript">
  LeftMenu(19);
  function ajaxDel(obj, id){
    if(confirm("确定隐藏此照片？"))
    {
      $.get("/shop_photos/ajax_del",{id: id}, function(data) {
        if(data['text']){
          obj.replaceWith(data['text'])
        }
        else{
          obj.replaceWith('隐藏失败.')
        }
      });
    }
  }

  function ajaxTop(obj,id){
    $.get("/shop_photos/ajax_top", {id: id}, function(){
      $("tr:first").after(obj.parent().parent())
      obj.replaceWith("<a href='javascript:void(0)' onclick='ajaxUntop($(this),\""+ id +"\")'>取消置顶</a>")
    })
  }
  function ajaxUntop(obj,id){
    $.get("/shop_photos/ajax_untop", {id: id}, function(){
      obj.replaceWith('已取消')
    })
  }


  function ajaxUndel(obj, id){
    if(confirm("确定取消隐藏？")){
      $.get("/shop_photos/ajax_undel",{id: id}, function(data) {
        if(data['text']){
          obj.replaceWith(data['text'])
        }
        else{
          obj.replaceWith('隐藏失败.')
        }
      });
    }
  }
</script>