<div class="title2"><h2>照片详情</h2></div>
<ul class="formlist tab">
  <li>
    <span style="width: 100px;">图片:</span>
    <span class="right" style="width: 300px;"><%=image_tag(@photo.img) %></span>
  </li>
  <li>
    <span style="width: 100px;">用户:</span>
    <span class="right" style="width: 300px;"><%=@photo.user.try(:name) %></span>
  </li>
  <li>
    <span style="width: 100px;">描述:</span>
    <span class="right" style="width: 300px;"><%=@photo.desc %></span>
  </li>
  <li>
    <span style="width: 100px;">发布时间:</span>
    <span class="right" style="width: 300px;"><%=id_to_time(@photo.id) %></span>
  </li>
  <li>
    <span style="width: 100px;">分享到微博:</span>
    <span class="right" style="width: 300px;"><%=@photo.weibo ? "是" : "否" %></span>
  </li>
  <li>
    <span style="width: 100px;">分享到qq:</span>
    <span class="right" style="width: 300px;"><%=@photo.qq ? "是" : "否"  %></span>
  </li>
  <li>
    <span style="width: 100px;">赞:</span>
    <span class="right" style="width: 300px;"><%=@photo.like_user_names || "空" %></span>
  </li>
  <% if @photo.com.to_a.blank? %>
    <li>
      <span style="width: 100px;">评论:</span>
      <span class="right" style="width: 300px;">空</span>
    </li>
  <% else %>
    <% @photo.com.each_with_index do |c, index| %>
      <% user = User.find_by_id(c["id"]) %>
      <li style="margin: 0px">
        <span style="width: 100px;"><%= "评论:" if index==0 %></span>
        <span class="right" style="width: 100px;"><%= user.name %></span>
        <span class="right" style="width: 100px;"><%= truncate c['txt'], :length=> 13   %></span>
        <span class="right" style="width: 150px;"> <%= c['t'].localtime.strftime("%Y-%m-%d %H:%M")  %></span>
        <span class="right" style="width: 80px;"><%= c["hide"] ? "隐藏" : "显示"   %></span>
        <span class="right" style="width: 100px;">
          <% if c['hide'] %>
            <%= link_to '显示', "javascript:void(0)", :onclick => "ajaxUnhide($(this), '#{@photo.id}', '#{c['id']}','#{c['txt']}')"  %>
          <% else %>
            <%= link_to '隐藏', "javascript:void(0)", :onclick => "ajaxHide($(this), '#{@photo.id}', '#{c['id']}','#{c['txt']}')"  %>
          <% end %>
        </span>
      </li>
    <% end %>

  <% end %>
</ul>


<script type ="text/javascript">
  LeftMenu(19);
  function ajaxHide(obj, id, uid, txt){
    if(confirm("确定隐藏此评论"))
    {
      $.get("/shop_photos/hide_com",{id: id,uid: uid, txt: txt}, function(data) {
        if(data['text'])
          obj.replaceWith(data['text'])
        else
          obj.replaceWith('已隐藏')
      });
    }
  }
  function ajaxUnhide(obj, id, uid, txt){
    if(confirm("确定显示此评论"))
    {
      $.get("/shop_photos/unhide_com",{id: id,uid: uid, txt: txt}, function(data) {
        if(data['text'])
          obj.replaceWith(data['text'])
        else
          obj.replaceWith('已显示')
  
      });
    }
  }
</script>
<%= link_to '返回列表', "/shop_photos", :class=>"btn6 r" %>