<h1>公告列表</h1>
<%= form_tag 'shop_shop_notices', :method => :get  do  %>
  查看状态： <%= select_tag :effect, options_for_select([['有效','1'], ['过期','0'],['所有','']], params[:effect]) %>
  <%= submit_tag '确定' %>
<% end  %>

<table>
  <tr>
    <th>商家</th>
    <th>文本</th>
    <th>排序</th>
    <th>有效</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @shop_notices.each do |shop_notice| %>
    <tr>
      <td><%= session_shop.name %></td>
      <td><%= shop_notice.title %></td>
      <td><%= shop_notice.ord %></td>
      <td><%= shop_notice.effect ? '是' : '否' %></td>
      <td><%= link_to '详情', shop_shop_notice_path(shop_notice) %></td>
      <td><%= link_to '编辑', edit_shop_shop_notice_path(shop_notice) if shop_notice.effect %></td>
      <td><%= link_to '过期',{:action => 'dest', :id => shop_notice.id }, :onclick => "return confirm('确定过期么？')" if shop_notice.effect %></td>
      <td><%= link_to '置顶',{:action => 'top', :id => shop_notice.id }, :onclick => "return confirm('确定置顶么？')" if shop_notice.effect %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to '新建公告', new_shop_shop_notice_path %>


