<div class="subtitle">公告详情</div><br/>
  <center class="gray2"><%= notice %></center>
<ul class="formlist2">
  <li>
    <span>文本</span>
    <span class="right"><%= @shop_notice.title %></span>
  </li>
  <li>
    <span>排序</span>
    <span class="right"><%= @shop_notice.ord %></span>
  </li>
  <li>
    <span>有效</span>
    <span class="right"><%= @shop_notice.effect ? "是" : '否' %></span>
  </li>
</ul>

<%= link_to '编辑', edit_shop_shop_notice_path(@shop_notice) if @shop_notice.effect %>
<%= link_to '返回列表', shop_shop_notices_path %>
