<h1>部门列表</h1>

<%= link_to '创建新部门', new_depart_path %>
<table>
  <tr>
    <th>部门名称</th>
    <th>职责说明</th>
  </tr>

<% @departs.each do |depart| %>
  <tr>
    <td><%=h depart.name %></td>
    <td><%=h depart.duty %></td>
    <td><%= link_to '浏览', depart %></td>
    <td><%= link_to '编辑', edit_depart_path(depart) %></td>
    <td><%= link_to '删除', depart, :confirm => '确定要删除吗?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div id="paginate" style="text-align: center">
  <%= generate_paginate @departs %>
</div>
