
		<div class="con">
			<div class="title1 mb30"><h2 class="f18">签到管理</h2></div>
			<div class="submenu">
				<ul>
					<li><a href="index">最新签到</a></li>
					<li class="<%= 'hover' if params[:flag] == 'week' %>"><a href="rank?flag=week">周排行</a></li>
					<li class="<%= 'hover' if params[:flag] == 'month' %>"><a href="rank?flag=month">月排行</a></li>
					<li><a href="rank_list">总排行</a></li>
				</ul>
			</div>
				<table width="100%" cellspacing="0" cellpadding="0" class="tab2 mt40">
					<tr>
						<th width="991">用户名</th>
						<th width="199" class="textcenter" style="padding-left:0px;">签到次数</th>
						<th width="182" class="textcenter" style="padding-left:0px;">No.</th>
					</tr> 
				<% @banks.each_with_index do |bank, index| %>
				<tr>
				  <% user = User.find(bank[0])  %>
				  <td valign="middle"><%=link_to image_tag(user.head_logo.try(:img).try(:url,:t1), :class => "imgstyle2"), user.head_logo.try(:img).try(:url), :target => 'blank' %><%=link_to user.name, "/shop_checkins/user?uid=#{user.id}", :class => "f14" %><img align="absmiddle" class="ml10" src=<%= user.gender.to_i==1?('/newbackstage/images/man.png'):('/newbackstage/images/woman.png') %> ><br/>
				  <span class="pr10">星座：<%= user.gonstellation %></span> 年龄：23岁
				  </td>
				  <td align="center"><%= bank[1] %></td>
				  <td width="182" align="center" class="
				  <% case (index+1).to_i %>
				  <% when 1 %>
				  <%= 'red2 f13'%>
				  <% when 2 %>
				  <%= 'green1 f13' %>
				  <% when 3 %>
				  <%= 'blue1 f13' %>
				  <% end %>
				  "><span>第<%= (index+1).to_s %>名</span></td>
				</tr>
				<% end %>
	  	  </table>
			<div class="pagination">
              <%= generate_paginate2.html_safe %>
		   </div>
	  </div>

	  <script type="text/javascript">
        $(document).read(function(){
        	$(".tab2 tr:odd").addClass("trbg");
        })
	  </script>>