- user = current_user

.navbar.navbar-default.shadow
  .user-info.clearfix
    .avatar
      - if current_user.is_a? Expert
        = link_to image_tag(user.avatar.url), profile_expert_path(user)
      - else
        = image_tag(user.avatar.url)
    .profile
      .name
        = user.name
      .title
        = [profile.title, profile.company].reject(&:blank?).join(",")
      .edit
        %p= link_to 'edit profile', dashboard_edit_profile_path, remote: true, class: "item-pjax"

  -# ----- Activity Stream -----
  .toolkit
    .item
      = render 'dashboard/item_icon', item_name: 'activity_stream'
      .item-text= link_to 'My activity stream', pending_page_experts_path(text: "my_activity_stream"), remote: true

  -# ----- CREATE -----
  - if user.is_a? Expert
    .block-title
      %span
        CREATE

    .toolkit
      -# ----- Post New Article -----
      .item
        = render 'dashboard/item_icon', item_name: 'new_content'
        .item-text
          = link_to 'Post new article', dashboard_post_new_article_path, remote: true, class: "item-pjax"

  -# ------ MANAGE ------
  .block-title
    %span
      MANAGE

  .toolkit
    -# ------ Content ------
    - if user.is_a? Expert
      .item
        = render 'dashboard/item_icon', item_name: 'content'
        .item-text
          = link_to 'Content', dashboard_contents_path, remote: true, class: "item-pjax"

    -# ----- Video Courses -----
    - if user.is_a? Expert
      .item.panel
        .panel-heading
          = render "dashboard/item_icon", item_name: "video_library"
          .item-text= link_to 'Video courses', '#video-courses', data: {toggle: 'collapse'}
        .collapse.panel-collapse#video-courses
          .panel-body
            %li
              = link_to 'My produced courses', dashboard_produced_courses_path, remote: true, class: "item-pjax"
            -# %li= link_to 'My subscribed courses', vod_library_member_path(user), remote: true, class: "item-pjax"
            %li
              = link_to 'My subscribed courses', dashboard_subscribed_courses_path, remote: true, class: "item-pjax"
    - else
      .item
        = render 'dashboard/item_icon', item_name: 'video_library'
        .item-text
          = link_to 'Video courses', dashboard_subscribed_courses_path, remote: true, class: "item-pjax"

    -# ----- Private Sessions -----
    - if user.is_a? Expert
      .item
        = render 'dashboard/item_icon', item_name: 'new_session'
        .item-text= link_to 'Private sessions', consultations_expert_path(user), remote: true

    -# ----- Favorites -----
    .item.panel
      .panel-heading
        = render 'dashboard/item_icon', item_name: 'favorite_dash'
        .item-text= link_to 'Favorite', '#favorite', data: {toggle: 'collapse'}

      .collapse.panel-collapse#favorite
        .panel-body
          %li= link_to 'Experts', experts_member_path(current_user), remote: true
          %li= link_to 'Content', contents_member_path(current_user), remote: true
          %li= link_to 'Courses', video_on_demand_member_path(current_user), remote: true
          -# %li Video interviews

    -# ----- Refer Expert -----
    - if user.is_a? Expert
      .item.panel
        .panel-heading
          = render 'dashboard/item_icon', item_name: 'refer_expert'
          .item-text= link_to 'Refer', '#refer', data: {toggle: 'collapse'}

        .collapse.panel-collapse#refer
          .panel-body
            %li= link_to 'New expert', dashboard_refer_new_expert_path, remote: true, class: "item-pjax"
            %li= link_to 'A friend', dashboard_refer_a_friend_path, remote: true, class: "item-pjax"
    - else
      .item
        = render 'dashboard/item_icon', item_name: 'refer_expert'
        .item-text= link_to 'Refer friend', dashboard_refer_a_friend_path, remote: true, class: "item-pjax"


    -# ------ Settings ------
    .item
      = render 'dashboard/item_icon', item_name: 'account'
      .item-text
        = link_to 'Settings', dashboard_settings_path, remote: true, class: "item-pjax"

:javascript
  side_bar()
