- content_for(:title){ "About Us" }

%section#static-main
  #nav-anchor
  %nav#about-us-sidebar.shadow
    .line-title
      %span ABOUT US
    %ul
      %li
        %a{href: "#why_prodygia"}
          = image_tag("prodygia_smalllogo.png")
          = image_tag(("prodygia_smalllogo_hover.png"), class: "hidden")
          Why Prodygia
      %li
        %a{href: "#our_story"}
          = image_tag("our_story.png")
          = image_tag(("our_story_hover.png"), class: "hidden")
          Our Story 
      %li
        %a{href: "#the_team"}
          = image_tag("team.png")
          = image_tag(("team_hover.png"), class: "hidden")
          The Team
      %li
        %a{href: "#recruiting"}
          = image_tag("recruiting.png")
          = image_tag(("recruiting_hover.png"), class: "hidden")
          Recruiting
      %li
        %a{href: "#contact_us"}
          = image_tag("contact.png")
          = image_tag(("contact_hover.png"), class: "hidden")
          Contact Us

  %article.shadow.margin-bottom.oswaldreg-header
    %h1
      %a{name: "why_prodygia"}Why Prodygia

    =image_tag("Shanghai_skyline.jpg")
    %p 
      China's opening up is one of the biggest stories of the early 21st Century. The IMF estimates that China's economy will reach US$ 19 trillion in 2016 and surpass the United States to become the largest in the world.

    %p
      Yet for the West, China is and will continue to be an enigma. To understand and partake in China's growth over the next decades, it is essential to become better informed about how things work inside the country. 

    %p 
      Today, apart from moving to China and experiencing the country first-hand, typical ways of seeking insights such as desktop research, tapping into one's personal network, and using specialized service providers. These methods are fine, and will continue to be used, but are limited as solutions in our view. 

    %p
      The reality is that most people do not even know where to start to get relevant information or find the right contacts.
    
    %p.latoitalic 
      At Prodygia, we figured there must be a better way to connect you with the Real China, and we decided to do something about it. Prodygia will give you the power to 'log into China'. We aim to be your trusted, online marketplace for expertise on China.

    %p 
      Prodygia enables Members to search more effectively for China expertise, and Experts to share and monetize their expertise via innovative marketing channels. The result is a more targeted, holistic and efficient approach to matching demand for and supply of expertise on China 

    %p 
      Then, thanks to a combination of live and recorded online sessions (release date set for early 2014), members will have a chance to get practical, personalized advice to increase their learning curves on topics of their interest and achieve specific goals.

    %h1
      %a{name: "our_story"}Our Story

    %p 
      We met in Shanghai over a decade ago (2003) and became each others' first friends in China. 

    %p 
      As 
      %span.latoitalic foreigners
      with no local contacts or language skills at the time, we quickly realized how much we didn't know, plus what an exceptional opportunity lay ahead of us to grow. The learning curves were steep and it was a humbling experience for sure, but it kept us on our toes.

    %p 
      Over the years, as we worked with international companies doing business in China and played host to visiting Western friends, we saw first-hand how important it was becoming for them to learn about and understand China. In most cases, there was a massive gap between what they expected China to be like and what they experienced on the ground. 

    %p
      Prodygia is our attempt to help you reduce that gap. We learned about China from thousands of conversations with insiders, and a chance to have those conversations is now being offered to you on this platform, whether or not you are based in China.

    %p
      Our name comes from 'prodigious', which means big in size, vast, even extraordinary, as a reflection of China itself; and 'prodigy', which describes a talented person who guides us to see the outside world in new ways. Prodygia, too, aims to open our eyes to the real China, in a deeper way than what currently exists online.
     
    %h1
      %a{name:"the_team"}The Team
   
    .team_member
      = image_tag(("about_us_lalo.jpg"), class: "headshot")
      .team_member_info
        %h2 Alessandro Duina
        %p.job_title Co-Founder & CEO
        .social_media_icons
          %a{href: "https://twitter.com/alessandrolalo", target: "_blank"}
            =image_tag("twitter.png")
          %a{href: "http://www.linkedin.com/pub/alessandro-duina/0/193/b00", target: "_blank"}
            =image_tag("linkedin.png")
    %p 
      I'm passionate about building new businesses from the ground up and combining hands-on entrepreneurship with strategy consulting. In China I founded a consulting business which helps international companies enter and grow in the Chinese market. Earlier in my career, I was a management consultant at the Boston Consulting Group (BCG), a Project Leader at Barilla, and played various roles in startups in the U.S. and Europe.
    %p 
      I earned a Laurea from Polictecnico di Milano and an MBA from Kellogg Business School, Northwestern University.

    .team_member
      = image_tag(("nicolasruble.jpg"), class: "headshot")
      .team_member_info
        %h2 Nicolas Ruble
        %p.job_title Co-Founder & COO
        .social_media_icons
          %a{href: "http://twitter.com/nicolasruble", target: "_blank"}
            =image_tag("twitter.png")
          %a{href: "http://www.linkedin.com/in/nicolasruble", target: "_blank"}
            =image_tag("linkedin.png")
    %p 
      Since coming to China, I've played different roles at the intersection of business, policy and academia. Previously, I led Asia programming for the World Economic Forum, where I was also a Global Leadership Fellow, and worked for Standard Chartered Bank (China) Ltd. as a Business Planning Manager. 
    %p 
      I graduated from Stanford (BA), the London School of Economics (General Course), Tsinghua and INSEAD (Executive MBA). 

    .team_member
      = image_tag(("sameerkarim.png"), class: "headshot")
      .team_member_info
        %h2 Sameer Karim
        %p.job_title CTO
        .social_media_icons
          %a{href: "http://twitter.com/sameerkarim", target: "_blank"}
            =image_tag("twitter.png")
          %a{href: "http://lnkd.in/DK8dam", target: "_blank"}
            =image_tag("linkedin.png")
    %p 
      I've spent most of my career bouncing back and forth between business and technology and I'm passionate about working with amazing people to bring disruptive solutions to market. I've also spent the last 12 years bouncing back and forth between the US and China.

    %p 
      I have worked at Accenture, Toyota, and Originate. I earned my BS from Carnegie Mellon University and my MBA from UCLA's Anderson School of Management.
    
    %p.originate
      =link_to image_tag("originate_icon.png"), "http://www.originate.com" 
    .clear-fix

      %p 
        An integral part of our team is our strategic partner Originate, a leading web product development and investment firm headquartered in California. Originate invests capital and its elite team of engineers and business experts in high potential startups and ideas.

    %h1
      %a{name: "recruiting"} Recruiting
    %p 
      Our team is growing and on the lookout for talented, entrepreneurial candidates who are 'doers' and share our vision.

    %p 
      Currently, we are searching for expertise in the following areas:
    %ul
      %li Video production and editing
      %li Web development
      %li UX
      %li Digital marketing
    %p
      If interested to get in touch with us, send your CV and cover letter to:
      %a{href: "mailto:career@prodygia.com"} career@prodygia.com
    %h1
      %a{name: "contact_us"} Contact
    %p 
      Our journey has just begun and this site is the first step toward making our vision come true.
    %p 
      Expect more features and functionality to be gradually added to the site in early 2014. We are working hard to bring you the best tools and experience possible. 
    %p
      We're currently working with select experts to bring their content on the site. If you would like to learn more about the expert community and how to become active, then follow this link to their dedicated  
      =link_to "For Experts", for_experts_path 
      page.

    %p If you would like to join us on this journey, we would very much like to hear from you.
    %p 
      For <span class="latobold"> general inquiries </span> and <span class="latobold"> support </span>, reach out to:  
      = mail_to "support@prodygia.com"

    %p
      For information about becoming an <span class="latobold"> Expert </span>, contact us at: 
      = mail_to "expert@prodygia.com"
