%section#static-main
  #nav-anchor
  %nav#about-us-sidebar.shadow
    .line-title
      %span FOR EXPERTS
    %ul
      %li
        %a{href: "#the_experts"}
          = image_tag("the_experts.png")
          = image_tag(("the_experts_hover.png"), class: "hidden")
          The Experts 
      %li
        %a{href: "#benefits"}
          = image_tag("benefits.png")
          = image_tag(("benefits_hover.png"), class: "hidden")
          Benefits 
      %li
        %a{href: "#toolkit"}
          = image_tag("toolkit.png")
          = image_tag(("toolkit_hover.png"), class: "hidden")
          The Expert Toolkit
      %li
        %a{href: "#get_in_touch"}
          = image_tag("get_in_touch.png")
          = image_tag(("get_in_touch_hover.png"), class: "hidden")
          Get in Touch 

  %article.shadow.margin-bottom
    %h1 
      %a{name: "the_experts"} The Experts
    = image_tag("for_experts_main_image.jpg")
    %p Looking for and selecting the right contacts for China can be a daunting task for anybody.
    %p A key benefit of the Prodygia platform is that members can get access to a pre-selected network of Experts, without the need to go through the vetting process: we have done the homework already!
    %p Prodygian experts have hands-on China experience with and distinct expertise in macro trends, business, entrepreneurship, technology, culture, or in a specific industry.
    %p They are English-speaking Chinese nationals and international professionals who have been based in China for at least a few years (and many for 10+ years) and have been immersing themselves first-hand in its unique culture.
    %p They are prolific in terms of sharing their expertise either in written form (publishing reports, articles, blog posts) and/or by speaking in public (i.e. trainings, informal meet-ups, conferences).
    %p They have demonstrated thought leadership in their domain of expertise and have become the point of reference for their communities of followers - clients, business networks, students, or simply readers and friends.
    %p Last but not least, Prodygian Experts have the entrepreneurial mindset and enthusiasm to explore and embrace innovative ways of delivering content and expertise via the internet.
    %p
      %em If you think you got what it takes to become an Expert on Prodygia, get in touch with us.
      %h1 
        %a{name: "benefits"} Benefits
      %p Qualified Experts share our vision and join Prodygia for a variety of reasons and here the four key reasons why you may consider it as well:
      %ol.benefit-line-height
        %li Strengthen Your Online Presence
        %ul
          %li Promote your expertise in the virtual space
          %li Complement your existing  online channels & networks
          %li Leverage new, free ways to go to market and increase brand visibility
          %li Reach global communities of users interested in learning about China
        %li Generate New Revenue Streams
        %ul
          %li Build and grow your community by publishing quality content
          %li Share your expertise via live online sessions and recorded videos on demand
          %li Set your own rates for your expertise
          %li Offer additional services to existing clients and generate new business leads
        %li Enjoy High Quality Production to Enhance Delivery of Your Content
        %ul
          %li Take advantage of our free technical support to tailor your 'offline' content for delivery online
          %li Capture quality content in one of our studios, your office or when "in action" speaking publicly
          %li Manage your own content and track your activity stream via your dashboard
        %li Pioneer This Innovative Concept with Us
        %ul
          %li Be among the first experts to join and contribute to shaping the platform
          %li Explore the Prodygia network of fellow entrepreneurial experts and early-adopters
          %li Contribute to incubating and launching a new way for the West to learn about China, and make your mark
      %h1 
        %a{name: "toolkit"} The Expert Toolkit
      %p As a Prodygian Expert you can take full advantage of the platform through a set of functionality which we call the Expert's Toolkit.
      %p The Toolkit allows you to do a number of things, some which are free to members - such as posting content and various community features - while other requires members to enroll for a fee, letting you monetize your China expertise. These include pre-recorded video-on-demand, live teleconferencing (1 to 1 and 1 to many), and live streaming.
      %p Of course, the more active you are on the platform using the full portfolio of functionality, the more you and your community will benefit from it.
      %p We are currently working hard to empower our Experts with the full Toolkit, as new functionality will be released during the next few months.
      %h1 
        %a{name: "get_in_touch"}Get in Touch
      %p If you think you got what it takes to become an Expert on Prodygia, we'd love to hear from you.
      %p
        Please send us an email at 
        %a{href: "mailto: expert@prodygia.com"} expert@prodygia.com 
        and tell us about your:
        %ul
          %li Background
          %li Area(s) of expertise
          %li Ideas for one or more topics you would like to promote on Prodygia
        %p One of us will get in touch with you within 48 hours.
