<ul class="formlist" class="mt0">
  <li>
    <label>使用规则&nbsp;&nbsp;</label>
    <%= f.select :rule, [['每日签到优惠', 0],['每日前几名签到优惠',1],['新用户首次签到优惠', 2],["累计签到优惠", 3]],{}, {:class => "p2 l", :onchange => "show_rulev($(this).val())"} %>
    
    <input type="submit" value="发 布" class="btn1 ml20 l" id="btnn3" style="display:<%= [1,3].include?(@coupon.rule.to_i) ? 'none' : '' %>" />
  </li>
  <li id="rulev" style="display:<%= [1,3].include?(@coupon.rule.to_i) ? '' : 'none' %>">
    <label id="lt"><%= rulev_lable(@coupon.rule.to_i) %></label>
    <%= f.text_field :rulev, :class => "inputs l"%><input type="submit" value="发 布" class="btn1 ml20 l"/>
  </li>
</ul>

<script type="text/javascript">
  function show_rulev(rv){
    if(rv == '1' || rv == '3')
    { 
      $('#rulev').css("display","block");
      lt = rv == '1' ? '前几名：' : "累计次数：";
      $('#lt').replaceWith('<label id="lt">' + lt + '</label>');
      $("#btnn3").css("display","none");
    }
    else{
      $('#rulev').css("display","none");
      $("#btnn3").css("display","block");
    }
      
  }
</script>