
<div class="subtitle">发布优惠券</div>


<%= form_for(@coupon, :url => '/shop_coupons/create',:html => { :multipart => true } ) do |f| %>

  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2>发布优惠券出错了</h2>

      <ul>
        <% @coupon.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="coupon">
    <% if @coupon.t.to_i == 1 %>
      <div id="imgText">
        <div class ='ldiv'>
          <input size="12" name="coupon[img]" type="file" class="inputImg"  >
        </div>
        <div class="rdiv" >
          <%= f.text_field :name, :class => 'stxt txt' %>
          <%= f.text_area :desc, :class => 'stxt atxt'%>
        </div>
      </div>
    <% end %>

    <% if @coupon.t.to_i == 2 %>
      <div id="allImg">
        <div class="adiv">
          <input size="30" name="coupon[img]" type="file" class="inputImg" style="margin-left:37px"  >
        </div>
      </div>
    <% end %>

  </div>


  <ul class="formlist" style="margin-top: 0px;">
    <%= render :partial => 'rewards',  :locals => {:f => f}  %>
    <li>
      
      <%= f.hidden_field :t, :value => @coupon.t %>
      <input type="submit" value="发 布" class="btn"/>
    </li>
  </ul>
<%  end %>






<%= link_to '返回列表', '/shop_coupons' %>

