<div class="subtitle">编辑优惠券</div>
<%= form_for(@coupon, :url => { :action => "update", :id => @coupon.id },:html => { :multipart => true } ) do |f| %>
  <div class="coupon">

    <% if @coupon.desc  %>
      <div class ='ldiv'>
        <input size="12" name="coupon[img]" type="file" class="inputImg"  >
      </div>
      <div class="rdiv" >
        <%= f.text_field :name, :class => 'stxt txt' %>
        <%= f.text_area :desc, :class => 'stxt atxt'%>
      </div>
    <%else%>
      <div class="adiv">
        <input size="30" name="coupon[img]" type="file" class="inputImg" style="margin-left:37px"  >
      </div>
    <%end%>
  </div>
  <ul class="formlist" style="margin-top: 0px;">
    <%= render :partial => 'rewards',  :locals => {:f => f}  %>
    <li><input type="submit" value="提 交" class="btn"/></li>
  </ul>
<% end %>

<%= link_to '返回列表', '/shop_coupons' %>

