<div class="title2"><h2>编辑优惠券</h2></div>
<%= form_for(@coupon, :url => shop_coupon_path(@coupon.id),:html => { :multipart => true, :id => 'cform' }) do |f| %>
  <div id="imgText">
    <div class="coupon">
      <input type="button" class="btns2" id="Btns" style="background:url('/images/pic11.jpg') center center no-repeat;"/>
	  <input name="coupon[img2]" type="file" class="none"  id="Files"/>
      <div class="rdiv" >
        <%= f.text_field :name,  :class => 'txt', :maxlength=>"14" %>
        <%= f.text_area :desc, :class => 'atxt'%>
      </div>
    </div>
    <ul class="formlist">
      <li>
        <label id="lt">关键字：</label>
        <%= f.text_field :text, :class => "txt l"%> <input type="submit" value="提 交" class="btn1 l ml20 mt5"/>
      </li>
    </ul>
  </div>
<% end %>

<%= link_to '返回列表', '/shop_coupons', :class=>"btn6 r" %>
<script>
LeftMenu(6);
$(document).ready(function(){
	$("#Btns").click(function(){
		$("#Files").click();
	});
	$("#coupon_name").click(function(){
		if($(this).val()=="点此输入名称"){
			$(this).val("");
		}
	});
	$("#coupon_desc").click(function(){
		if($(this).val()=="点此输入描述"){
			$(this).val("");
		}
	});
});
</script>