<div class="subtitle">优惠券列表</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="10%">缩略图</th>
    <th width="10%">类型</th>
    <th width="8%" align="center">已下载</th>
    <th width="8%" align="center">已使用</th>
    <th width="8%" align="center">详情</th>
    <th width="8%" align="center">停用</th>
    <th width="8%" align="center">删除</th>
  </tr>
  <% @coupons.each do |coupon| %>
    <tr>
      <td align="center" class="gray"><%=image_tag coupon.img.url(:t1) %></td>
      <td align="center" class="gray"><%= coupon.show_t2  %></td>
      <td align="center" class="gray"><%= link_to coupon.users.to_a.count, {:action => 'users', :id => coupon.id, :flag => 'down'} %></td>
      <td align="center" class="gray"><%= link_to coupon.users.to_a.count{|s| s['uat']},{:action => 'users', :id => coupon.id, :flag => 'use'} %></td>
      <td align="center" class="gray"><%= link_to '详情', shop_coupon_path(coupon) %></td>
      <td align="center" class="gray"><%= coupon.hidden ==1 ? '已停用' : (link_to '停用', '#', :onclick => "ajaxDeply($(this), '#{coupon.id}')") %></td>
      <td align="center" class="gray"><%= (link_to '删除', '#', :onclick => "ajaxDel($(this), '#{coupon.id}')") if coupon.users.blank? %></td>
    </tr>
  <% end %>
  <tr class="bottom">
    <td colspan="3" align="right">
      <%= generate_paginate.html_safe %>
    </td>
  </tr>
</table>

<script type ="text/javascript">
  function ajaxDeply(obj, coupon_id){
    if(confirm("确定停用此优惠券么？"))
    {
      $.get("/shop_coupons/ajax_deply",{id: coupon_id}, function(data) {
        obj.replaceWith(data['text'])
      });
    }
  }
  function ajaxDel(obj, coupon_id){
    if(confirm("确定删除此优惠券么？"))
    {
      $.get("/shop_coupons/ajax_del",{id: coupon_id}, function(data) {
        if(data['text']){
          obj.parent().parent().remove();
        }
        else{
          obj.replaceWith('删除失败.')
        }
      });
    }


  }
</script>




