<h1>优惠券列表</h1>

<table>
  <tr>
    <th>商家id</th>
    <th>商家名称</th>
    <th>详情</th>
    <th>结束时间</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @coupons.each do |coupon| %>
    <tr>
      <td><%= coupon.shop_id %></td>
      <td><%= session_shop.name %></td>
      <td><%= coupon.desc %></td>
      <td><%= coupon.endt.try(:strftime,"%Y-%m-%d %H:%M:%S") %></td>
      <td><%= link_to '详情', shop_coupon_path(coupon) %></td>
      <td><%= link_to '编辑', edit_shop_coupon_path(coupon) %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to '新建优惠券', '/shop_coupons/new' %>
