
<div class="subtitle">发布优惠券</div>

<div id="Sele" style="height: 306px;width: 610px;margin-top: 10px;margin-left: 50px;">
  <%= link_to '图文模式',"#", :onclick => "imgText()" %>
  <%= link_to '全图模式',"#", :onclick => 'allText()' %>
</div>

<div id="couponForm" style="display: <%= params[:action]=='new' ? 'none' : '' %>;">
  <%= form_for(@coupon, :url => '/shop_coupons/create',:html => { :multipart => true, :id => 'cform' } ) do |f| %>
    <%= render :partial => 'imgtext', :locals => {:f => f}  %>
    <%= render :partial => 'allimg', :locals => {:f => f}  %>
  <%  end %>
</div>

<%= link_to '返回列表', '/shop_coupons' %>

<script type="text/javascript">
  function imgText(){
    $('#couponForm').show();
    $('#Sele').remove();
    $('#allImg').remove()
  }
  function allText(){
    $('#imgText').remove();
    $('#Sele').remove();
    $('#couponForm').show()
  }
</script>

