<div class="title2"><h2><%= params[:date] || '' %><%= params[:cid].blank? ? "" : "'#{Coupon.find_by_id(params[:cid]).try(:name)}'" %>下载记录</h2></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="35%" align="left" colspan="2">优惠券</th>
    <th width="20%" align="left">用户</th>
    <th width="10%" align="center">性别</th>
    <th align="center">下载时间</th>
  </tr>

  <%  @downs.each do |down| %>
    <tr>
      <td width="10%"><%=link_to image_tag(down.coupon_img.try(:url,:t1), :class=>"imgs4"), down.coupon_img.try(:url), :target => "blank" %></td>
      <td valign="center"><%= down.coupon_name %>
        <span class="gray f12">（<%= down.coupon_show_t2 %>）</span>
      </td>
      <td><%=link_to image_tag(down.user.head_logo.try(:img).try(:url,:t1), :class => "imgs"), down.user.head_logo.try(:img).try(:url), :target => 'blank' %>
        <%=link_to down.user_name, "/shop_checkins/user?uid=#{down.uid}"  %></td>
      <td align="center"><%= (down.user_show_gender)  %></td>
      <td align="center"><%= down.dat.since(8.hours).strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  <% end %>
</table>
<div class="pages mt15">
  <%= generate_paginate.html_safe %>
</div>

<script>
  LeftMenu(17);
</script>