<div class="title2"><h2>最新使用记录</h2></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="25%" align="left">优惠券</th>
    <th width="20%" align="left">用户</th>
    <th width="10%" align="center">用户性别</th>
    <th width="13%" align="center">用户生日</th>
    <th width="10%" align="center">用户微博</th>
    <th align="center">使用时间</th>
  </tr>

  <tr>
    <td>好上号优惠券</td>
    <td>QQ腾讯有限公司</td>
    <td align="center"><img src="../images/sign6.jpg"></td>
    <td align="center">2012-25-36</td>
    <td align="center"><a href="#">微博</a></td>
    <td align="center">2012-12-02 02:23</td>
  </tr>

  <% @uses.each do |use| %>
    <tr>
      <td><%= link_to(image_tag(Coupon.find(use[2]).img.url(:t1)), "/shop_coupons/#{use[2]}") %></td>
      <td><%= User.find_by_id(use[0]).try(:name)  %></td>
      <td align="center"><%= User.find_by_id(use[0]).try(:show_gender)  %></td>
      <td align="center"><%= User.find_by_id(use[0]).birthday.try(:to_date) %></td>
      <td align="center"><%= link_to '微博',User.find_by_id(use[0]).try(:weibo_home) %></td>
      <td align="center"><%= use[1].localtime.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  <% end %>
</table>

<div class="pages mt15">
  <%= generate_paginate.html_safe %>
</div>

<script>
  LeftMenu(16);
</script>