<p id="notice"><%= notice %></p>

<p>
  <b>商家id:</b>
  <%= @coupon.shop_id %>
</p>

<p>
  <b>商家名称:</b>
  <%= session_shop.name %>
</p>

<p>
  <b>详情:</b>
  <%= @coupon.desc %>
</p>

<p>
  <b>优惠券图片:</b>
  <br/>
  <%=image_tag(@coupon.img) %>
</p>


<%= link_to '编辑', edit_shop_coupon_path(@coupon) %> |
<%= link_to '返回列表', shop_coupons_path %>

