<div class="title2"><h2>优惠券详情</h2></div>
<div id="Notice" class="notice none"></div>
<% if @coupon.img.blank? %>
  <div id="imgText">
    <div class="coupon">
      <div class="btns" style="background: url('/images/btn/coupon.png') repeat scroll left top transparent;"></div>
      <div class="rdiv" >
        <div class = 'txt' style="border: none"><%= @coupon.name %></div>
        <div class = 'atxt' style="border: none"><%= @coupon.desc.gsub("\r\n","<br/>").html_safe %></div>
      </div>
    </div>
    <ul class="formlist">
      <li>
        <label>规则：</label><span class="right" style="width: 120px"><%= @coupon.show_rule2 %></span>
      </li>
      <li>
        <label>关键字：</label><span class="right"><%= @coupon.text %></span>
      </li>
    </ul>
  </div>
<%else%>
  <div class="coupon">
    <div class="adiv" style="background:url('<%= @coupon.img%>') center center no-repeat;"></div>
  </div>
  <ul class="formlist">
    <li>
      <label>规则：</label><span class="right" style="width: 120px"><%= @coupon.show_rule2 %></span>
    </li>
    <li>
      <label>关键字：</label><span class="right"><%= @coupon.text %></span>
    </li>
  </ul>
  <div class="clear1"></div>
  <%= link_to '返回列表', shop_coupons_path, :class=>"btn6 r" %>
<% end %>
<script>LeftMenu(6);</script>