<div class="subtitle">优惠券详情</div>
<style>
  .coupon{height: 300px;width: 98%; margin: 10px 0; background-color:#fdfddf}
  .coupon .ldiv{border: 1px solid #EBEBEB;height: 95%; width: 59%;display: inline;float: left; margin: 1% 0 1% 1%;}
  .coupon .rdiv{height: 100%; width: 38%; float: right;display: inline-block}
  .coupon .rdiv .txt{width: 180px; margin-top: 10px;}
  .coupon img {width: 100%; height: 100%}
  .coupon .rdiv .area{}
</style>
<div class="coupon">
  <div class ='ldiv'>
    <%=  image_tag(@coupon.img) %>
  </div>
  <div class="rdiv" >
    <div class="txt">
      <%= @coupon.name %>
    </div>
    <div style = "width: 180px; height: 240px; margin-top: 10px;overflow: hidden;">
      <%= @coupon.desc %>
    </div>
  </div>
</div>


<%= link_to '编辑', edit_shop_coupon_path(@coupon) %> |
<%= link_to '返回列表', shop_coupons_path %>

