<div class="subtitle">优惠券详情</div>
<center class="gray2"><%= notice %></center>
<div class="coupon">
  <div class="adiv">
    <%=  image_tag(@coupon.img_url) %>
  </div>
</div>

<ul class="formlist2">
  <li>
    <span style="width: 100px;">中奖比率:</span>
    <span class="right"><%= "#{@coupon.ratio}%" %></span>
  </li>
  <li>
    <span style="width: 100px;">使用规则:</span>
    <span class="right"><%= "#{@coupon.show_rule}" %></span>
  </li>
</ul>



<%= link_to '编辑', edit_shop_coupon_path(@coupon) %> |
<%= link_to '返回列表', shop_coupons_path %>

