<div class="subtitle">优惠券详情</div>
<center class="gray2"><%= notice %></center>
<ul class="formlist2">
  <style>
    .coupon img {width: 100%; height: 100%}
  </style>
  <div class="coupon">
    <% if @coupon.t.to_i==1 %>

      <div class ='ldiv'>
        <%=  image_tag(@coupon.img) %>
      </div>
      <div class="rdiv" >
        <div>
          <h1 style="color:teal;"><%= @coupon.name %></h1>
        </div>
        <div class="desc" style = "width: 95%; height: 159px; margin-top: 10px;overflow: hidden;font-size:large;line-height: 20pt;">
          <%= @coupon.desc %>
        </div>
      </div>

    <%else%>
      <div class ='adiv'>
        <%=  image_tag(@coupon.img) %>
      </div>
    <%end%>
  </div>
  <li>
    <span style="width: 100px;">中奖比率:</span>
    <span class="right"><%= "#{@coupon.rewards}%" %></span>
  </li>
</ul>



<%= link_to '编辑', edit_shop_coupon_path(@coupon) %> |
<%= link_to '返回列表', shop_coupons_path %>

