- content_for(:title){@announcement.title}

.detail-wrapper
  = render "sessions/page_header", item: @announcement

  .detail.shadow.margin-bottom.clearfix
    .video-cover
      - if @announcement.video.available?
        = render "shared/sublime_video", video: @announcement.video
      - else
        = image_tag @announcement.cover.url
    %article
      = @announcement.description.html_safe

  = render partial: "comments/comments", locals: {commentable: @announcement}


-# hidden modals
= render "shared/sign_in_modal"

