- content_for(:title){@announcement.title}

= render "sessions/page_header", item: @announcement, item: @announcement, link_path: subscribe_path(@announcement, type: @announcement.class.name)

.detail.shadow.margin-bottom.clearfix
  .video-cover
    - if @announcement.has_video?
      = render "shared/sublime_video", item_resource: @announcement, poster_url: @announcement.cover.url
    - else
      = image_tag @announcement.cover.url
  %article
    = @announcement.description.html_safe

= render "welcome/box_content_modal"
