- content_for(:title){@announcement.title}

= render "sessions/page_header", item: @announcement, link_path: subscribe_path(@announcement, type: @announcement.class.name)

.detail.shadow.margin-bottom.clearfix
  .video-cover
    - if @announcement.try :video
      = render "shared/sublime_video", video: @announcement.video
    - else
      = image_tag @announcement.cover.url
  %article
    = @announcement.description.try :html_safe

.comments.margin-bottom
  %h4 
    = pluralize(@announcement.comments.count, "Comment")
  = render partial: "comments/comment", collection: @announcement.comments, as: :comment
  = render partial: "comments/form", locals: {parent: @announcement}



-# hidden modals
= render "shared/sign_in_modal"

