<h1><%= @shop_partner.shop.try(:name) %>合作商家</h1>
<%= javascript_include_tag "jquery-1.6.2.min.js" %>


<br/>
<br/>
<table border="1">
  <tr>
    <th>id</th>
    <th>名称</th>
    <th>电话</th>
    <th>区号</th>
    <th>地址</th>
    <th>分类</th>
    <th></th>
  </tr>

  <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.id.to_i %></td>
      <td><%= shop.name %></td>

      <td><%= shop.tel %></td>
      <td><%= shop.city %></td>
      <td><%= shop.addr %></td>
      <td><%= shop.show_t %></td>
      <td>
        <%= link_to '移除', 'javascript:void(0)' , :onclick => "ajaxDelSub($(this),'#{@shop_partner.id}', '#{shop.id}')"%>
      </td>
    </tr>

  <% end %>
</table>
<br />

<%= generate_paginate %>
<%= link_to '返回',request.env["HTTP_REFERER"] if request && request.env %> |



<%= link_to '添加合作商家', "#", :onclick => "addTr('#{@shop_partner.id}')" %>
|<%= link_to '批量添加合作商家',"/admin_shop_partners/find_shops?id=#{@shop_partner.id}" %>

<script type="text/javascript">
  function addTr(pid){
    inp = "<input type='text' onchange='ajaxAddBranch($(this),\"" +pid+ "\")'/>"
    $('table:first').append(
    "<tr><td>"+inp+"</td><td></td><td></td><td></td><td></td><td></td><td><a onclick='cancel($(this))'>取消</a></td></tr>"
  )
  }

  function ajaxAddBranch(obj,pid){
    $.get("/admin_shop_partners/ajax_add_partner",{id:obj.val(),pid:pid}, function(data){
      obj.parent().parent().replaceWith(data['text'])
    })
  }

  function cancel(obj){
    obj.parent().parent().remove()
  }

  function ajaxDelSub(obj, id, partner_id){
    if(confirm("确定要从合作商家中移除？"))
      $.get("/admin_shop_partners/ajax_del_partner",{id: id, partner_id: partner_id}, function(){
        obj.parent().parent().remove();
      })
  }

</script>
