.white-background.shadow
  = simple_form_for @video_interview, remote: true do |f|
    .form-group
      .col-sm-2
        = f.label :title, class: "control-label"
      .col-sm-6
        = f.text_field :title, :autofocus => true, class: 'form-control', input_html: { id: 'session-title-input' }

    .categories
      .form-group
        .col-sm-2
          = f.label :categories, class: "control-label", required: true
        .col-sm-6
          = f.association :categories, as: :check_boxes, collection: Category.all, label: false
    .form-group
      .col-sm-2
        = f.label :description, class: "control-label"
      .col-sm-8
        = f.cktext_area :description, input_html: { class: 'ckeditor' }, input_html: {class: 'session-description-input'}, label: false
    .form-group
      .col-sm-2
        = f.submit "submit", class: "btn btn-prodygia dashboard-buttons"
