- content_for(:title){ @video_interview.title }
= render "sessions/page_header", item: @video_interview, link_path: subscribe_path(@video_interview, type: @video_interview.class.name)

.detail.shadow.margin-bottom.clearfix
  .video-cover
    - if @video_interview.video.available?
      = render "shared/sublime_video", video: @video_interview.video
    - else
      = image_tag @video_interview.cover.url
  %article
    = @video_interview.description.try :html_safe

.comments.margin-bottom
  %h4 
    = pluralize(@video_interview.comments.count, "Comment")
  = render partial: "comments/comment", collection: @video_interview.comments, as: :comment
  = render partial: "comments/form", locals: {parent: @video_interview}


-# hidden modals
= render "shared/sign_in_modal"

