.control-group
  %label.control-label{for: "user_first_name"}First Name
  .controls
    = f.text_field :first_name, placeholder: "First Name", autofocus: true

.control-group
  %label.control-label{for: "user_last_name"}Last Name
  .controls
    = f.text_field :last_name, placeholder: "Last Name"

.control-group
  %label.control-label{for: "user_email"}Email
  .controls
    = f.email_field :email, placeholder: "Email"

.control-group
  %label.control-label{for: "user_password"}Password
  .controls
    = f.password_field :password, placeholder: "Password"

.control-group
  %label.control-label{for: "user_timezone"}Timezone
  .controls
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
