= simple_form_for(@session, url: @url, remote: true) do |f|
  %h3 Create new session
  = f.input :title, input_html: { id: "session-title-input"}
  .categories
    = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes
  = f.input :format, collection: %w(Lounge Forum Livestreaming), as: :select
  = f.input :cover, input_html: {id: "session-cover-input"}
  = f.label :current_image
  - if f.object.cover.url
    #cover-image
      = image_tag(f.object.cover.url)
  = f.input :video, input_html: {id: "session-video-input"}
  .start_date
    = f.label :date
    #datepicker.input-append.date
      = f.text_field :date, data: {format: "yyyy-MM-dd"}, type: "text"
      %span.add-on
        %i{ data: { time_icon: "icon-time", date_icon: "icon-calendar"}}
  .start_end_time
    = f.label :from
    #starttimepicker.input-append.date
      = f.text_field :start_time, data: {format: "hh:mm"}, type: "text"
      %span.add-on
        %i{ data: { time_icon: "icon-time", date_icon: "icon-calendar"}}
    = f.label :to
    #endtimepicker.input-append.date
      = f.text_field :end_time, data: {format: "hh:mm:ss"}, type: "text"
      %span.add-on
        %i{ data: { time_icon: "icon-time", date_icon: "icon-calendar"}}
  = f.input :time_zone, input_html: {id: "session-timezone-input"}
  = f.input :location, input_html: {id: "session-location-input"}
  = f.input :price, input_html: {id: "session-price-input"}
  = f.label :strategic_question
  = f.text_area :strategic_question
  %br
  %br
  %br
  = f.label :description
  = f.text_area :description, input_html: { class: "session-description-input"}

  = f.submit Session::COMMIT_TYPE[:draft], class: 'btn dashboard-buttons'
  %a#session-preview{href: '#modal', role: 'button', class: 'btn dashboard-buttons', data:{toggle: "modal"}} Preview
  = f.submit Session::COMMIT_TYPE[:publish], class: 'btn dashboard-buttons'
  = link_to Session::COMMIT_TYPE[:cancel], dashboard_expert_path(current_user), class: "btn dashboard-buttons"

  = render "live_session_modal", f: f
