#modal.modal.hide.fade{tabindex: '-1', role: 'dialog', aria:{labelledby: 'myModalLabel'}, aria:{hidden: 'true'}}
  .modal-body
    #main-content
      %h1.live-modal-title#session-title
      .live-modal-info-box
        .live-modal-image
          %img#session-cover
        .live-modal-info      
          .live-modal-up-box
            .live-modal-expert-info
              .live-modal-expert-portrait
                .live-modal-image-border
                  = image_tag(current_user.avatar.url)
                %p= current_user.expert_profile.company
              .live-modal-expert-name-title
                .live-modal-expert-name-value
                  = current_user.name
                %p= current_user.expert_profile.title
            .live-modal-category-info
              .live-modal-category-info-title
                Category
                #live-session-categories
            .clear-fix

          .live-modal-below-box
            .live-modal-location-info
              .item-wrapper
                #location-icon.icon
                  = image_tag "location.png"
                #location.item
                  #session-location
              .item-wrapper
                #time-icon.icon
                  = image_tag "time.png"
                #time.item
                  #session-datetime
                %p
                  %span.timezone-toggle ( Not in correct timezone? )
              .item-wrapper.content-type
                #content-type-icon.icon
                  = image_tag "content_type.png"
                #content-type.item
                  content_type
              .item-wrapper.price
                #price-icon.icon
                  = image_tag "price.png"
                #price.item
                  #session-price

            .live-modal-others
              %p Click below to entroll now!
              .enroll-button
                %p= link_to "Enroll Now!", "#", remote: true, class: 'enroll-text'
              %p.outline-font= link_to 'Tell A Friend', "#", remote: true
            .clear-fix
        .clear-fix
      .live-modal-video-frame
        = video_tag @session.video.url, controls: 'controls'
      .live-modal-summary#live-session-description
  .modal-footer
    %button.btn{data:{dismiss:'modal'}, aria:{hidden:'true'}} Close
    = f.submit Session::COMMIT_TYPE[:publish], class: 'btn btn-primary modal-submit' 
