.text-page-header-box.shadow
  .text-page-left-side
    .text-page-portrait
      = image_tag("#{content.expert.avatar.url}")
    .text-page-expert-info
      .name
        = content.expert.name
      .title
        = content.expert.profile.title
      .company
        = content.expert.profile.company
    .clear-fix.visible-phone
  .text-page-middle
    .title
      = content.title
    .datetime
      = "originally published on #{content.created_at.to_date.to_formatted_s(:course_date)}"
      &nbsp
    -unless content.categories.empty?
      .category-name
        = "|"
        &nbsp
        = content.categories.join(", ")
  .text-page-right-side
    .text-page-social-buttons
      - if defined?(link_path)
        = render 'shared/favorite_star', method: :has_subscribed?, object: content, link_path: link_path
      = render 'shared/social_share', session_title: content.title, session_url: session_url(content)
  .clear-fix
