.text-page-header-box.shadow
  .text-page-left-side
    .text-page-portrait
      = link_to image_tag("#{item.expert.avatar.url}"), profile_expert_path(item.expert)
    .text-page-expert-info
      .name
        = link_to item.expert.name, profile_expert_path(item.expert)
      .title
        = item.expert.profile.title
      .company
        = item.expert.profile.company
    .clear-fix.visible-phone
  .text-page-middle
    .title
      = item.title
    .datetime.separator
      = item.created_at.to_date.to_formatted_s(:course_date)
    .category-name
      = item.categories.join(", ")
  .text-page-right-side
    .text-page-social-buttons
      .social-share-icons
        .social-share.favorite-star
          - if current_user.blank?
            = link_to image_tag('favorite_unselected.png'),'#modal', data:{toggle: "modal"}
          - else
            = render partial: "shared/favorite_star", locals: { method: :has_subscribed?, object: item, link_path: link_path }
      = render 'shared/social_share', item: item 
  .clear-fix
