= simple_form_for(@session, url: @url, remote: true)  do |f|
  %h3 Post a new Content
  = f.input :title, input_html: { id: 'session-title-input' }
  = f.input :cover
  = f.label :current_image
  - if f.object.cover.url
    #cover-image
      = image_tag(f.object.cover.url)
  = f.input :description, input_html: { class: 'ckeditor' }, input_html: {class: 'session-description-input'}
  .categories
    = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes

  = f.submit Session::COMMIT_TYPE[:draft], class: 'btn dashboard-buttons'
  %a#session-preview{href: '#modal', role: 'button', class: 'btn dashboard-buttons', data:{toggle: "modal"}} Preview
  = f.submit Session::COMMIT_TYPE[:publish], class: 'btn dashboard-buttons'
  = link_to Session::COMMIT_TYPE[:cancel], dashboard_expert_path(current_user), class: "btn dashboard-buttons"
  
  = render "post_content_modal", f: f
