.white-background.shadow
  = simple_form_for(@session, url: @url, remote: true)  do |f|
    %h3 Post New Content
    = f.input :title, input_html: { id: 'session-title-input' }
    .categories
      = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes
    -# .language
    -#   = f.input :language, collection: Language.all, label_method: :long_version, value_method: :combine_version, include_blank: false
    = f.input :cover, label: "Upload image", input_html: { id: 'session-cover-input' }
    = f.label :current_image
    - if f.object.cover.url
      #cover-image
        = image_tag(f.object.cover.url)
    = f.input :description, input_html: { class: 'ckeditor' }, input_html: {class: 'session-description-input'}

    = render "session_submit", { modal: 'post_content_modal', f: f }
