= simple_form_for(@session, url: @url, remote: true)  do |f|
  %h3 Post a new Content
  = f.input :title, input_html: { id: 'session-title-input' }
  = f.input :cover
  = f.label :current_image
  - if f.object.cover.url
    #cover-image
      = image_tag(f.object.cover.url)
  = f.input :description, input_html: { class: 'ckeditor' }, input_html: {class: 'session-description-input'}
  .categories
    = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes

  = render "session_submit", { modal: 'post_content_modal', f: f }
