.item
  .item-title
    = item.title
  .item-body
    .cover-wrapper
      = image_tag(item.cover.url, class: "cover")
      .social-share-icons
        = render "shared/social_share", item: item
    .statistic
      = truncate_html(item.description, length: 300, omission: '...')
      = "#{item.visit.page_views} people viewed" if item.visit

      -# note: there is no place to edit a video interview now
      - if item.is_a? ArticleSession
        %h4= link_to 'edit', edit_content_session_path(item), remote: true

    .something
      - if item.try(:draft)
        -# = "this is a draft |"
        = link_to "post it |", post_a_draft_session_path(item), remote: true
        = link_to "delete", cancel_draft_content_session_path(item), remote: true
  .draft-ribbon
    - if item.try(:draft)
      = image_tag("draft_ribbon.png")
        
