.item
  .item-title
    = item.title
  .item-body
    .cover-wrapper
      = image_tag(item.cover.url, class: "cover")
      .social-share-icons
        = render "shared/social_share", item: item
    .statistic
      = truncate_html(item.description, length: 300, omission: '...')
      %p#visits
        - count = course.visit.page_views
        = "Viewed by #{count} #{'person'.pluralize(count)}"

      - if item.is_a? Article
        %h4
          = link_to "edit", edit_article_path(item), class: "separator", remote: true
          - if item.draft
            = link_to "post it", post_a_draft_article_path(item), class: "separator", remote: true
            = link_to "delete", cancel_draft_content_article_path(item), remote: true
      - elsif item.is_a? VideoInterview
        %h4
          = link_to "edit", edit_video_interview_path(item), remote: true

  .draft-ribbon
    - if item.try(:draft)
      = image_tag("draft_ribbon.png")
        
