#review-order
  .title Review your order
  .content
    .session-title
      = image_tag @session.expert.avatar.url, class: 'pull-left'
      .primary-title
        = @session.title
      .second-title
        = "by #{@session.expert.name}"
    .body
      %p.beginning-date.info-icon-bg
        %span.order-info
          = @session.start_date.to_date.to_formatted_s()
      %p.type.info-icon-bg
        %span.order-info
          = @session.content_type.split(/(?=[A-Z])/)[0]
      %p.price.info-icon-bg
        %span.order-info
          = @session.price
      .pay
        = link_to 'Paypal', buy_now_session_path(@session)

#create-account
  %h3 Create an account
  .existing-account
    = raw "#{link_to "Login", new_user_session_path} to an existing account"
  .create-pay
    .omniauth
      = "FaceBook"
      = "LinkedIn"
    %hr
    .create
      = simple_form_for :user, url: user_registration_path do |f|
        = f.input :first_name
        = f.input :last_name
        = f.input :email
        = f.input :password
        = f.button :submit, value: 'Paypal'



