#order-wrapper

  #order
    #order-header
      %span.header Review your order

    #order-detail
      .item-wrapper
        #avatar
          = image_tag @session.expert.avatar.url
        #title.item
          = @session.title
          #expert.item
            = "by #{@session.expert.name}"

      .item-wrapper
        #time-icon.icon
          = image_tag "time.png"
        #time.item
          = render "timezone", time: @session.start_date, fallback: @session.time_zone, zone: nil
        %p
        = link_to "( Not in correct timezone? )", "#", class: "timezone-toggle", remote: true
        .timezone-confirmation
          = simple_form_for :time_zone, url: update_timezone_session_path(@session), remote: true do |f| 
            = f.input :time_zone, required: false, label: false, priority: /US/


      .item-wrapper
        #content-type-icon.icon
          = image_tag "content_type.png"
        #content-type.item
          = @session.content_type[0..-8]  # ***Session

      .item-wrapper
        #price-icon.icon
          = image_tag "price.png"
        #price.item
          = price_tag(@session.price)
          - if user_signed_in?
            %span.paypal-button
              = paypal_or_enroll_button(item)
              -# = session_pay_link

  - if not user_signed_in?
    #account
      #account-header
        %span.header Create an account
        #login
          = raw "#{link_to "Login", new_user_session_path, class: 'link'} to an existing account"

      #account-detail
        .social-login
          =link_to image_tag("facebook_signin.png"), user_omniauth_authorize_path(:facebook)
          =link_to image_tag("linkedin_signin.png"), user_omniauth_authorize_path(:linkedin)
        .devise-form
          - url_path = (@session.free?) ? sign_up_confirm_session_path(@session) : sign_up_buy_session_path(@session)
          =simple_form_for :user, url: url_path do |f|
            = render 'form_fields', f: f
            - if @session.price == 0.00
              =f.button :submit, value: "Sign up & Confirm"
            - else
              =f.button :submit, value: '', id: 'paypal-register-button'
            %br
            %span#hint Create account and pay with Paypal
