#order-wrapper

  #order
    #order-header
      %span.header Review your order

    #order-detail
      .item-wrapper
        #avatar.icon
          = image_tag @session.expert.avatar.url
        #title.item
          = @session.title

      .item-wrapper
        #fake.icon
        #expert.item
          = "by #{@session.expert.name}"

      .item-wrapper
        #time-icon.icon
          = image_tag "time.png"
        #time.item
          = @session.start_date.to_formatted_s(:time_for_order).html_safe if @session.start_date


      .item-wrapper
        #content-type-icon.icon
          = image_tag "content_type.png"
        #content-type.item
          = @session.content_type[0..-8]  # ***Session

      .item-wrapper
        #price-icon.icon
          = image_tag "price.png"
        #price.item
          = number_to_currency(@session.price) + "(USD)"
          - if user_signed_in?
            %span.paypal-button
              = link_to image_tag("paypal_button.png"), buy_now_session_path(@session)

  - if not user_signed_in?
    #account
      #account-header
        %span.header Create an account
        #login
          = raw "#{link_to "Login", new_user_session_path, class: 'link'} to an existing account"

      #account-detail
        #social-login
          -# =link_to "Facebook", user_omniauth_authorize_path(:facebook)
          -# =link_to "Linked In", user_omniauth_authorize_path(:linkedin)
        #quick-register-form
          =link_to image_tag("fb_signin.png"), user_omniauth_authorize_path(:facebook)
          =link_to image_tag("linkedin_signin.png"), user_omniauth_authorize_path(:linkedin)
          %HR
          =simple_form_for :user, url: sign_up_buy_session_path(@session) do |f|
            =f.input :first_name
            =f.input :last_name
            =f.input :email
            =f.input :password
            =f.button :submit, value: '', class: 'paypal-register-button'
          %span#hint Create account and pay with Paypal
