%h1 Sessions

%table
  %tr
    %th Title
    %th Expert
    %th Image
    %th Description
    %th
    %th

  - @sessions.each do |session|
    %tr
      %td= session.title
      %td= session.expert.name
      %td= image_tag(session.image_url)
      %td= session.description
      %td= link_to 'Show', session
      %td= link_to 'Edit', edit_session_path(session)
      %td= link_to 'Destroy', session, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Session', new_session_path
