#main-content
  #flash
    - if flash[:success]
      .alert.alert-success
        %button{ type: "button", class: 'close', data: { dismiss: 'alert' } } &times;
        = flash[:success]

  %h1.video-page-title #{@session.title}
  .video-page-info-box
    .video-page-image
      = image_tag(@session.cover.url)
    .video-page-info.video-page-info-width
      .video-page-up-box
        .video-page-expert-info
          .video-page-expert-portrait
            .video-page-image-border
              = image_tag(@session.expert.avatar.url)
            %p= @session.expert.expert_profile.company
          .video-page-expert-name-title
            .video-page-expert-name-value
              = @session.expert.name
            %p= @session.expert.expert_profile.title
        .video-page-category-info
          .video-page-category-info-title
            Category
          - @session.categories.each do |e|
            - if e == @session.categories[-1]
              %p #{e}
            - else
              %p #{e},
        .clear-fix
      .video-page-below-box
        .video-page-location-info
          .item-wrapper
            #location-icon.icon
              = image_tag "location.png"
            #location.item
              = (@session.location == "") ? "To be announced" : @session.location 
          .item-wrapper
            #time-icon.icon
              = image_tag "time.png"
            #time.item
              -# = (@session.start_date == nil) ? "To be announced" : @session.start_date.to_formatted_s(:time_for_order).html_safe
              = (@session.start_date == nil) ? "To be announced" : @session.start_date.in_time_zone(Time.zone).to_formatted_s(:short) 
              = Time.zone.name
          .item-wrapper
            #content-type-icon.icon
              = image_tag "content_type.png"
            #content-type.item
              = @session.content_type[0..-8]  # ***Session
          .item-wrapper
            #price-icon.icon
              = image_tag "price.png"
            #price.item
              - if @session.price == 0
                = "Free"
              - else
                = number_to_currency("#{@session.price}", :unit => "$")
                USD

        .video-page-others
          %p Click below to entroll now!
          .enroll-button
            - if (user_signed_in? and (current_user.enrolled_sessions.include? @session))
              %p.enroll-text
                = "Enrolled"
            -else
              %p= link_to "Enroll Now!", enroll_session_path(@session), class: 'enroll-text'
          %p.outline-font= link_to 'Tell A Friend'
        .clear-fix
    .clear-fix
  -if !@session.video.url.eql?"/videos/original/missing.png"
    .video-page-video-frame
      = video_tag @session.video.url, controls: 'controls'
  .video-page-summary
    %p= @session.description.html_safe
