<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-itunes-app" content="app-id=577710538,app-argument=dface://login/" />
  <meta http-equiv="mobile-agent" content="format=xhtml; url=http://dface.cn/mini.html" />
  <title>快来看！<%= @wish.people %>为<%= @wish.photo_user.try(:name) %>发来了2014新春祝福！</title>
  <link rel="stylesheet" href="http://shop.dface.cn/nyd/css/public.css" type="text/css" media="screen"/>
  <script src="http://shop.dface.cn/nyd/js/jquery-1.6.2.min.js" language="javascript" type="text/javascript"></script>
  <script src="http://shop.dface.cn/nyd/js/jq.snow.js"></script>
  <style type="text/css">
    .plane4 .hide { display: none; }
    #More, #PicBox { display: none; }
  </style>
</head>
<body>
  <div class="main">
    <a id="BG">谢谢<img src="http://s.dface.cn/nyd/images/sign2.png"/>收到你的祝福啦
      <img src="http://s.dface.cn/nyd/images/sign3.png"/>
    </a>
    <div class="con">
      <div class="imgsbox">
        <!--<img class="imgs" src="/nyd/images/pic7.jpg">-->
        <%= image_tag "#{@wish.try(:photo).try(:nyd_img_url)}" , :class => "imgs" %>
        <div class="imgs2 <%= 'none' if [1,2,3,4].index(@wish.template) %>">
          <img src="http://s.dface.cn/nyd/images/pic1_01.jpg" class="block">
          <img src="http://s.dface.cn/nyd/images/pic1_02.png" class="l">
          <img src="http://s.dface.cn/nyd/images/pic1_03.jpg" class="r">
          <img src="http://s.dface.cn/nyd/images/pic1_04.jpg" class="block">
        </div>
        <div class="imgs2 <%= 'none' if @wish.template != 1 %>">
          <img src="http://s.dface.cn/nyd/images/pic2_01.jpg" class="block">
          <img src="http://s.dface.cn/nyd/images/pic2_02.png" class="l">
          <img src="http://s.dface.cn/nyd/images/pic2_03.jpg" class="r">
          <img src="http://s.dface.cn/nyd/images/pic2_04.jpg" class="block">
        </div>
        <div class="imgs2 <%= 'none' if @wish.template != 2 %>">
          <img src="http://s.dface.cn/nyd/images/pic3_01.jpg" class="block">
          <img src="http://s.dface.cn/nyd/images/pic3_02.png" class="l">
          <img src="http://s.dface.cn/nyd/images/pic3_03.jpg" class="r">
          <img src="http://s.dface.cn/nyd/images/pic3_04.jpg" class="block">
        </div>
        <div class="imgs2 <%= 'none' if @wish.template != 3 %>">
          <img src="http://s.dface.cn/nyd/images/pic4_01.jpg" class="block">
          <img src="http://s.dface.cn/nyd/images/pic4_02.png" class="l">
          <img src="http://s.dface.cn/nyd/images/pic4_03.jpg" class="r">
          <img src="http://s.dface.cn/nyd/images/pic4_04.jpg" class="block">
        </div>
        <div class="imgs2 <%= 'none' if @wish.template != 4 %>">
          <img src="http://s.dface.cn/nyd/images/pic5_01.jpg" class="block">
          <img src="http://s.dface.cn/nyd/images/pic5_02.png" class="l">
          <img src="http://s.dface.cn/nyd/images/pic5_03.jpg" class="r">
          <img src="http://s.dface.cn/nyd/images/pic5_04.jpg" class="block">
        </div>
        <img class="imgs3" src="http://s.dface.cn/nyd/images/pic6.png">
      </div>
      <div class="plane">
        <div class="content">
          <div class="tit">
            <%= image_tag @wish.user_logo, :align => "absbottom" %>
            <h2><a><%= @wish.photo_user.try(:name) %></a>的心愿：</h2>
          </div>
          <p><%= @wish.photo_desc %></p>
        </div>
      </div>
      <div class="clear1"></div>
      <div class="plane7" id="PicBox">
		<div class="blue">
			<img rel="0" src="http://s.dface.cn/nyd/images/p1.png">
			选我吧
		</div>
		<div class="orange">
			<img rel="1" src="http://s.dface.cn/nyd/images/p2.png">
			选我吧
		</div>
		<div class="red">
			<img rel="2" src="http://s.dface.cn/nyd/images/p3.png">
			选我吧
		</div>
		<div class="red2">
			<img rel="3" src="http://s.dface.cn/nyd/images/p4.png">
			选我吧
		</div>
		<div class="black">
			<img rel="4" src="http://s.dface.cn/nyd/images/p5.png">
			选我吧
		</div>        
      </div>
      <div class="plane3">
        <a name="a1"></a>
        <div class="l">我已经收到
          <span class="pink"><%= @wish.total %></span>个祝福啦
          <a href="/nyd/rule.html" target="_blank" class="f13">（活动详情）</a><br>
          <%if @wish.total.to_i < 30 %>
          <span class="pink">
            还差<%= (30 - @wish.total.to_i) < 0 ? 0: (30- @wish.total.to_i)%>个祝福就有机会拿到1000元春节红包啦，
            赶紧祝福我噢~
          </span>
          <%else%>
          <span class="pink">你的人气爆棚！30个祝福已经集满！正式加入千元红包抢夺大军啦！祝福越多，中奖几率越高噢😉</span>
          <%end%> 
        </div>
      </div>
      <div class="plane4">
        <ul id="Mes">
          <% @wish.data.reverse.each do |data| %>
            <li class="hide"><a><%= data.join(': ') %></a></li>
          <% end %>
        </ul>
        <div class="clear1"></div>
        <a class="r mr30 pointer" id="More">查看更多</a>
      </div>
      <div class="plane5">
        <div class="title1">祝福TA：</div>
        <%= hidden_field_tag :id, params[:id], id: "wish_id" %>
        <div class="inputbox1">
          <%= text_field_tag :name, params[:name] ||'祝福人', class: "texts" %>
        </div>
        <div class="inputbox2">
          <%= text_area_tag :wish, params[:wish] || '祝福语'%>
        </div>
        <div class="clear1"></div>
        <a id="Btn" class="btn r mb30" href="#a1"></a>
      </div>
      <a target="_blank" href="http://www.dface.cn/mini.html" class="btn2">
        我也要<%= @wish.people %>的祝福~
      </a>
      <div class="plane6">
        <a href="http://www.dface.cn/mini.html" target="_blank">
          <img src="http://s.dface.cn/nyd/images/logo.png">
        </a>
      </div>
    </div>
  </div>
  <script>
  var name_list = ['梦露', '金正恩', '习主席', '财神爷', '奥巴马'];
  var dface_var = {}

  function dface_init(sid,uid) {
    dface_var.sid = sid;
    dface_var.uid = uid;

    var user = "<%= @wish.try(:photo_user).try(:id) %>";
    if (dface_var.uid == user && user != "") {
      $("#PicBox").show();
    };
  }

  $(document).ready(function(){
    var wish_size = $("#Mes li").size();
    if (wish_size > 20) {
      $("#More").show();
    };
    $("#Mes li.hide:lt(20)").removeClass("hide");

    $("#More").click(function(){
      $("#Mes li.hide:lt(20)").removeClass("hide");
      if ($("#Mes li.hide").size == 0) {
        $("#More").hide();
      };
    });

    $("#name").click(function(){
      if($(this).val()=="祝福人"){
        $(this).val("");
      }
    });
	
	$.fn.snow({ 
		minSize: 10,		//雪花的最小尺寸
		maxSize: 20, 	//雪花的最大尺寸
		newOn: 400		//雪花出现的频率 这个数值越小雪花越多
	});
    $("#wish").click(function(){
      if($(this).val()=="祝福语"){
        $(this).val("");
      }
    });

    $("#PicBox img").click(function(){
      var n=$(this).attr("rel");
      $(".imgs2").addClass("none");
      $(".imgs2").eq(n).removeClass("none");
      $(".btn2").text("我也要" + name_list[n] + "的祝福~");
      $("title").text("快来看！" + name_list[n] + "为<%= @wish.photo_user.try(:name) %>发来了2014新春祝福！");
      $.post("/new_year_wish/update", {
        template: n, 
        id: $("#wish_id").val(), 
        uid: dface_var.uid
      }, function(){
      });
    });
  });

  var timer=timer2=timer3=1;
  $("#Btn").click(function(){
    var n=$("#name").val(), w=$("#wish").val();
    if(n==""||n=="祝福人"||w==""||w=="祝福语"){
      return false;
    }

    $.get("/new_year_wish/create",{name: n, wish: w, id: $("#wish_id").val()}, function(data){
      if (data["error"] == 1 ) {
        alert(data["message"]);
        return;
      };
      var i=0;
      
      $("#Mes li").removeClass("new");
      $("#Mes li a").removeAttr("style");
      
      var mes = "<li class='new'><a>" + n + "：" + data["message"] + "</a></li>";
      $("#Mes").prepend(mes);
      $("#name").val("祝福人"); 
      $("#wish").val("祝福语");
      
      clearInterval(timer);
      clearTimeout(timer2);
      clearTimeout(timer3);

      timer2=setTimeout(function(){
        var bghigh=$(document).scrollTop()+($(window).height()-80)/2;
        var bgleft=$(document).scrollLeft()+($(window).width()-225)/2;
        $("#BG").css({"top":bghigh+"px","left":bgleft+"px"});
        $("#BG").fadeIn(500);
      },250);
      
      timer3=setTimeout(function(){
        $("#BG").fadeOut(500);
      },3000);
      
      timer=setInterval(function(){
        switch(i){
          case 0: $("#Mes li.new a").css({"color":"#FF1E1E","font-size":"13px"});break;
          case 1: $("#Mes li.new a").css({"color":"#3232FF","font-size":"13px"});break;
          case 2: $("#Mes li.new a").css({"color":"#bbb","font-size":"13px"});i=-1;break;
        }
        i++;
      },1000);
    });
  });
$("#BG").click(function(){
  $("#BG").fadeOut(500);
});
</script>
</body>
<iframe src="dface://init?mode=2" style="display:none" />
</html>

