<div class="title2"><h2>旅行团</h2></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="5%" align="left">id</th>
    <th width="9%" align="left">路线</th>
    <th width="5%" align="left">团号</th>
    <th width="10%" align="left">团名</th>
    <th width="7%" align="left">开始时间</th>
    <th width="7%" align="left">结束时间</th>
    <th width="24%" align="center" colspan="5">操作</th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td>
        <%=link_to group.sid||'', "/shop_groups/login?id=#{group.sid}" %>
      </td>
      <td>
        <%= group.line_name %>
      </td>
      <td>
        <%= group.code %>
      </td>
      <td>
        <%= group.name %>
      </td>
      <td>
        <%= group.fat.try(:to_date) %>
      </td>
      <td>
        <%= group.tat.try(:to_date) %>
      </td>
      <td>
        <%= link_to "详情", "/shop_groups/show?id=#{group.id}" %>
      </td>
      <td>
        <%= link_to "编辑", "/shop_groups/edit?id=#{group.id}" %>
      </td>
      <td>
        <%= link_to "签到", "/shop_groups/checkins?id=#{group.id}" %>
      </td>
      <td>
        <%= link_to "二维码", "/shop_groups/twocode?id=#{group.id}" %>
      </td>
      <td>
        <%= link_to "删除", "javascript:void(0)", :onclick => "ajaxDel($(this),'#{group.id}')" %>
      </td>
    </tr>
  <% end %>
</table>

<div class="pages mt15">
  <%= generate_paginate.html_safe %>
  <%= link_to '新建旅行团', '/shop_groups/new', :class=>'btn3 l' %>
</div>

<script type="text/javascript">
  LeftMenu(27);
  function ajaxDel(obj, line_id){
    if(confirm("确定删除？"))
      $.get("/shop_groups/del", {id: line_id}, function(){obj.parent().parent().remove()})
  }
</script>