<div class="title2"><h2>旅行团详情</h2></div>
<ul class="formlist">
  <li>
    <span style="width: 70px;">名称:</span>
    <span class="right" style="width: 300px;"><%= @group.name%>(路线+团号)</span>
  </li>
  <li>
    <span style="width: 70px;">开始时间:</span>
    <span class="right" style="width: 300px; "><%= @group.fat.to_date %></span>
  </li>
  <li>
    <span style="width: 70px;">结束时间:</span>
    <span class="right" style="width: 300px; "><%= @group.tat.to_date %></span>
  </li>
  <li>
    <span style="width: 70px;">认证提示:</span>
    <span class="right" style="width: 300px; "><%= @group.hint %></span>
  </li>
  <li>
    <span style="width: 70px;">用户:</span>
    <span class="right" style="width: 600px; ">
      <%= @group.show_users.html_safe%>
    </span>
  </li>

  <a class="btn6 r" href="/shop_groups">返回列表</a>
</ul>

<script type="text/javascript">
  LeftMenu(27);
</script>