%h1 Listing join_experts

%table
  %tr
    %th Name
    %th Location
    %th Email
    %th Expertise
    %th
    %th
    %th

  - @join_experts.each do |join_expert|
    %tr
      %td= join_expert.Name
      %td= join_expert.Location
      %td= join_expert.Email
      %td= join_expert.Expertise
      %td= link_to 'Show', join_expert
      %td= link_to 'Edit', edit_join_expert_path(join_expert)
      %td= link_to 'Destroy', join_expert, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Join expert', new_join_expert_path
