<div class="title2"><h2>用户评分</h2></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>

    <th width="20%" align="left">用户</th>
    <th width="20%" align="left">商家</th>
    <th width="20%" align="left" >时间</th>

    <th width="10%" align="left" >评分</th>
    <th width="20%" align="left" >评语</th>
    <th width="20%" align="left">旅行团</th>

  </tr>

  <% @shop_marks.each do |mark| %>
    <tr>
      <td>
        <%=  link_to mark.user_name || "", "/shop_checkins/user?uid=#{mark.uid}"  %>
      </td>
      <td>
        <%= mark.shop_name   %>
      </td>
      <td>
        <%= mark.cat.strftime("%Y-%m-%d %H:%M:%S")   %>
      </td>

      <td>
        <%= mark.mark.to_i   %>
      </td>
      <td>
        <%=truncate mark.com, :length => 20   %>
      </td>
      <td>
        <%=link_to mark.group_name||'', "shop_groups/show?id=#{mark.gid}"   %>
      </td>

    </tr>
  <%end%>
</table>

<div class="pages mt15">
  <%= generate_paginate.html_safe %>
</div>

<script type="text/javascript">
  LeftMenu(31);
</script>