<%= notice %>

<h3>欢迎你</h3>
<p>
  <%= link_to "注销", "/shop_login/logout" %>
</p>
<p>
  <%= link_to "修改密码", "/shop_pass/index" %>
</p>
<p>
  <%= link_to "发布公告", "/shop_notices" %>
</p>
<p>
  <%= link_to "签到列表", "/shop_checkins" %>
</p>
<p>
  <%= link_to "商家logo", "/shop_logos" %>
</p>