html = "<div id='gameRank'><h1 class='tc'>现场排行榜</h1><p>游戏得分: <%= @game.score %></p> <p> 现场排名: <%= @rank %></p><ul>"
    <% @data.each_with_index do  |data, index| %>
      html += "<li><%= index+1 %> <%= data[:uname] %> <span class='fr'><%= data[:score] %></span>  </li>"
    <% end %>

    html +=  "</ul><span onclick='dface_restart()'> 重玩</span><span onclick='dface_close();'> 退出</span></div>"
$('body').append(html);


