<h1>Listing blacklists</h1>

<table>
  <tr>
    <th>User</th>
    <th>Block</th>
    <th>Report</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blacklists.each do |blacklist| %>
  <tr>
    <td><%= blacklist.user_id %></td>
    <td><%= blacklist.block_id %></td>
    <td><%= blacklist.report %></td>
    <td><%= link_to 'Show', blacklist %></td>
    <td><%= link_to 'Edit', edit_blacklist_path(blacklist) %></td>
    <td><%= link_to 'Destroy', blacklist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blacklist', new_blacklist_path %>
