<div class="con">
  <div class="title1 mb30"><h2 class="f18">拓展功能</h2></div>
  <div class="submenu">
    <ul>
      <li class="hover"><a>线路图</a></li>
      <li><%= link_to "旅行团", "/shop3_groups" %></li>
      <li><%= link_to "合作商家", "/shop3_partners" %></li>
      <li><%= link_to "合作商家评分", "/shop3_partners/mark" %></li>
    </ul>
    <div class="r wordstyle">
      <a href="/shop3_lines/new" class="btn9">新建线路图</a>
    </div>
  </div>

  <table width="100%" cellspacing="0" cellpadding="0" class="tab2">
    <tr id="Tr0">
      <th width="235">名称</th>
      <th width="500">线路</th>
      <th width="95">&nbsp;</th>
    </tr>

    <%  @lines.each do |line| %>
      <tr>
        <td valign="middle">
          <%= link_to line.name, "/shop3_lines/show?id=#{line.id}", :class => "f14" %>
        </td>
        <td>
          <%=  show_time(line.arr.first['time'])  %>
          ...
          <%=  show_time(line.arr.last['time2'])  %>
        </td>
        <td align="center">
          <%= link_to "","/shop3_lines/edit?id=#{line.id}", :class => "edit mr10", :title => "编辑"  %>
          <%= link_to "", "javascript:void(0)", :class => "del", :title => "删除", :onclick => "Del(this, '#{line.id}')"%>
        </td>
      </tr>

    <% end %>
  </table>
  <%= generate_paginate %>
</div>

<script defer="defer">
  $(document).ready(function(){
    runing=$("#CB1").attr("class");
    if(runing=="checkboxs1"){
      NavDiv();
      $(window).load(function(){
        MessageDiv();
      });
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }

    $(".tab2 tr:odd").addClass("trbg");
  });
  function Del(obj,id){
    var delTimer,i=3;
    $(obj).removeAttr("onclick").removeClass().attr("title","").addClass("cancel").html("取消&nbsp;"+i);
    delTimer=setInterval(function(){
      if(i>0){
        i--;
        $(obj).css("display","none");
        $(obj).html("取消&nbsp;"+i);
        $(obj).fadeIn(500);
      }else if(i<=0){
        clearInterval(delTimer);
        $.post("/shop3_lines/del", {id: id}, function(){
          $(obj).parent().parent().remove()
        })
      }
    },700);

    $(obj).attr("onclick","Cancel(this,"+delTimer+")");
  }
  function Cancel(obj,dt, id){
    clearInterval(dt);
    $(obj).removeClass().html("").attr("title","删除").addClass("del").attr("onclick",id);
  }
</script>