
= form_for parent.comments.build, remote: true do |f|
  = f.hidden_field :user_id, value: current_user.try(:id)
  = f.hidden_field :commentable_type, value: parent.class.name
  = f.hidden_field :commentable_id, value: parent.id
  = f.text_area :content

  %span.comment-btn.btn Leave a Comment

