
<h1>
  修改群组
</h1>
<%= form_for(@group, :url => "/admin_groups/update") do |f| %>
  <%= hidden_field_tag :id,@group.id %>
  <p>
    名称:<br />
    <%= f.text_field :name %>
  </p>

  <p>
    认证提示信息:<br />
    <%= f.text_field :hint %>（加入此团的认证提示信息）
  </p>

  <p>
    密码：<br />
    <%= f.text_field :pass %>（加入时的默认密码，可以没有）
  </p>

  <p>
    开始时间:<br />
    <%= f.text_field :fat  %>(如: <%= Time.now.strftime("%Y-%m-%d") %>,可以不填 )
  </p>

  <p>
    结束时间:<br />
    <%= f.text_field :tat %>(如: <%= Time.now.strftime("%Y-%m-%d") %>,可以不填 )
  </p>


  <p>
    区号:<br />
    <%= text_field_tag :city, @group.shop.city  %>(必填)
  </p>


  <p>
    <%= f.submit "保存" %>
  </p>
<% end %>