<script type="text/javascript" src="/javascripts/My97DatePicker/WdatePicker.js" ></script>

<h1>商家列表</h1>
<%= link_to '添加商家', new_shop_path %>
<%= form_tag shops_path,:method =>:get do %>
  <p>
    商家ID:<%= text_field_tag :id, params[:id] %>
    联系方式:<%= text_field_tag :phone, params[:phone] %>
    商家名称:<%= text_field_tag :name, params[:name] %>
    联系人:<%= text_field_tag :linkman, params[:linkman] %>
    排序:<%= select_tag :order_by, options_for_select([["ID从大到小",0], ["ID从小到大",1], ["点评数从大到小",2],["点评数从小到大",3]],  :selected => params[:order_by].to_i)    %>
    <%= submit_tag "查 找", :name => nil %>
  </p>
<% end %>
  <form action="/shops/manual" method="post">
 
  <table border="1">
    <tr>
      <th>标记</th>
      <th>Id</th>
      <th>城市</th>
      <th>分类</th>
      <th>区域</th>
      <th>总点评数</th>
      <th>商家名称</th>
      <th>地址</th>
      <th>电话</th>
      <th>联系人</th>
      <th>经度</th>
      <th>纬度</th>
      <th>预览</th>
      <th>编辑</th>
    </tr>

    <% for shop in @shops %>
      <tr>
         <%= hidden_field_tag "all[]", shop.id  %>
        <td><%= check_box_tag "manuals[]", shop.id,shop.manual  %></td>
        <td><%=h shop.id   %></td>
        <td><%=h shop.mcity.try(:name)   %></td>
        <td><%=h shop.mcategory_join_name  %></td>
        <td><%=h shop.mdistrict_join_name   %></td>
        <td><%=h shop.comment_count  %></td>
        <td><%=h shop.name  %></td>
        <td><%=h shop.address  %></td>
        <td><%=h shop.phone  %></td>
        <td><%=h shop.linkman  %></td>
        <td><%=h shop.lng   %></td>
        <td><%=h shop.lat %></td>
        <td><%=link_to "预览", shop_path(shop) %></td>
        <td><%=link_to "编辑", edit_shop_path(shop) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="14">
        <%= submit_tag "提交" %>
      </td>
      
    </tr>

  </table>

</form>
<hr />

<div id="paginate" style="text-align: center">
  <%= generate_paginate @shops %>
</div>
