	<script>
	var navmove="off", runing;
	$(document).ready(function(){
		runing=$("#CB1").attr("class");
		if(runing=="checkboxs1"){
			NavDiv();
			$(window).load(function(){
				MessageDiv();
			});	
		}else if(runing=="checkboxs2"){
			AllNoDH();
		}
		
		//新增
		$("#CloseMoblie").click(function(){
			$("#Moblie").fadeOut(500,function(){
				$("#BG").css("display","none");
			});
		});
		
		$("#Moblie ul li a").click(function(){
			var rel=$(this).attr("rel");
			$("#Moblie ul li a").removeClass("hover");
			$(this).addClass("hover");
			$("#Moblie div.mobliecon").children(":first").removeClass().addClass(rel);
			$("#Turn").removeClass().addClass("turn1");
			if(rel=="blackberryframe"){
				$("#Turn").removeClass().addClass("turn3");
			}
		});

		$("#Turn").click(function(){
			var cla=$(this).attr("class");
			if(cla=="turn3"){
				return false;
			}else if(cla=="turn1"){
				$("#Moblie div.mobliecon").children(":first").addClass("turn");
				$(this).removeClass().addClass("turn2");
			}else if(cla=="turn2"){
				$("#Moblie div.mobliecon").children(":first").removeClass("turn");
				$(this).removeClass().addClass("turn1");
			}
		});
		
		$("#View").click(function(){
			var top;
			var documentHeight=$(document).height();
			var windowHeight=$(window).height();
			if(documentHeight<=windowHeight){
			  $("#BG").css({"height":windowHeight+"px","display":"block"});
			}else{
			  $("#BG").css({"height":documentHeight+"px","display":"block"});
			}
			$("#Moblie").css("display","block");
			top=$(document).scrollTop()+(windowHeight-$("#Moblie").height())/2;
			if(top<0){top=0;}
			$("#Moblie").css({"top":top+"px","display":"none"});
			$("#Moblie").fadeIn(600);
			$("#IFrame").attr("src","/cellphone/index.html");
			$(window).scroll(function(){
				top=$(document).scrollTop()+($(window).height()-$("#Moblie").height())/2;
				if(top<0){
					top=0;
				}else if(top>($(document).height()-$("#Moblie").height())){
					top=$(document).height()-$(window).height()+$("#Moblie").height()/2+"px";
				}
				$("#Moblie").css({"top":top+"px"});
			});
			$(window).resize(function(){
				documentHeight=$(document).height();
				windowHeight=$(window).height();
				if($("#Moblie").css("display")=="none"){return false;}
				if(documentHeight<=windowHeight){
				  $("#BG").css({"height":windowHeight+"px","display":"block"});
				}else{
				  $("#BG").css({"height":documentHeight+"px","display":"block"});
				}
				top=$(document).scrollTop()+(windowHeight-$("#Moblie").height())/2;
				$("#Moblie").css({"top":top+"px"});
			});
		});
	});
	</script>

		<div class="con">
			<div class="box14">
				<div class="box14left">
					<div class="title1"><h2 class="f18 l">图文</h2></div>
					<div class="submenu">
						<ul>
                            <li class="hover"><a href=<%= "/mobile_articles/new?c=#{params[:c]}" %> >发 布</a></li>
							<li><a href=<%= "/mobile_articles/index?c=#{params[:c]}" %> >管 理</a></li>
						</ul>
					</div>
					<div class="clear1 pt45"></div>
					<!-- <form method="post" action=""> -->
					<%= form_for @mobile_article, :url => "/mobile_articles/update?id=#{@mobile_article.id}", :html => {:multipart => true, :id => 'mobile_article_form'} do |f| %>

						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1">
						  <tr>
						  <td></td>
						  <td>
						  <%= hidden_field_tag :c, params[:c] %>
						  </td>
						  </tr>

						  <tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">标 题</td>
                            <td>
							<%= f.text_field :title, :class =>"inputs6 radius5 relative", :size => "30" %>
							<span class="mes">4-50个字</span>
							</td>
<!-- 							<td>
								<input class="inputs6 radius5 relative" size="30" type="text" value="">
								<span class="mes">4-50个字</span>
							</td> -->
						</tr>
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">图片</td>
							<td>
								<div class="uploadbox2" id="uploadPreview">
<!-- 									<img id="image_view" style="width:100%;height:100%;" src="/newbackstage/images/pic6.jpg"> -->
									<input class="filebox1" id="mobile_article_img" name="mobile_article[img]" type="file"/>
								</div>
							</td>
						</tr>
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">描 述</td>
							<td>
								<!-- <textarea class="textarea4 radius5 relative" cols="40" rows="20" style="word-wrap:normal"></textarea> -->
								<%= f.text_area :text, :class => "textarea4 radius5 relative", :style=>"word-wrap : normal"%>
								<span class="mes">选填 最多140字</span>
							</td>
						</tr>
						<tr>
							<td width="20%" align="right" valign="top" class="pr20 pt5">正文</td>
							<td>
								<!-- <img src="/newbackstage/images/pic30.jpg" width="390"/> -->
								<%= f.text_area :content, :id=>"myEditor" %>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
							    <%= f.submit :class => "btn20 w100", :value => "保 存" %>
								<!-- <input type="submit" name="Submit" value="保 存" class="btn20 w100"> -->
							</td>
						</tr>
					</table>
					<!-- </form> -->
					<% end %>
				</div>
				<div class="box14right">
					<div class="cpbox">
						<iframe frameborder="0" src="/mobile_articles/mobile_show"></iframe>
					<div>
				</div>
			</div>
		</div>

<script type="text/javascript" src="/ueditor/editor_all.js"></script>
<script type="text/javascript" src="/ueditor/editor_config.js"></script>
<script>
function ajaxDel(article_id){
	var top;
	documentHeight=$(document).height();
	windowHeight=$(window).height();
	if(documentHeight<=windowHeight){
	  $("#BG").css({"height":windowHeight+"px","display":"block"});
	}else{
	  $("#BG").css({"height":documentHeight+"px","display":"block"});
	}
	$("#DelDiv").css("display","block");
	top=$(document).scrollTop()+(windowHeight-$("#DelDiv").height())/2;
	$("#DelDiv").css({"top":top+"px","display":"none"});
	$("#DelDiv").fadeIn(600);

	$("#DelBtn").click(function(){
	  $.get("/mobile_articles/ajax_del",{id: article_id}, function(data) {
		if(data['text']){
		  $("#BG, #DelDiv").css("display","none");
		  $("#Tr"+index).fadeOut(300,function(){
			$(this).remove();
		  });
		}
		else{
		  alert('删除失败.')
		}
	  });
	});
}
function Close2(){
	$("#DelDiv").animate({"top":"0px"},400,function(){
		$("#DelDiv,#BG").css("display","none");
	});
}

ianlian = window.Lianlian = {};

(function() {

  Lianlian.Blog = {
    init: function() {
      var me;
      me = this;
      return me.newBlog();
    },
    newBlog: function() {

      var editor_a;
      editor_a = new baidu.editor.ui.Editor({
        autoHeightEnabled:false,
        initialFrameWidth:320,
        initialFrameHeight:200,
        imageUrl:"",
        imagePath:"",
        initialContent: ""
      });
      editor_a.render('myEditor');
      return $('.new_blog_form .submit').click(function() {
        var content, title;
        editor_a.sync();
        title = $('#blog_title').val();
        content = editor_a.getContent();
        if (title.length === 0) {
          $('#blog_title').addClass('error_border');
        }
        if (title.length > 0 && content !== '<p><br /></p>') {
          return $(this).parents('form').submit();
        }
      });
    }
  };

  $(document).ready(function() {
    return Lianlian.Blog.init();
  });
}).call(this);
</script>