	<script>
	var navmove="off", runing;
	$(document).ready(function(){
		runing=$("#CB1").attr("class");
		if(runing=="checkboxs1"){
			NavDiv();
			$(window).load(function(){
				MessageDiv();
			});	
		}else if(runing=="checkboxs2"){
			AllNoDH();
		}
	});
	</script>


		<div id="BG"></div>
		<div id="DelDiv">
			<center class="pt15">确定删除此项？</center>
			<a id="DelBtn"class="btn11 w55 mt10 l ml20">确定</a>
			<a onclick="Close2()" class="btn11 w55 mt10 r mr20">取消</a>
		</div>
		<div class="con">
			<div class="box14">
				<div class="box14left">
					<div class="title1"><h2 class="f18 l"><%= params[:c] %></h2></div>
					<div class="submenu">
						<ul>
							<li><a href=<%= "/mobile_articles/new?c=#{params[:c]}" %> >发 布</a></li>
							<li class="hover"><a href=<%= "/mobile_articles/index?c=#{params[:c]}" %> >管 理</a></li>
						</ul>
					</div>
					<div class="clear1"></div>
					<form method="post" action="">
						<table width="100%" cellpadding="0" cellspacing="0" class="tab2">
							<tr>
								<th >名称</th>
								<th width="95" class="cz">操 作</th>
								<a href="javascript:void(0)" class="edit" title="编辑"></a>
								<a href="javascript:void(0)" class="del" onclick="ajaxDel()" title="删除">
							</tr>
							
							<% @mobile_articles.each do |ma| %>
							<tr>
                              <td><%= ma.title %></td>
							  <td valign="middle" class="textcenter">
								   <a href=<%= "/mobile_articles/edit?id=#{ma.id}&c=#{params[:c]}" %> class="edit" title="编辑"></a>
								   <a href="javascript:void(0)" class="del" onclick="ajaxDel('<%= ma.id%>')" title="删除"></a>
							   </td>
                            </tr>
							<% end %>
                            

                            <% if @contact_lianlian_page && params[:c] == "公司介绍" %>
							<tr>
                              <td><%= @contact_lianlian_page.title%></td>
							  <td valign="middle" class="textcenter">

								   <a href="javascript:void(0)" class="del" onclick=
								   "ajaxDel('[<%= @shop.id %>]0')" title="删除"></a>
							   </td>
                            </tr>
                            <% end %>

                            <% if @welcome_page && params[:c] == "产品介绍" %>
							<tr>
                              <td><%= @welcome_page.title%></td>
							  <td valign="middle" class="textcenter">
							
								   <a href="javascript:void(0)" class="del" onclick=
								   "ajaxDel('[<%= @shop.id %>]1')" title="删除"></a>
							   </td>
                            </tr>
                            <% end %>
                            

							
							
<!-- 							<tr>
								<td>脸脸帮助</td>
								<td valign="middle" class="textcenter">
									<a href="javascript:void(0)" class="edit" title="编辑"></a>
									<a href="javascript:void(0)" class="del" onclick="ajaxDel()" title="删除"></a>
								</td>
							</tr>
							<tr>
								<td>欢迎您使用脸脸移动版网站</td>
								<td valign="middle" class="textcenter">
									<a href="javascript:void(0)" class="edit" title="编辑"></a>
									<a href="javascript:void(0)" class="del" onclick="ajaxDel()" title="删除"></a>
								</td>
							</tr> -->
							
						</table>
						<div class="pagination">
							  <div class="page">
								<div id="PageNum" style="display: none;">
									<a href="#">第1页</a>
									<a href="#">第2页</a>
									<a href="#">第3页</a>
									<a href="#">第4页</a>
									<a href="#">第5页</a>
									<a href="#">第6页</a>
									<a href="#">第7页</a>
									<a href="#">第8页</a>
									<a href="#">第9页</a>
									<a href="#">第10页</a>
								</div>
								<a class="pre dis">上一页</a>
								<span id="NowPage">第1页</span>
								<a href="#" class="next">下一页</a>
							  </div>
						</div>
					</form>
				</div>
				<div class="box14right">
					<div class="cpbox">
						<iframe frameborder="0" src="/mobile_articles/mobile_show"></iframe>
					<div>
				</div>
			</div>
		</div>


<script>
function ajaxDel(article_id){
	var top;
	documentHeight=$(document).height();
	windowHeight=$(window).height();
	if(documentHeight<=windowHeight){
	  $("#BG").css({"height":windowHeight+"px","display":"block"});
	}else{
	  $("#BG").css({"height":documentHeight+"px","display":"block"});
	}
	$("#DelDiv").css("display","block");
	top=$(document).scrollTop()+(windowHeight-$("#DelDiv").height())/2;
	$("#DelDiv").css({"top":top+"px","display":"none"});
	$("#DelDiv").fadeIn(600);

	$("#DelBtn").click(function(){
	  $.get("/mobile_articles/ajax_del",{id: article_id}, function(data) {
		if(data){
		  $("#BG, #DelDiv").css("display","none");
		 //  $("#Tr"+index).fadeOut(300,function(){
			// $(this).remove();
		 //  });
	      window.location.href='/mobile_articles/index';
		}
		else{
		  alert('删除失败.')
		}
	  });
	});
}
function Close2(){
	$("#DelDiv").animate({"top":"0px"},400,function(){
		$("#DelDiv,#BG").css("display","none");
	});
}
</script>