<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalabe=yes"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta content="no-cache" http-equiv="Cache-Control">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>脸脸</title>
        <link rel="stylesheet" href="/cellphone/css/public.css" />
		<script src="/cellphone/js/jquery-1.6.2.min.js"></script>
		<script src="/cellphone/js/jquery.mobile-1.3.2.min.js"></script>
		<script src="/cellphone/js/public.js"></script>
    </head>
    <body >
        <div class="header">
			<h1><%= session_shop.name %></h1>
			<a id="OpenMenu" alt="打开导航">打开导航</a>
			<div id="Menu">
			<a id="CloseMenu" alt="关闭导航"><span>关闭导航</span></a>
				<ul class="men">
					<li><a href=<%= "/mobile_articles/mobile_show" %> data-ajax="false">主页</a></li>
					<% if @mobile_space.menu.size>0 %>
					<% @mobile_space.menu.each do |m| %>
					<li><a href=<%= "/mobile_articles/content?c=#{m}" %> data-ajax="false"><%= m %></a></li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="DH">
			<div class="imgdiv">
			    <% if @mobile_welcome_banner %>
                <a href=<%= "#{@mobile_welcome_banner.url}" %> data-ajax="false">
                <%= image_tag( "#{MobileBanner.img_url(@mobile_welcome_banner.id)}?time=#{Time.now.to_i}", :style => "width:480px;height:202.5px" ) %>
                </a>
			    <% end %>
				<% @mobile_banners.each do |mb| %>
                <a href=<%= "#{mb.url}" %> data-ajax="false">
                <%= image_tag( "#{MobileBanner.img_url(mb.id)}?time=#{Time.now.to_i}", :style => "width:480px;height:202.5px" ) %>
                </a>
				<% end %>
			</div>
			<div class="dhnum" id="DHNum">
			    <a href="javascript:void(0)" class="def selected">1</a>
			    <% @mobile_banners.each_with_index do |mb,index| %>
				<a href="javascript:void(0)" class="def selected"><%= index+1%></a>
				<% end %>
			</div>
		</div>

        <% @mobile_articles.each do |ma| %>
		<div class="box1">
			<div class="box1left">
			<!-- <img src="images/pic4.jpg" width="100%"> -->
			<%= image_tag( "#{MobileArticle.img_url(ma.id, :t2)}?time=#{Time.now.to_i}", :style => "width:100%" ) %></div>
			<a href="#" data-ajax="false">
				<h2><%= ma.title %> </h2>
				<p><%= ma.text %></p>
			</a>
		</div>
		<% end %>

		<% if @page1 %>
		<div class="box1">
			<div class="box1left">
			<%= image_tag( "#{MobileArticle.img_url(@contact_lianlian_page.id, :t2)}?time=#{Time.now.to_i}", :style => "width:100%" ) %>
			</div>
			<a href="#" data-ajax="false">
				<h2><%= @contact_lianlian_page.title %></h2>
                <p><%= @contact_lianlian_page.text %></p>
			</a>
		</div>
		<% end %>

		<% if @page2 %>
		<div class="box1">
			<div class="box1left">
			<%= image_tag( "#{MobileArticle.img_url(@welcome_page.id, :t2)}?time=#{Time.now.to_i}", :style => "width:100%" ) %>
			</div>
			<a href="#" data-ajax="false">
				<h2><%= @welcome_page.title %></h2>
				<p><%= @welcome_page.text %></p>
			</a>
		</div>
		<% end %>
		
		<div id="Shadow">
			<a href="https://m.weibo.cn" class="sina">新浪微博</a>
			<a href="http://t.qq.com/" class="qq">腾讯微博</a>
			<a href="#" class="qqspace">QQ空间</a>
			<a href="#" class="renren">人人</a>
		</div>
		<div class="border1"></div>
		<div class="footer">
			<a href="#" class="btn1">电话</a>
			<a href="#" class="btn2">短信</a>
			<a href=<%= "/mobile/map?sid=#{@sid}" %> class="btn3" data-ajax="false">地图</a>
			<a class="btn4" id="Btn4">分享</a>
		</div>
    </body>
</html>