#modal.modal.hide.fade{tabindex: '-1', role: 'dialog', aria:{labelledby: 'modalLabel'}, aria:{hidden: 'true'}}
  .modal-body
    .header.shadow.clearfix
      .user
        .avatar
          = image_tag current_user.avatar.url
        .name
          = current_user.name
        .title
          = current_user.profile.title
        .company
          = current_user.profile.company

      .meta
        .title
        .date.separator
        .category


      .social-share-icons.favorite-star
        .favorite
          = image_tag("favorite.png")
        .facebook
          = image_tag("facebook.png")
        .twitter
          = image_tag("twitter.png")
        .linkedin
          = image_tag("linkedin.png")
        .googleplus
          = image_tag("googleplus.png")


    .detail.shadow.clearfix
      .video-cover
        = image_tag @article.cover.url
      %article

  .modal-footer
    %button.btn{data:{dismiss:'modal'}, aria:{hidden:'true'}} Close
    = f.submit "Publish", class: 'btn btn-prodygia modal-submit'

