	<script>
	var navmove="on", runing;
	$(document).ready(function(){
		runing=$("#CB1").attr("class");
		if(runing=="checkboxs1"){
			NavDiv();
			$(window).load(function(){
				MessageDiv();
			});	
		}else if(runing=="checkboxs2"){
			AllNoDH();
		}
	//新增
	$("div.pass5 input.texts").each(function(){
		if($(this).val()==""){
			$(this).val("输入连接地址");
		}
		$(this).click(function(){
			$(this).css("color","#000");
			var str=$(this).val();
			if(str=="输入连接地址"){
				$(this).val("");
			}
		}).blur(function(){
			var str=$(this).val();
			var v1=new RegExp("^(\\s+)$");
			if(v1.test(str)||str==""){
				$(this).val("输入连接地址").removeAttr("style");
			}
		});
	});	
	});
	
function Del(ID,banner_id){
	$(ID).parent().fadeOut(800,function(){
		$(this).remove();
		$.get("/mobile_banners/ajax_del",{id: banner_id}, function(data) {
			if(data){
                alert('OK');
			}
			else{
				alert('删除失败.');
			}
		});
	});
}
function OpenBtn(){
	$("#mobile_banner_img").click();
	// $(".pass5:last").after('<div class="pass5"><a class="up" title="上"></a><a class="down" title="下"></a><a class="del" title="删除" onClick="Del(this)"></a><img src="/cellphone/images/pic3.jpg" class="imgs"> <input type="text" value="" class="texts"></div>');
	// $("#psd").click();
}
	</script>



		<div class="con">
			<div class="box14">
				<div class="box14left">
					<div class="title1"><h2 class="f18 l">设置</h2></div>
					<div class="submenu">
						<ul>
							<li><a href="mcp2.html">基本信息</a></li>
							<li><a href="mcp3.html">菜单和功能</a></li>
							<li class="hover"><a href="mcp4.html">Banner</a></li>
							<li><a href="mcp5.html">设计风格</a></li>
						</ul>
					</div>
					<div class="clear1"></div>
					<!-- <form id="cform" method="post" action=""> -->
					<%= form_for @mobile_banner, :url => "/mobile_banners/create", :html => {:multipart => true, :id => 'mobile_banner_form'} do |f| %>
						<div class="pass4">
							<input type="button" class="btn20 w100 l" id="Open" onClick="OpenBtn()" value="+ 添加图片"/>
							<input class="none" id="mobile_banner_img" name="mobile_banner[img]" type="file"/>
							&nbsp;
							<%= f.text_field :url, :class => "inputs6 radius5 relative", :placeholder => "http://"%>
							
							<!-- <input type="file" class="none" id="AddPicture"/> -->
							<p class="l gray ml20 f12 lh20">可以添加 jpg, gif, jpeg, png, 图片格式，<br/>请保持图片大小一致。</p>
							<br><input type="submit" name="Submit" value="提 交" class="btn20 w100 l" id="psd"/>
						</div>
						<div id="Contain">
						<% @mobile_banners.each do |mb| %>
						<div class="pass5">
							<a class="up" title="上"></a>
							<a class="down" title="下"></a>
							<a class="del" title="删除"  onClick="Del(this,'<%= mb.id%>')"></a>
							<!-- <img src="images/pic3.jpg" class="imgs">  -->
                            <%=image_tag( "#{MobileBanner.img_url(mb.id)}?time=#{Time.now.to_i}", :class=>"imgs")%>
							<input type="text" value=<%=  mb.url %> class="texts">
						</div>
						<% end %>
<!-- 						<div class="pass5">
							<a class="up" title="上"></a>
							<a class="down" title="下"></a>
							<a class="del" title="删除" onClick="Del(this)"></a>
							<img src="images/pic3.jpg" class="imgs"> <input type="text" value="" class="texts">
						</div>
						<div class="pass5">
							<a class="up" title="上"></a>
							<a class="down" title="下"></a>
							<a class="del" title="删除"  onClick="Del(this)"></a>
							<img src="images/pic3.jpg" class="imgs"> <input type="text" value="" class="texts">
						</div>
						<div class="pass5">
							<a class="up" title="上"></a>
							<a class="down" title="下"></a>
							<a class="del" title="删除" onClick="Del(this)"></a>
							<img src="images/pic3.jpg" class="imgs"> <input type="text" value="" class="texts">
						</div> -->
						</div>
					<!-- </form> -->
					<% end %>
				</div>
				<div class="box14right">
					<div class="cpbox">
						<iframe frameborder="0" src="/mobile_articles/mobile_show"></iframe>
					<div>
				</div>
			</div>
		</div>