<h1>每日陪聊统计</h1>
<br><br>

<table border="1" >

  <tr>
    <th>日期</th>
    <th>时间</th>
    <th>陪聊帐号</th>
    <th>聊过人数</th>
    <th>有回复的人数</th> 
    <th>总共聊了几句</th>
  </tr>

<% @pl_stat.each do |pl_stat| %>
  <tr><td rowspan="6" ><%= pl_stat.date %></td></tr>
  <tr>
     <td rowspan="1">日常帐号 8:00~24:00</td>
     <td rowspan="1">陈家洛</td>
     <td rowspan="1"><%= pl_stat.pl_people_num[0] %></td>
     <td rowspan="1"><%= pl_stat.pl_reply_num[0]%></td>
     <td rowspan="1"><%= pl_stat.pl_words_num[0] %></td>
  </tr>
  <tr>
  <td rowspan="1">日常帐号 8:00~19:00</td>
     <td rowspan="1">球球爱嘟嘴</td>
     <td rowspan="1"><%= pl_stat.pl_people_num[1] %></td>
     <td rowspan="1"><%= pl_stat.pl_reply_num[1]%></td>
     <td rowspan="1"><%= pl_stat.pl_words_num[1] %></td>
  </tr>
  <tr>
  <td rowspan="1">日常帐号 8:00~24:00</td>
     <td rowspan="1">amanda林</td>
     <td rowspan="1"><%= pl_stat.pl_people_num[2] %></td>
     <td rowspan="1"><%= pl_stat.pl_reply_num[2]%></td>
     <td rowspan="1"><%= pl_stat.pl_words_num[2] %></td>
  </tr>
  <tr>
  <td rowspan="1">周末帐号 9:00~24:00</td>
     <td rowspan="1">Jap UU</td>
     <td rowspan="1"><%= pl_stat.pl_people_num[3] %></td>
     <td rowspan="1"><%= pl_stat.pl_reply_num[3]%></td>
     <td rowspan="1"><%= pl_stat.pl_words_num[3] %></td>
  </tr>
  <tr>
  <td rowspan="1">周末帐号 9:00~24:00</td>
     <td rowspan="1">可儿</td>
     <td rowspan="1"><%= pl_stat.pl_people_num[4] %></td>
     <td rowspan="1"><%= pl_stat.pl_reply_num[4]%></td>
     <td rowspan="1"><%= pl_stat.pl_words_num[4] %></td>
  </tr>
<% end %>

</table>




