= content_for :head do
  = stylesheet_link_tag "bootstrap.css", media = "all"
  = javascript_include_tag "bootstrap.js" 

%h1 Experts

%table.table.table-striped.table-hover.table-bordered
  %tr
    %th Name
    %th
    %th Title
    %th Company
    %th Location
    %th Expertise
    %th Favorite quote
    %th Career
    %th Education
    %th Web site
    %th Article reports
    %th Speeches
    %th Additional
    %th Testimonials
    %th

  - @experts.each do |expert|
    %tr
      %td= link_to "#{expert.name}", expert_admin_index_path(expert)
      %td= link_to image_tag(expert.image_url), expert_admin_index_path(expert)
      %td= expert.title
      %td= expert.company
      %td= expert.location
      %td= expert.expertise
      %td= expert.favorite_quote
      %td= expert.career
      %td= expert.education
      %td= expert.web_site
      %td= expert.article_reports
      %td= expert.speeches
      %td= expert.additional
      %td= expert.testimonials
      %td= link_to 'Destroy', expert_admin_index_path(expert), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expert', expert_new_admin_index_path
