= content_for :head do
  = stylesheet_link_tag "bootstrap.css", media = "all"
  = javascript_include_tag "bootstrap.js" 

%p#notice= notice

%h3
  Session:
  = @session.title

%p
  =image_tag(@session.image_url)
  
%p
  %b Description:
  = @session.description

%br

%h4.muted Expert:

%p
  =image_tag(@session.expert.image_url)

%h4
  %b= @session.expert.name


= link_to 'Edit', session_edit_admin_index_path(@session)
|
= link_to 'Back', sessions_admin_index_path
