%h3 Create a new session

= form_for @session, url: sessions_admin_index_path do |f|
  - if @session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session.errors.count, "error")} prohibited this session from being saved:"
      %ul
        - @session.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :expert_id
    = f.select :expert_id, Expert.all.collect{ |e| [e.name, e.id]}
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :category
    = f.select :category, Session::CATEGORY
  .field
    = f.label :content_type
    = f.select :content_type, %w(Announcement ArticleSession VideoSession LiveSession)
  .field
    = f.label :cover
    = f.file_field :cover
  .field
    = f.label :video
    = f.file_field :video
  .field
    = f.label :description
    = f.text_area :description, :class => "tinymce"
  .actions
    = f.submit 'Save'

= link_to 'Back', sessions_admin_index_path
