<p>
  <span style="padding: 0 5px;"> <%= link_to '去百度地图查看',"http://api.map.baidu.com/lbsapi/getpoint/index.html", :target => "blank" %> </span>
  <span style="padding: 0 5px;"><%= link_to '编辑',"/admin_user_add_shops/edit?id=#{@shop.id}" %></span>
  <span style="padding: 0 5px;"><%= link_to '标记删除',"/admin_user_add_shops/del?id=#{@shop.id}"%></span>
</p>

<p>
  <b>商家id:</b>
  <%= @shop.id.to_i %>
</p>
<p>
  <b>商家名称:</b>
  <%= @shop.name %>
</p>
<p>
  <b>区号:</b>
  <%= @shop.city %>
</p>
<p>
  <b>电话:</b>
  <%= @shop.tel %>
</p>

<p>
  <b>实际经纬度:</b>
  <%= @shop.lo %>
</p>
<p>
  <b>百度经纬度:</b>
  <%= @shop.lob.reverse.join(',') %>
</p>
<p>
  <b>地址:</b>
  <%= @shop.addr %>
</p>


