<h1>地点管理</h1>

<%= javascript_include_tag "jquery-1.6.2.min.js" %>

<%= form_tag '/admin_user_add_shops',:method =>:get do %>
  <p>
    名称:<%= text_field_tag :name, params[:name] %>
    区号: <%= text_field_tag :city, params[:city], :size => 10 %>
    <br>
    编辑：<%= select_tag :t,options_for_select([['所有地点','0'],['已编辑地点','1']],params[:t])  %>
    删除：<%= select_tag :del,options_for_select([['所有商家','0'],['删除商家','1']],params[:del])  %>
    <br>
    <%= submit_tag "查 找" %>
  </p>
<% end %>

<table border="1">
  <tr>
    <th>id</th>
    <th>名称</th>
    <th>区号</th>
    <th>创建者</th>
    <th></th>
    <th></th>
  </tr>

  <% @shops.each do |shop| %>
    <tr id="shop<%=shop.id.to_i %>">
      <td><%= shop.id.to_i %></td>
      <td><%= shop.name %></td>
      <td><%= shop.city_fullname %></td>
      <td><%= type_or_user(shop) %></td>
      <td><%= link_to '处理', "/admin_user_add_shops/show?id=#{shop.id.to_i}", :target => "blank" %></td>
      <td><%= link_to '标记删除', "#{}", :onclick => "ajaxDel('#{shop.id.to_i}')" %></td>
    </tr>

  <% end %>
</table>
<br />
<br />
<%= link_to "第1页",request.params.merge!(:page => 1), :class => "prev_pagee" %>
<%= link_to "上一页",request.params.merge!(:page => @page -1),:class => "prev_pagee"  if @page != 1 %>
<span class='current'><%= @page %></span>
<%= link_to "下一页",request.params.merge!(:page => @page + 1), :class => "next_page" %>
<br />



<script type="text/javascript">
  function rmshop(sid){
    $('#shop'+sid).remove()
  }

  function ajaxDel(sid){
    $.get("/admin_user_add_shops/ajax_del",{id: sid})
  }

</script>

