<h1>地点管理</h1>
<%= javascript_include_tag "jquery-1.6.2.min.js" %>

<%= form_tag '/admin_user_add_shops',:method =>:get do %>
  <p>
    名称:<%= text_field_tag :name, params[:name] %>
    区号: <%= text_field_tag :city, params[:city], :size => 10 %>
    <br>
    编辑：<%= select_tag :t,options_for_select([['所有地点','0'],['已编辑地点','1']],params[:t])  %>
    删除：<%= select_tag :del,options_for_select([['所有商家','0'],['删除商家','1']],params[:del])  %>
    <br>
    <%= submit_tag "查 找" %>
  </p>
<% end %>

<table border="1">
  <tr>
    <th>id</th>
    <th>名称</th>
    <th>区号</th>
    <th>创建者</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.id.to_i %></td>
      <td><%= shop.name %></td>
      <td><%= shop.city_fullname %></td>
      <td><%= type_or_user(shop) %></td>
      <td><%= link_to '编辑', "/admin_user_add_shops/edit?id=#{shop.id}" %></td>
      <td><%= link_to '详情', "/admin_user_add_shops/show?id=#{shop.id}" %></td>
      <td><%= link_to '清除', "/admin_user_add_shops/del?id=#{shop.id}" %></td>

    </tr>

  <% end %>
</table>
<br />
<br />
<%= link_to "第1页",request.params.merge!(:page => 1), :class => "prev_pagee" %>
<%= link_to "上一页",request.params.merge!(:page => @page -1),:class => "prev_pagee"  if @page != 1 %>
<span class='current'><%= @page %></span>
<%= link_to "下一页",request.params.merge!(:page => @page + 1), :class => "next_page" %>
<br />



<script type="text/javascript">
  function showe(obj){
    obj.children("span:first").hide()
    obj.children("span:last").show();
  }

  function ajaxupdatelevel(obj,shop_id){
    var level = obj.parent().children("input[@type='radio']:checked").val()
    $.post("/admin_shops/ajaxupdatelevel",{level:level, shop_id:shop_id}, function(data) {
      obj.parent().parent().replaceWith("<td>"+data["level"]+"</td>")
    });
  }

  function ajaxdel(obj,shop_id,no_confirm, shop_name){
    text = "确定删除商家 "+shop_name+'？'
    if(no_confirm || confirm(text))
      $.post("/admin_shops/ajaxdel",{ shop_id:shop_id}, function() {
        obj.parent().parent().hide()
      });
  }

  function showes(){
    $('.th_level').each(function(){showe($(this))})
    $('.td_level').each(function(){showe($(this))})
  }

  function checkall(value){
    $('.level_'+value).each(function(){$(this).attr('checked','checked')})
  }

  function ajaxupdatelevelall(){
    $('.th_level:first').replaceWith("<th>等级</th>")
    $(".dhide").each(
    function(){
      var subobj = $(this).children("input[@type='submit']:first")
      ajaxupdatelevel(subobj, subobj.attr('name'))
    }
  )
  }

  function batch_del()
  {
    if(confirm("确定需要批量删除商家？"))
      $("table .checkbox_shops:checked").each(
    function(){
      ajaxdel($(this),$(this).val(), true, '')
    }
  )
  }

  function checked_all(checked){
    $("table .checkbox_shops").each(
    function() {
      if(checked == "checked")
        $(this).attr("checked", 'checked')
      else
        $(this).attr("checked", false)
    }
  )
  }

  function inverse_all(){
    $("table .checkbox_shops").each(
    function() {
      if($(this).attr("checked") == 'checked')
        $(this).attr("checked", false)
      else
        $(this).attr("checked", 'checked')
    }
  )
  }

</script>

