<h1>地点管理</h1>

<%= javascript_include_tag "jquery-1.6.2.min.js" %>

<%= form_tag '/admin_user_add_shops',:method =>:get do %>
  <p>
    名称:<%= text_field_tag :name, params[:name] %>
    区号: <%= text_field_tag :city, params[:city], :size => 10 %>
    <br/>
    处理方式：<%= select_tag :flag,options_for_select([['所有地点','0'],['编辑地点','1'],['标记删除','2'], ['忽略','3']],params[:flag])  %>
    <br/>
    <%= submit_tag "查 找" %>
  </p>
<% end %>

<table border="1">
  <tr>
    <th>id</th>
    <th>名称</th>
    <th>区号</th>
    <th>创建者</th>
    <th>创建时间</th>
    <% if params[:flag].in?(["0",'1','2','3']) %>
      <th>处理方式</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @shops.each_with_index do |shop, index| %>
    <tr id="shop<%=shop.id.to_i %>">
      <td><%= shop.id.to_i %></td>
      <td><%=link_to shop.name||'', "/admin_shops/show?id=#{shop.id}" %></td>
      <td><%= shop.city_fullname %></td>
      <td><%=link_to shop.user.try(:name)||'', "/admin_users/show?id=#{shop.creator}" %></td>
      <td><%= shop.first_checkin_time if index==0 || index==9%></td>
      <% if params[:flag].in?(["0",'1','2','3']) %>
        <td><%= thand(shop) %></td>
      <% end %>

      <td><%= link_to '处理', "/admin_user_add_shops/show?id=#{shop.id.to_i}", :target => "blank"  unless shop.i%></td>
      <td><%= link_to '标记删除', "#", :onclick => "ajaxDel('#{shop.id.to_i}', $(this))" unless shop.i %></td>
      <td><%= link_to '忽略', "#", :onclick => "ajaxIg('#{shop.id.to_i}', $(this))" unless shop.i %></td>
      <td><%= link_to '直接删除', "#", :onclick => "ajaxDes('#{shop.id.to_i}', $(this))" unless shop.i %></td>
    </tr>

  <% end %>
</table>
<br />
<br />
<%= generate_paginate3.html_safe %>
<br />



<script type="text/javascript">
  function rmshop(sid){
    $('#shop'+sid).remove()
  }

  function ajaxDel(sid, obj){
    if(confirm("确定标记删除？"))
      $.get("/admin_user_add_shops/del",{id: sid})
  }

  function ajaxDes(sid, obj){
    if(confirm("确定直接删除？"))
      $.get("/admin_user_add_shops/des",{id: sid}, function(data){
        if(data)
          obj.parent().parent().remove()
        else
          obj.replaceWith("不能删除")
      })
  }

  function ajaxIg(sid, obj){
    if(confirm("确定忽略？"))
      $.ajax({url: "/admin_user_add_shops/ignore",
        type: 'get',
        data: {id: sid},
        dataType:'json',
        success: function(){obj.replaceWith('已忽略')}
      })
  }

</script>

