<h1>相似商家</h1>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>

<%= form_tag '/admin_similar_shops',:method =>:get do %>
  <p>
    区号: <%= text_field_tag :city, params[:city], :size => 10 %>
    地点名称: <%= text_field_tag :name, params[:name], :size => 20 %>
    处理： <%= select_tag :flag, options_for_select([['全部','0'],['处理完成','1'], ['暂不处理','3'],['未处理','2']], params[:flag]) %>

    <%= submit_tag "查 找" %>

  </p>
<% end %>




<table border="1">
  <tr style="">
    <th></th>
    <th>区号</th>
    <th>商家id</th>
    <th>地点名称</th>
    <th>距离</th>
    <th>处理方式</th>
    <th>状态</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <% @similar_shops.each_with_index do |ss, index| %>
    <% ss.data.each_with_index do | fd, i|%>
      <tr class="tr_<%= ss.id %> " style="<%= "background-color: #eec;" if  i==0 %>">
        <td><%= "第#{index+1}组" if i == 0 %></td>
        <td><%= ss.city %></td>
        <td><%=link_to  fd["id"], "/admin_shops/show?id=#{fd["id"]}" , :target => "_#{fd["id"]}"%></td>
        <td><%=  fd["name"] %></td>
        <td><%=  fd['dis'] %></td>
        <td><%=  fd['type'] %></td>
        <td><%=  ss.show_flag %></td>
        <td><%= link_to "暂不处理", "javascript:void(0)", :class =>"aPause", :rel => ss.id  if ss.flag.nil? && i==0 %></td>
        <td><%= link_to "完成", "javascript:void(0)", :class=> "aCancel",:rel => ss.id   if !ss.flag && i==0  %></td>
        <td><%= link_to "处理", "/admin_similar_shops/show?id=#{ss.id}", :target=>"blank" if !ss.flag && i==0  %></td>
      </tr>

    <% end %>
  <% end %>

</table>
<br />
<br />
<%= generate_paginate3.html_safe %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".aCancel").click(function(){
      alert(1)
      var ssid = $(this).attr('rel')
      $.get('/admin_similar_shops/ajax_cancel',{ssid: ssid}, function(){
        $(".tr_"+ ssid).remove()
      })
    });
    
    $(".aPause").click(function(){
      alert(1)
      var ssid = $(this).attr('rel')
      $.get('/admin_similar_shops/ajax_pause',{ssid: ssid}, function(){
        $(".tr_"+ ssid).remove()
      })
    });
  })

</script>