<style>
	#edui1_bottombar{display:none;}
</style>
<div class="con2">
	<div class="title1"><h2 class="f18">问答系统</h2></div>
	<%= form_for(@shop_faq, :url => "/shop3_faqs/update?id=#{@shop_faq.id}",:html => { :multipart => true, :id => 'cform' } ) do |f| %>
      <div class="box4 w950">
        <div class="box4left">
    <% if @shop_faqs.blank? %>
    还没有设置问答系统，请创建 ===》
    <% end %>
    <% @shop_faqs.each do |faq| %>
       <%= "试试回复：</br>".html_safe if faq.od.to_i == 01%> 
       <% if faq.od == @shop_faq.od %>
       <a href="/shop3_faqs/edit?id=<%=faq.id%>" class="blue3"><%= faq.od%>&nbsp;=>&nbsp;<%= faq.title%></a><br/>
       <% else %>
       <a href="/shop3_faqs/edit?id=<%=faq.id%>"><%= faq.od%>&nbsp;=>&nbsp;<%= faq.title%></a><br/>
       <% end %>
    <% end %>
        </div>
        <div class="box4right w400 pl20">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1">
    <tr>
      <td width="20%" align="right" valign="middle" class="pr20">回复数字</td>
      <td width="86%">
         <%= f.text_field :od %>
      </td>


    </tr>
    <tr>
      <td width="20%" align="right" valign="middle" class="pr20">问题</td>
      <td>
		<%= f.text_field :title, :class => "inputs6 radius5 relative", :id=>"Inputs1" %>
		<div id="Mes1"></div>
      </td>
    </tr>
    <tr>
      <td width="20%" align="right" valign="middle" class="pr20">配图</td>
      <td>
		<a class="btn1" id="Btn1">修改图片</a>
		<input class="filebox1" id="shop_faq_img" name="shop_faq[img]" type="file" />
		<input class="filebox2" id="shop_faq_img" name="shop_faq[img]" type="file" />
	  </td>
    </tr>
    <tr>
        <td width="20%" align="right" valign="middle" class="pr20">&nbsp;</td>
        <td><div class='uploadbox' id="uploadPreview">
          <%= image_tag("#{ShopFaq.img_url(@shop_faq.id, :t2)}?time=#{Time.now.to_i}") %>
        </div></td>
    </tr>

    <tr>
      <td width="20%" align="right" valign="top" class="pr20">简述</td>
      <td>
			<%= f.text_area :text, :class => "textarea4 radius5 relative", :style=>"word-wrap:normal", :id=>"Inputs2"%>
			<div id="Mes2"></div>
	  </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
			<input type="submit" name="Submit" value="提 交" class="btn2 l"/>
			<%= link_to '取 消', '/shop3_faqs', :class=>"btn3 l ml20" %>
		</td>
    </tr>
  </table>
 </div>
 <div class="box4right2">
 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1">
	<tr>
		<td align="left" class="pb10">详细内容</td>
	</tr>
	<tr>
		<td>
			<span class="l mr20"><%= f.radio_button :link_rule, '0',:onclick=>"select_radio($(this).val())"%>&nbsp;&nbsp;外部链接</span>
			<span class="l"><%= f.radio_button :link_rule, '1',:onclick=>"select_radio($(this).val())"%>&nbsp;&nbsp;编辑详细内容</span>
		</td>
	</tr>
	<tr>
		<td class="relative del2">
			<%= f.text_field :url,:class=>"inputs2 radius5 relative",:id=>"link1", :placeholder => "http://", :disabled=>"disabled"%>
			<div id="LinkDiv">
				<div class="linkdivleft">
					<%= f.text_field :head, :class=>"inputs2 radius5 w300",:id => "link2", :placeholder => "标题" %>
					<div id="link3">
						<%= f.text_area :content, :id=>"myEditor" %>
						<input type="button" class="mt10 btn15 r mr5" id="Preview" value="预览"/>
					</div>
				</div>
				<div id="CellPhone">
					<iframe src="" id="previewIframe" scrolling="no" frameborder="0"></iframe>
					<input type="button" class="mt10 btn16 ml100" id="Edit" value="编辑"/>
				</div>
			</div>
		</td>
    </tr>
	</table>
 </div>
<%  end %>
      </div>
</div>

<script type="text/javascript" src="/javascripts/imgUploadPreview.js"></script>
<script src="/newbackstage/js/questions_answers.js" type="text/javascript"></script>
<script>

$(document).ready(function(){
	imgUploadPreview2("input[name='shop_faq[img]']", 'uploadPreview');
	runing=$("#CB1").attr("class");
	if(runing=="checkboxs1"){
		NavDiv();
		$(window).load(function(){
			MessageDiv();
		});
	}else if(runing=="checkboxs2"){
		AllNoDH();
	}
	if(!/MSIE/i.test(ua)){
		$("input[name='shop_faq[img]']").not(":first").remove();
	}
	$("#Btn1").click(function(){
		$("#shop_faq_img").click();
	});
	$("input[name='shop_faq[img]']").click(function(){
		imgUploadPreview2(this, 'uploadPreview');
	});
});

ro = <%= @shop_faq.link_rule.nil? ? 0 : @shop_faq.link_rule %>;

select_radio(ro);

Lianlian = window.Lianlian = {};

(function() {

  Lianlian.Blog = {
    init: function() {
      var me;
      me = this;
      return me.newBlog();
    },
    newBlog: function() {

      var editor_a;
      editor_a = new baidu.editor.ui.Editor({
        autoHeightEnabled:false,
        initialFrameWidth:320,
        initialFrameHeight:200,
        imageUrl:"/shop3_faqs/article_image_upload/<%= @shop_faq.id%>",
        imagePath:"",
        initialContent: ""
      });
      editor_a.render('myEditor');
      return $('.new_blog_form .submit').click(function() {
        var content, title;
        editor_a.sync();
        title = $('#blog_title').val();
        content = editor_a.getContent();
        if (title.length === 0) {
          $('#blog_title').addClass('error_border');
        }
        if (title.length > 0 && content !== '<p><br /></p>') {
          return $(this).parents('form').submit();
        }
      });
    }
  };

  $(document).ready(function() {
    return Lianlian.Blog.init();
  });

}).call(this);
</script>