<div class="con">
  <div class="title1 mb30"><h2 class="f18">商家设置</h2></div>
  <div class="submenu">
    <ul>
      <li><a href="/shop3_infos">基本设置</a></li>
      <li><a href="/shop3_pass">修改密码</a></li>
      <li><a href="/shop3_staffs">员工管理</a></li>
      <li class="hover"><a href="/shop3_bindwbs">绑定微博</a></li>
      <li><a href="/shop3_bans">屏蔽用户</a></li>
      <li><a href="/shop3_marks">用户评分</a></li>
      <li><a href="/shop3_notice">公告管理</a></li>
    </ul>
  </div>
  <% if @bind_wb.new_record? %>

    <%= form_for(@bind_wb, :url => '/shop3_bindwbs/create',:html => {  :id => 'cform' } ) do |f| %>
      <% if @bind_wb.errors.any? %>
        <div id="error_explanation">
          <h2>绑定出错了</h2>
          <ul>
            <% @bind_wb.errors.messages.each do |k,msg| %>
              <li><%= msg.join('') %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <br/>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab1">
        <tr >
          <td width="11%" ></td>
          <td width="60%" valign="center"> 您还没有绑定微博,现在就来绑定吧</td>
        </tr>

        <tr>
          <td width="20%" align="right" valign="middle" class="pr20">(微博)登录名</td>
          <td>
            <div class="box12">
              <%= f.text_field :login_name, :class =>"inputs6", :id=>"Inputs1" %>
            </div>
            
          </td>
        </tr>

        <tr>
          <td width="20%" align="right" valign="middle" class="pr20">(微博)uid</td>
          <td>
            <div class="box12">
              <%= f.text_field :wb_uid, :class =>"inputs6", :id=>"Inputs1" %>
            </div>
          </td>
        </tr>


        <tr>
          <td width="20%" align="right" valign="middle" class="pr20">(微博)昵称</td>
          <td>
            <div class="box12">
              <%= f.text_field :name, :class =>"inputs6", :id=>"Inputs1" %>
            </div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="Submit" value="提 交" class="btn2 l"/> </td>
        </tr>
      </table>
    <%  end %>

  <%  else %>
    <table width="100%" cellspacing="0" cellpadding="0" class="tab2">
      <tr id="Tr0">
        <th width="487">微博ID</th>
        <th width="377">登录名</th>
        <th width="244">微博昵称</th>
        <th width="264">&nbsp;</th>
      </tr>
      <tr id="Tr1">
        <td valign="middle"><%= @bind_wb.wb_uid %></td>
        <td><%= @bind_wb.login_name %></td>
        <td width="244" align="center"><%= @bind_wb.name %></td>
        <td width="264" align="center">
          <%= link_to "微博", @bind_wb.weibo_home, :target => "_blank" %>
          <%= link_to '解除', '/shop3_bindwbs/del', :id => "wbdel" %></td>
      </tr>
    </table>
  <% end %>


  <script type="text/javascript">
    $(document).ready(function(){
      $("#wbdel").click(function(){
        if(!confirm("确定解除微博绑定么？"))
          return false;
      })
    })

  </script>
</div>