= form_for @consultation, url: consultations_path, remote: true do |f|
  .form-group
    = f.text_area :description, class: "form-control"
  .form-group
    = f.hidden_field :requester_id
    = f.hidden_field :consultant_id
  .form-group
    = f.submit "send", class: "btn btn-prodygia", id: "send-consultation"
