- @consultations.each do |consultation|
  .item
    .item-body.clearfix
      = "#{consultation.requester.name} requests a private consultation about #{consultation.description}"
      .item-date
        on #{consultation.created_at.to_date}
      .operations.pull-right
        = link_to "reject", "#", class: "btn pull-right"
        = link_to "accept", "#", class: "btn btn-prodygia pull-right"
