<style type="text/css">
#container{margin:auto;width:1100px;}
#container .col{float:left;width:204px;background:#ececec;margin:5px;text-align:center;}
.clear:after{clear:both;display:block;visibility:hidden;height:0;overflow:hidden;content:".";}
.clear{zoom:1;}
.page{margin:20px 0;}
.pages{float:right;}
.page a{float:left;width:21px;height:21px;margin-right:5px;overflow:hidden;text-indent:-2000px;}
.page .prv{background-position:-27px 0;}
.page .nxt{background-position:-79px 0;}
.page .back{background-position:-53px 0;}
</style>
<div id="container" class="clear">


<h1>聊天室图片审核</h1>
<%= form_tag '/admin_photo_censor',:method =>:get do %>
  <p>
    区号: <%= text_field_tag :city, params[:city], :size => 5  %>
    商家名称: <%= text_field_tag :shop, params[:shop], :size => 20  %>
    (*区号和商家必须同时查询,否则无效,可以不填)
  </p>
  <p>
    商家id:<%= text_field_tag :sid, params[:sid],:size => 10 %>
  </p>
  <p>
    <%= submit_tag "查 找" %>
  </p>
<% end %>


<% @photos.each do |photo| %>
   <div class="box photo col">
    <a id="imgt2" href="<%= photo.img_url(true) %>"><%= image_tag(photo.img_url(true), :size => "204x204")%>
    </a>
    <br/>
    <%= link_to "屏蔽", "javascript:void(0)", :class => "AHide", rel: photo.id unless photo.hide %>
    <%= link_to "显示", "/admin_photo_censor/display?id=#{photo.id}", :class => "ADisplay", rel: photo.id if photo.hide %>
  </div>
<% end %>
  
</div>

<br />
<br />
<%= generate_paginate3.html_safe %>




<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.masonry.min.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.infinitescroll.min.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/stylesheets/jquery.fancybox-1.3.4.css" />

<script type="text/javascript">
  $(document).ready(function() {
      $('.AHide').click(function(){
        var obj = $(this);
        $.get("/admin_photo_censor/hide", {id: obj.attr('rel')}, function(){
          obj.replaceWith('已屏蔽')
        })
      });
      $('.ADisplay').click(function(){
        $.get("/admin_photo_censor/display", {id: $(this).attr('rel')}, function(){
          obj.replaceWith('已显示')
        })
      });
  });
</script>