<!DOCTYPE html>
<html>
<head>
	<title><%= @user.name %>在<%= @photo.shop.name %>的分享</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="keywords" content="脸脸 现场社交 聊天 签到 交友 APP 关于脸脸" />
	<meta name="description" content="脸脸是一款基于现场的移动社交产品。通过脸脸，您可以进入您所在场所的虚拟现场，认识与您同在这里的人，与熟悉的或陌生的朋友打招呼、聊天。可以让你在酒吧、机场、车站、校园、楼宇、餐厅、会议、大型活动上认识在同一个现场的TA。" />	
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="yes" name="apple-touch-fullscreen"/>
	<meta content="telephone=no" name="format-detection"/>
    <meta name="apple-itunes-app" content="app-id=577710538,app-argument=dface://login/" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="author" content="www.dface.cn" />
	<meta name="copyright"  content="Copyright &copy;www.dface.cn 版权所有" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link href="/web/stylesheets/share_photo.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="Main">
		<div class="mainleft" id="MainLeft">
			<%=image_tag Photo.img_url(@photo.id),:class=>"width100p block" %>
			<% if @photo.is_multi? %>
			<% @photo.multi_photos[:photos].each_with_index do |url, index| %>
				<br>
					<%=image_tag url,:class=>"width100p block" %>
			<% end %>
			<% end %> 
			<% if !@photo.desc.blank? %>
			<div class="plane">
				<%= text_to_html @photo.desc%>
			</div>
			<% end %> 
			<div class="plane2">
				<div class="plane2left">
					<%= image_tag UserLogo.img_url(@user.head_logo_id, :t1), size: "38x38" %>
					<span class="wordstyle"><%= @user.name %></span>
					<span class="wordstyle_time"><%= @photo.cat.strftime("%m-%d %H:%M") %></span>
				</div>
				<div class="plane2right">
					<%= @photo.shop.name %>
				</div>
			</div>
		</div>        	
    	<div class="head">
        	<a target="_blank" href="http://www.dface.cn/a?v=130">
	        	<img alt="" class="logo" src="/admin/image/share_weibo/logo.png">
	            <div class="plane3">
					<div class="wordstyle mb10 bold">此时此刻，我们在这里</div>
					脸脸--基于现场的移动社交
					<p>点击立即下载</p>
				</div>
			</a>
        </div>
	</div>
</body>
</html>