<h1>可信用户</h1>
<br/>
<%= form_tag '/admin_kx_users',:method =>:get do %>
  昵称: <%= text_field_tag :name, params[:name], :size => 10  %>
  id: <%= text_field_tag :id, params[:id], :size => 30  %>
  姓名: <%= text_field_tag :real_name, params[:real_name]  %>
  来源: <%= select_tag :type, options_for_select(['', '脸脸','企博','马甲'], params[:type]) %>
  <br/>

  <%= submit_tag "查 找" %>
<% end %>
<br/>


<table border="1">
  <tr>
    <th>id</th>
    <th>注册时间</th>
    <th>名称</th>
    <th>wb_uid</th>
    <th>姓名</th>
    <th>来源</th>
    <th></th>
    <th></th>
  </tr>

  <% @kx_users.each do |ku| %>
    <tr>
      <td><%= link_to ku._id, "/admin_users/show?id=#{ku.id}" %></td>
      <td><%= ku.cat.strftime("%Y-%m-%d %H:%M") %></td>
      <td><a id="imgt2" href="<%= UserLogo.img_url(ku.user_head_logo_id,:t2) %>"><%=image_tag(UserLogo.img_url(ku.user_head_logo_id,:t1), :size => "50x50") if ku.user_head_logo_id%><%= ku.user_name %></a></td>
      <td><%=link_to(ku.user_wb_uid.to_s, ku.user_weibo_home, :target => '_blank') %></td>
      <td><%= ku.name %></td>
      <td><%= ku.type %></td>
      <td>
        <%= link_to '编辑', "/admin_kx_users/edit?id=#{ku.id}" %>
      </td>
      <td>
        <%= link_to '删除', "/admin_kx_users/destory?id=#{ku.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<%= generate_paginate3.html_safe %>