<div class="con">
  <div class="title1 mb30"><h2 class="f18">内容管理</h2></div>
  <div class="submenu">
    <ul>
    <li class="hover"><a href="user_photo">用户图片</a></li>
      <li><a href="shop_photo">商家图片</a></li>
      <li><a href="gchat">管理聊天室</a></li>
    </ul>

  </div>
  <div class="clear1"></div>
  <div class="box11">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="28%" rowspan="9">
          <%= image_tag @photo.img.try(:url, :t2), :width => "280", :height=> "280", :class => "imgstyle" %>
        </td>
        <td width="14%" height="40" class="pl20">用 户：</td>
        <td width="58%" height="40"><%= @photo.user.try(:name) %></td>
      </tr>
      <tr>
        <td height="40" class="pl20">发布时间：</td>
        <td height="40"><%= @photo.cat.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
      <tr>
        <td height="40" class="pl20">分享到微博：</td>
        <td height="40"><%=@photo.weibo ? "是" : "否" %></td>
      </tr>
      <tr>
        <td height="40" class="pl20">分享到QQ：</td>
        <td height="40"><%=@photo.qq ? "是" : "否"  %></td>
      </tr>
      <tr>
        <td height="40" class="pl20">赞：</td>
        <td height="40"><%=@photo.like_user_names || "空" %></td>
      </tr>
      <tr>
        <td height="40" class="blue1 pl20">操&nbsp;作：</td>
        <td height="40">
          <% if @photo.od %>
            <a  class="n2_1" onclick="ajaxUOT(this, '<%= @photo.id %>' )" title="取消置顶"></a>
          <% else %>
            <a  class="n2 " onclick="ajaxUOT(this, '<%= @photo.id %>' )" title="置顶"></a>
          <% end %>

          <% if @photo.hide %>
            <a class="n5" onclick="OC(this, '<%= @photo.id %>')" title="显示"></a>
          <%else%>
            <a class="n4" onclick="OC(this, '<%= @photo.id %>')" title="隐藏"></a>
          <% end %>
        </td>
      </tr>
      <tr>
        <td valign="top" class="pl20">描&nbsp;述：</td>
        <td valign="top"><%=@photo.desc %></td>
      </tr>
    </table>
    <% unless  @photo.com.blank? %>
      <div class="title1 mt40"><h2>评论&nbsp;&nbsp;<span class="noraml f12 gay1">(共 <span class="blue1"><%= @photo.com.count %></span>条)</span></h2></div>
      <div class="comment">
        <% @photo.com.each do |c| %>
          <% user = User.find_by_id(c["id"]) %>
          <dl>
            <dt class="gay4">
              <%= link_to "#{user.name}:", "#" %>
              <%= c['txt'] %>
              <% if c['hide'] %>
                <%= link_to "显示", "javascript:void(0)", :onclick => "ajaxUOH($(this), '#{@photo.id}', '#{c['id']}','#{c['txt']}')", :class => "n1" %>
              <% else %>
                <%= link_to "隐藏", "javascript:void(0)", :onclick => "ajaxUOH($(this), '#{@photo.id}', '#{c['id']}','#{c['txt']}')", :class => "n2" %>
              <% end %>
            </dt>
            <dd class="dd_img">
              <a href="#">
                <%= image_tag UserLogo.img_url(user.try(:head_logo_id))||"/newbackstage/images/pic19.jpg", :border=> "0"  %>
              </a>
            </dd>
          </dl>

        <% end %>
      </div>
    <% end %>
  </div>

</div>
<script defer="defer">
  var navmove="off", runing, noing="run";
  $(document).ready(function(){
    runing=$("#CB1").attr("class");

    if(runing=="checkboxs1"){
      NavDiv();
      Photo();
      $(window).load(function(){
        MessageDiv();
      });
      noing="norun"
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }
  });
  function OC(obj, id){
    if(confirm("确定"+$(obj).attr("title"))){
      if($(obj).attr("class")=="n4"){
        $.get("/shop3_content/ajax_del", {id: id}, function(){
          $(obj).removeClass().addClass("n5").attr("title","显示");
          $(obj).parent().addClass("bbj");
          $(obj).parent().siblings().addClass("bm");
        })
      }else{
        $.get("/shop3_content/ajax_undel", {id: id}, function(){
          $(obj).removeClass().addClass("n4").attr("title","隐藏");
          $(obj).parent().removeClass("bbj");
          $(obj).parent().siblings().removeClass("bm");
        })
      }
    }
  }

  function ajaxUOT(obj, id){
    var text = $(obj).attr("title")
    if(confirm("确定"+ text)){
      if(text == "置顶")
        $.get("/shop_photos/ajax_top", {id: id}, function(){ $(obj).removeClass("n2").addClass('n2_1').attr("title","取消置顶");})
      else
        $.get("/shop_photos/ajax_untop", {id: id}, function(){$(obj).removeClass("n2_1").addClass('n2').attr("title","置顶"); })
    }
  }

  function ajaxUOH(obj, id, uid, txt){
    var text = $(obj).html()
    if(confirm("确定"+ text +"评论"))
    {
      if(text=="显示")
      {
        $.get("/shop3_content/unhide_com",{id: id,uid: uid, txt: txt}, function(data) {
          if(data['text'])
            obj.replaceWith(data['text'])
          else
            obj.html("隐藏")
          obj.removeClass("n1").addClass('n2');
        });
      }
      else
      {
        $.get("/shop3_content/hide_com",{id: id,uid: uid, txt: txt}, function(data) {
          if(data['text'])
            obj.replaceWith(data['text'])
          else
            obj.html("显示")
          obj.removeClass("n2").addClass('n1');
        });
      }
    }
  }


</script>
