<div class="title2"><h2><%= params[:date]||'今日' %>优惠券使用/下载统计</h2></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="30%" align="left">优惠券</th>
    <th width="30%" align="left">优惠券名称</th>
    <th width="20%" align="center">下载</th>
    <th width="20%" align="center">使用</th>
  </tr>
  <tr>
    <% @report.each do |report|   %>
      <td>
        <%=image_tag report[0].img.url(:t1), :class=>"imgs4" %>
      </td>
      <td>
        <%= report[0].name %>
      </td>
      <td align="center">
        <%= link_to report[1], "/shop_coupons/newly_down?cid=#{report[0].id}&date=#{params[:date]|| Time.now.to_date}"%>
      </td>
      <td align="center">
        <%=link_to report[2], "/shop_coupons/newly_use?cid=#{report[0].id}&date=#{params[:date]|| Time.now.to_date}" %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td colspan="2">累计</td>
    <td align="center">
      <%=link_to @report.sum{|r| r[1]}, "/shop_coupons/newly_down?date=#{params[:date]|| Time.now.to_date}"%>
    </td>
    <td align="center">
      <%=link_to @report.sum{|r| r[2]}, "/shop_coupons/newly_use?date=#{params[:date]|| Time.now.to_date}"%>
    </td>
  </tr>
</table>

<br/>

<%= link_to '快速导出今日统计数据', "/shop_coupon_reports/csv_export" %>

<script>
  LeftMenu(23);
</script>