<table width="100%" cellspacing="0" cellpadding="0" class="tab2 mt40 f13 agent_tab">
  <tr id="Tr0">
    <th width="200">地点名称</th>
    <th width="100">距离</th>
    <th width="120">签约情况</th>
    <th width="120">创建时间</th>
    <th width="120">创建人</th>
    <% unless session[:city] %>
      <th width="90">操作</th>
    <% end %>
    <th width="120">标记删除</th>
    <th width="120">撤销删除</th>
  </tr>

  <% @simaliar_shops.each do |shop| %>
    <%# TODO 相似商家没有做关于del的处理 %>
    <% if shop.del.nil? %>
      <tr>
        <td valign="middle"><%= shop.name %></td>
        <td valign="middle"><%= shop.get_distance(@shop, shop).to_s + "m" %></td>
        <td valign="middle"><%= shop.sign.nil? ? "未签约" : "签约商家" %></td>
        <td valign="middle"><%= shop.first_checkin_time %></td>
        <td valign="middle">
        <% if session[:city_code].nil? %>
          <%= link_to shop.user_name, "/admin_users/show?id=#{shop.user_id}" %>
        <% else %>
          <%= shop.user_name %>
        <% end %>
        </td>
        <% unless session[:city_code] %>
          <td valign="middle"><%= link_to("详情", "/admin_shops/show?id=#{shop._id}") %></td>
        <% end %>
        <td valign="middle">
          <%= link_to '标记删除', "#", class: "mark #{'hidden' if shop.del == 1}", id: "mark_del_#{shop.id}", :onclick => "ajaxDel('#{shop.id.to_i}', $(this))" unless shop.i %>
        </td>
        <td valign="middle">
          <%= link_to '撤销删除', "#", class: "cancel_mark #{'hidden' if shop.del != 1}", id: "cancel_mark_del_#{shop.id}", :onclick => "ajaxCancel('#{shop.id.to_i}', $(this))" unless shop.i %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-1 col-md-offset-8" style="margin-right: 30px;">
      <%= link_to("确认删除", "/#{controller_name}/confirm_delete?id=#{@model.id}", class: "btn btn-danger") %>
    </div>
    <div class="col-md-1">
      <%= link_to("返回", "/#{controller_name}/index", class: "btn btn-default") %>
    </div>
  </div>
</div>
<script type="text/javascript">
  function ajaxDel(sid, obj){
    if(confirm("确定标记删除？"))
      $.get("/<%= controller_name %>/mark_del",{id: sid}, function(data){
        if(data.result == 1){
          obj.addClass('hidden');
          $("#cancel_mark_del_" + sid).removeClass('hidden');
        }

      })
  }

  function ajaxCancel(sid, obj){
    if (confirm("确定撤销删除")) {
      $.get("/<%= controller_name %>/cancel_mark_del",{id: sid}, function(data){
        if(data.result == 1){
          obj.addClass('hidden');
          $("#mark_del_" + sid).removeClass('hidden');
        }
      })
    };
  }
</script>
