<div class="container customer_info" id="admin_user_reports" style="width:760px; padding:40px 20px; margin-left:0px;">
  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      商家ID:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.id %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点名称:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.name %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点地址:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.addr %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点电话:
    </div>
    <div class="col-md-3 md_addr_text" id="lob">
      <%= @shop.tel %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点类型:
    </div>
    <div class="col-md-3 md_addr_text">
      <%= @shop.show_t %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 ">
      <%= link_to("信息修改", "/admin_user_add_shops/modify_info?id=#{@shop.id}&report_id=#{@report.id if @report}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2 ">
      <%= link_to("重复地点查看", "/admin_user_add_shops/repeat?id=#{@shop.id}&report_id=#{@report.id if @report}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2">
      <%= link_to("删除地点", "/admin_user_add_shops/destroy?id=#{@shop.id}&report_id=#{@report.id if @report}", class: "btn btn-default") %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点名称:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.name %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点地址:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.addr %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      百度经纬度:
    </div>
    <div class="col-md-3 md_addr_text" id="lob">
      <%= @shop.lo %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2">
      <%= link_to("坐标修改", "/admin_user_add_shops/modify_location?id=#{@shop.id}&report_id=#{@report.id if @report}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2">
      <%= link_to "返回", "/#{controller_name}/index", class: "btn btn-default" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".delete-btn").click(function(event) {
      if(!confirm("确定删除？")) {
        event.preventDefault();
      }
    })
  })
</script>
