.item
  .item-title
    = link_to item.title, polymorphic_path(item)
  .item-body.clearfix
    .cover-wrapper
      = image_tag(item.cover.url, class: "cover")
      .social-share-icons
        = render "shared/social_share", item: item
    .statistic
      = truncate_html(item.description, length: 300, omission: '...')
      %p#visits
        -# - count = item.visit.page_views
        - visit = item.visit || Visit.create(visitable: item)
        = "Viewed by #{pluralize(visit.page_views, 'person')} "
        = "(published on #{item.created_at.to_date.to_formatted_s(:course_date)})"

      - if item.editable
        = link_to "edit", edit_polymorphic_path(item), remote: true
        - if item.try(:draft)
          = link_to "post it", post_a_draft_article_path(item), class: "separator", remote: true
          = link_to "delete", cancel_draft_content_article_path(item), remote: true
    .see-more
      = link_to "see more", polymorphic_path(item)

  .draft-ribbon
    - if item.try(:draft)
      = image_tag("draft_ribbon.png")

