- if current_user.try(:follow?, expert)
  .favorite.solid-star 
    = image_tag("favorite.png")

  .favorite.hollow-star.hidden
    = image_tag("favorite_unselected.png")
- else 
  .favorite.solid-star.hidden 
    = image_tag("favorite.png")

  .favorite.hollow-star
    = image_tag("favorite_unselected.png")

= link_to " ", relationship_path(expert), class: "hidden", id: "mark-link", remote: true
