.links
  = link_to 'About Us', welcome_index_path
  = link_to 'Blog', welcome_index_path
  = link_to 'Experts', welcome_index_path
  = link_to 'FAQ', welcome_index_path
  = link_to 'Terms', welcome_index_path
  = link_to 'Privacy', welcome_index_path 