.links
  = link_to 'About us', '/about_us' 
  = link_to 'FAQ', '/faq'  
  = link_to 'For experts', '/for_experts'
  = link_to 'For members', '/for_members'
  = link_to 'Privacy', '/privacy'
  = link_to 'Terms', '/terms'
  = link_to 'Conditions', '/conditions'
