
.links
  .visible-desktop
    &copy;
    = raw "#{copyright_notice_year_range(2014)} #{link_to 'Prodygia, Inc.', root_path} All Rights Reserved"
    .pull-left
      .text-info
        = link_to 'About Us', about_us_path 
        = link_to 'FAQ', faq_path  
        = link_to 'For Experts', for_experts_path
        = link_to 'Terms', '/terms'
        = link_to 'Privacy', '/privacy'

    .pull-right
      Follow us by:
      - url_facebook = "https://www.facebook.com/dialog/feed?app_id=#{ENV["FACEBOOK_APPID"]}"
      = link_to image_tag("facebook-icon.png", class: "tooltips", title: "share via Facebook", data:{placement: "top"}), url_facebook, data: { popup: true}
      - url_twitter = "http://twitter.com/home"
      = link_to image_tag("twitter-icon.png", class: "tooltips", title: "share via Twitter", data:{placement: "top"}), url_twitter, data: { popup: true}
      - url_linkedin = "http://www.linkedin.com/shareArticle?mini=true"
      = link_to image_tag("linkedin-icon.png", class: "tooltips", title: "share via Linkedin", data:{placement: "top"}), url_linkedin, data: { popup: true}
      - url_googleplus = "https://plus.google.com/100344111177650366494"
      = link_to image_tag("googleplus-icon.png", class: "tooltips", title: "share via Google+", data:{placement: "top"}), url_googleplus, data: { popup: true}

  %select#footer-select.hidden-desktop
    %option{value: '/'}info
    %option{value: '/about_us'}about us
    %option{value: '/faq'}faq
    %option{value: '/for_experts'}for experts
    %option{value: '/terms'}terms
    %option{value: '/privacy'}privacy
//  .dropdown
//    %a{:href => '#', :class => 'btn dropdown-toggle', 'data-toggle' => 'dropdown'}action 
//    %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dLabel'}
//      %li
//        = link_to 'About Us', '/about_us', tabindex: '-1'
//      %li
//        = link_to 'FAQ', '/faq',  tabindex: '-1' 


