#header
  %a#logo{:href => "/", :title => "Home", :rel => "home"}
    = image_tag("logo.png") 
  #user_nav
    - if user_signed_in?
      %a Hello, 
      %a= current_user.email
      = link_to 'Sign out', destroy_user_session_path, :method => :delete
    - else
      = link_to 'Sign in', new_user_session_path
      = link_to 'Sign up', new_user_registration_path

  

      
/        <div class="region region-header">
/         <div id="block-mailchimp-lists-prodygia-newsletter" class="block block-mailchimp-lists">

    
/           <div class="content">
/             <form class="mailchimp-lists-user-subscribe-form" action="/" method="post" id="mailchimp-lists-user-subscribe-form-prodygia-newsletter" accept-charset="UTF-8">
/               <div>
/                 <div id="mailchimp-newsletter-prodygia_newsletter" class="mailchimp-newsletter-wrapper">
/                 <div id="edit-mailchimp-lists-mailchimp-prodygia-newsletter-title" class="form-item form-type-item">Sign up for 
/                   <em class="placeholder">updates</em>
/                 </div>
/                 <div class="form-item form-type-textfield form-item-mailchimp-lists-mailchimp-prodygia-newsletter-mergevars-EMAIL">
/                   <label for="edit-mailchimp-lists-mailchimp-prodygia-newsletter-mergevars-email">Email Address 
/                     <span class="form-required" title="This field is required.">*</span>
/                   </label>
/                   <input type="text" id="edit-mailchimp-lists-mailchimp-prodygia-newsletter-mergevars-email" name="mailchimp_lists[mailchimp_prodygia_newsletter][mergevars][EMAIL]" value="" size="25" maxlength="128" class="form-text required" />
/                 </div>
/               </div>
/               <input type="submit" id="edit-submit" name="op" value="Save" class="form-submit" />
/               <input type="hidden" name="form_build_id" value="form-tjJRWgriTeZQrfKEEDwhxYOeBFelKlJNRhQhmLxsDKA" />
/               <input type="hidden" name="form_id" value="mailchimp_lists_user_subscribe_form_prodygia_newsletter" />
/             </div>
/           </form>  
/         </div>
/       </div> 

/  <div id="navigation">
/   <div class="section">
/     <h2>Main menu</h2>
/     <ul id="main-menu" class="links inline clearfix">
/       <li class="menu-414 first">
/         <a><%= link_to 'about us', welcome_about_us_path %></a>
/       </li>
/       <li class="menu-499">
/         <a><%= link_to 'sessions', sessions_path %></a>
/       </li>
/       <li class="menu-499">
/         <a><%= link_to 'experts', experts_path %></a>
/       </li>
/       <li class="menu-493 last">
/         <a><%= link_to 'admin', sign_in_admin_index_path %></a>
/       </li>
/     </ul>              
/   </div>
/ </div>  
/  /.section, /#navigation 