.social_share.facebook
  - url = "http://www.facebook.com/sharer/sharer.php?u=#{session_url}"
  = link_to image_tag("facebook_50_50.png"), url, data: { popup: true}

.social_share.twitter
  - url = "http://twitter.com/home?status=#{session_title}+#{session_url}"
  = link_to image_tag("twitter_50_50.png"), url, data: { popup: true}

.social_share.linkedin
  - url = "https://www.linkedin.com/cws/share?mini=true&source=#{session_title}&url=#{session_url}"
  = link_to image_tag("linkedin_50_50.png"), url, data: { popup: true}

.social_share.google_plus
  - url = "http://plus.google.com/share?url=#{session_url}"
  = link_to image_tag("google_plus_50_50.png"), url, data: { popup: true}

- if defined? email
  .social_share.email
    %a{ href: "#email-modal", role: "button", data: { toggle: "modal" } }
      = image_tag("email_50_50.png")


