- session_url = CGI.escape session_url
- session_title = CGI.escape session_title

.social-share.facebook
  - url = "http://www.facebook.com/sharer/sharer.php?u=#{session_url}&title=#{session_title}"
  = link_to image_tag("facebook.png"), url, data: { popup: true}
  - if @show_shares
    #fb-shares.social-share.count
      = get_fb_shares("#{session_url}")

.social-share.twitter
  - url = "http://twitter.com/home?status=#{session_title}+#{session_url}"
  = link_to image_tag("twitter.png"), url, data: { popup: true}
  - if @show_shares
    #tw-shares.count
      = get_tw_shares("#{session_url}")

.social-share.linkedin
  - url = "http://www.linkedin.com/shareArticle?mini=true&url=#{session_url}&title=#{session_title}"
  = link_to image_tag("linkedin.png"), url, data: { popup: true}
  - if @show_shares
    #li-shares.count
      = get_li_shares("#{session_url}")

.social-share.google_plus
  - url = "http://plus.google.com/share?url=#{session_url}&title=#{session_title}"
  = link_to image_tag("googleplus.png"), url, data: { popup: true}
  - if @show_shares
    #li-shares

-# TODO: add email functionality
-# .social-share.email
-#   = link_to image_tag("email.png"), remote: true
