#tip-modal.modal.fade{tabindex: '-1', role: 'dialog', aria:{labelledby: 'modalLabel'}, aria:{hidden: 'true'}}
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .modal-dialog
      .modal-content
        .rounded-box
          .modal-body
            %button.btn.btn-prodygia.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h1#myModalLabel.modal-title Thanks for visiting us!
            = raw "Consider joining our #{link_to ' Prodygia community', new_user_registration_path}. It will be easier to stay in touch and let you know the latest news. You will be in full control of how much you will or will not hear from us."
            = form_for :guest, url: subscription_path do |f|
              .form-group.form-inline
                = f.email_field :email, placeholder: "Your Email Address" ,class: 'form-control'
                = f.submit "Subscribe", class: 'btn btn-prodygia'

