
- if user_signed_in?
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "", edit_user_registration_path, class: "fa fa-user", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "#{current_user.email.truncate(16)}"
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "", destroy_user_session_path, method: :delete, class: "fa fa-sign-out", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Log out"
  - if current_user.is_a? Expert
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to image_tag("dashboard.png"), dashboard_expert_path(current_user), "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "dashboard"
  - elsif current_user.is_a? Member
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to image_tag("dashboard.png"), dashboard_member_path(current_user), "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "dashboard"
- else
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "", new_user_registration_path, class: "fa fa-user", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Sign up"
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "", new_user_session_path, class: "fa fa-sign-in", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Sign in"