<h2>权限管理</h2>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
<style>
  span{display: inline-block; width: 15%;}

  p{margin-bottom: 5px; font-weight: bold; font-size: 15px; padding-left: 20px;}
</style>


<%= form_tag "/admin_rights/update"  do %>
  <%= hidden_field_tag :id, @right.id %>
  <%yaml_data['right'].each do |k, v|%>
    <p>
      <%=yaml_data['menu'][k] %>
      <input  type="radio" name="<%= k%>" onclick ="chec('none', '<%=k %>')"/>无
      <input  type="radio" name="<%= k%>" onclick ="chec('r', '<%=k %>')" />读
      <input  type="radio" name="<%= k%>" onclick ="chec('w', '<%=k %>')"/>写
    </p>
    <% v.each do |controller_name, cnc| %>
      <span>
        <%= cnc %>
      </span>
      <span>
        <% ri = Right.controller_right(@right, controller_name)  %>
        <%= radio_button_tag controller_name, 'none', false , :class => "none_#{k}" %>无
        <%= radio_button_tag controller_name, 'r',  ri=='r', :class => "r_#{k}" %>读
        <%= radio_button_tag controller_name, 'w',  ri=='w', :class => "w_#{k}" %>写
      </span>
    <%  end %>
  <% end  %>
  <br/><br/>
  <%= submit_tag '提交' %>
<% end %>

<script>
  function chec(value, k){
    $("."+value+'_'+k).attr("checked", 'checked')
  }
</script>