<div class="title2"><h2>添加新员工</h2></div>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="35%" align="left">用户名</th>
    <th width="9%">性别</th>
    <th width="17%" align="center">生日</th>
    <th width="20%" align="center">微博ID</th>
    <th align="center"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><img class="imgs" src="<%= user.head_logo.try(:img).try(:url,:t1) %>">
        <%= user.name %></td>
      <td align="center"><%= img_gender(user.gender) %></td>
      <td align="center"><%= user.birthday.try(:to_date) %></td>
      <td align="center"><%=link_to user.wb_uid.to_s, user.weibo_home %></td>
      <td align="center"><%= link_to "添加", '#', :onclick => "ajaxAddStaff($(this), '#{user.id}')"  %></td>
    </tr>
  <% end %>
</table>
<div class="pages mt15">
  <%= link_to '返回列表>>', '/shop_staffs', :class=>"btn3 l" %>
  <%= generate_paginate.html_safe %>
</div>
<script type="text/javascript">
  LeftMenu(13);
  function ajaxAddStaff(obj, uid){
    if(confirm("确定要加为员工？"))
      $.post("/shop_staffs/ajax_add_staff",{id: uid}, function(data) {
        obj.replaceWith(data['text'])
      });
  }
</script>
