<div class="subtitle">添加新员工</div>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">
  <tr>
    <th width="10%" class="first">姓名</th>
    <th width="7%">性别</th>
    <th width="15%" align="center">生日</th>
    <th width="15%" align="center">微博id</th>
    <th width="8%" align="center"></th>

  </tr>
  <% @users.each do |user| %>
    <tr>
      <td class="gray"><%= user.name %></td>
      <td align="center" class="gray"><%= user.show_gender %></td>
      <td align="center" class="gray"><%= user.birthday.try(:to_date) %></td>
      <td align="center" class="gray"><%= user.wb_uid %></td>
      <td align="center" class="gray"><%= link_to "添加", '#', :onclick => "ajaxAddStaff($(this), '#{user.id}')"  %></td>
    </tr>
  <% end %>

  <tr class="bottom">
    <td align="left"><%= link_to '返回', '/shop_staffs' %></td>
    <td colspan="3" align="right">
      <%= generate_paginate.html_safe %>
    </td>
  </tr>
</table>

<script type="text/javascript">
  function ajaxAddStaff(obj, uid){
    if(confirm("确定要加为员工？"))
      $.post("/shop_staffs/ajax_add_staff",{id: uid}, function(data) {
        obj.replaceWith(data['text'])
      });
  }

</script>
