
= s3_uploader_form class: "s3_uploader", acl: "public-read", data: {definition: "SD"} do
  %span SD:
  = file_field_tag :file, multiple: false
  %span.status

= s3_uploader_form class: "s3_uploader", acl: "public-read", data: {definition: "HD"} do
  %span HD:
  = file_field_tag :file, multiple: false
  %span.status

= simple_form_for @section do |f|

  = f.fields_for :video, (f.object.video || f.object.build_video) do |v|
    = v.label :cover, "Video Cover"
    = v.file_field :cover
    .SD
      = v.hidden_field :SD_file_name
      = v.hidden_field :SD_content_type
      = v.hidden_field :SD_file_size
      = v.hidden_field :SD_temp_path

    .HD
      = v.hidden_field :HD_file_name
      = v.hidden_field :HD_content_type
      = v.hidden_field :HD_file_size
      = v.hidden_field :HD_temp_path
  
  = f.input :title
  = f.input :description

  = f.button :submit, class: "btn"

:javascript
  upload_helper()
