
= render "shared/video_uploader"

= simple_form_for @section do |f|

  = render "shared/video_form_builder", f:f

  = f.input :title
  = f.input :description

  = f.button :submit, class: "btn"

:javascript
  upload_helper()
