- sublime_id = ""
%div{class: get_box_class(item)}

  .box-header
    .portrait
      = expert_image_link(item)
      .expert-name
        = expert_link(item)
    .content-type
      = image_tag(get_image_tag(item))
      %p= item.categories.join(", ")
      %p= item.language.split(",")[0] if item.language
  .title
    = link_to "#{item.title}", currect_path(item)
    - sublime_id = "sublime_#{item.class.to_s.underscore}_#{item.id}"
  -if (item.is_a? VideoInterview) || (item.is_a? Announcement)
    .cover
      %video.sublime{data:{autoresize: 'fit'}, poster: item.cover.url, preload: 'none'}
        %source{src: item.sd_url}
        %source{src: item.hd_url, data:{quality: 'hd'}}

  -elsif (item.is_a? ArticleSession) || (item.is_a?LiveSession)  && (!item.cover.url.eql?"/covers/original/missing.png")
    .cover
      = link_to image_tag(item.cover.url),session_path(item)
  -else

  .caption
    - if (item.cover.url) && (!item.cover.url.eql?"/covers/original/missing.png")
      %div.description= truncate_html(item.description, length: 300, omission: '...')
    - else
      %div.description= truncate_html(item.description, length: 600, omission: '...')
    - text = (item.is_a? ArticleSession) ?  'Continue reading' :  'Learn more'
    %p.learn-more= link_to text, currect_path(item)
    .social-share-icons
      = render 'shared/social_share', session_title: item.title, session_url: session_url(item)
