%div{class: item.decorate.get_box_class}

  .box-header
    .portrait
      = expert_image_helper(item)
      .expert-name
        = expert_name_helper(item)
    .content-type
      = image_tag(item.decorate.get_image_tag, class: "tooltips", title: item.decorate.get_tooltip, data: {placement: "bottom"})
      %p= item.category_names
      %p= item.language.split(",")[0] if (item.respond_to? :language and item.language)
  .title
    = link_to "#{item.title}", polymorphic_path(item)

  .cover
    -if (item.try(:video) && item.video.available?)
      = render "shared/sublime_video", video: item.video
    -else
      = link_to image_tag(item.cover.url), polymorphic_path(item)

  .caption
    - if (item.cover.url) && (!item.cover.url.eql?"/covers/original/missing.png")
      .description
        = truncate_html(item.description, length: 300, omission: '...')
    - else
      .description
        = truncate_html(item.description, length: 600, omission: '...')
    - text = (item.is_a? Article) ?  'Continue reading' :  'Learn more'
    %p.learn-more= link_to text, polymorphic_path(item)
    .social-share-icons
      .social-share.favorite-star
        - if current_user.blank?
          = link_to image_tag('favorite_unselected.png', class:'tooltips', title:'add to Favorites', data:{placement: 'bottom'}), '#sign-in-modal', data:{toggle: "modal"}
        - else
          = render 'shared/favorite_star', method: :has_subscribed?, object: item, link_path: subscribe_path(item, type: item.class.name)
      = render 'shared/social_share', item: item
