%div{class: get_box_class(item)}

  .box-header
    .portrait
      = expert_image_link(item)
      .expert-name
        = expert_link(item)
    .content-type
      = image_tag(get_image_tag(item), class: "tooltips", title: get_tooltip(item), data: {placement: "bottom"})
      %p= item.categories.join(", ")
      %p= item.language.split(",")[0] if item.language
  .title
    = link_to "#{item.title}", currect_path(item)
  -if (item.is_a? VideoInterview) || (item.is_a? Announcement)
    .cover
      = render "shared/sublime_video", item_resource: item, poster_url: item.cover.url

  -elsif (item.is_a? ArticleSession) || (item.is_a?LiveSession)  && (!item.cover.url.eql?"/covers/original/missing.png")
    .cover
      = link_to image_tag(item.cover.url), article_path(item)
  -else

  .caption
    - if (item.cover.url) && (!item.cover.url.eql?"/covers/original/missing.png")
      %div.description= truncate_html(item.description, length: 300, omission: '...')
    - else
      %div.description= truncate_html(item.description, length: 600, omission: '...')
    - text = (item.is_a? ArticleSession) ?  'Continue reading' :  'Learn more'
    %p.learn-more= link_to text, currect_path(item)
    .social-share-icons
      = render 'shared/social_share', item: item
