- sublime_id = ""
- sessions.each do |session|
  %div{class: get_box_class(session)}

    .box-header
      .portrait
        = image_tag(session.expert.avatar.url)
        .expert-name
          = link_to session.expert.name, profile_expert_path(session.expert)
      .content-type
        = image_tag(get_image_tag(session))
        %p= session.categories.join(", ")
        %p= session.language.split(",")[0] if session.language
    .title
      = link_to "#{session.title}", currect_path(session)
      - sublime_id = "sublime_#{session.class.to_s.underscore}_#{session.id}"
    -if (session.is_a? VideoInterview) || (session.is_a? Announcement)
      .cover
        .video-img{data: {"source-sd" => session.sd_url, "source-hd" => session.hd_url, from: "landing_page", "sublime-id" => sublime_id}}
          = image_tag session.cover.url, class: 'video-play'
          = image_tag "video_play_icon.png", class: 'play-video-icon'

    -elsif (session.is_a?ArticleSession) || (session.is_a?LiveSession)  && (!session.cover.url.eql?"/covers/original/missing.png")
      .cover
        = link_to image_tag(session.cover.url),session_path(session)
    -else

    .caption
      - if (session.cover.url) && (!session.cover.url.eql?"/covers/original/missing.png")
        %div.description= truncate_html(session.description, length: 300, omission: '...')
      - else
        %div.description= truncate_html(session.description, length: 600, omission: '...')
      - text = (session.is_a? ArticleSession) ?  'Continue reading' :  'Learn more'
      %p.learn-more= link_to text, currect_path(session)
      .social-share-icons
        = render 'shared/social_share', session_title: session.title, session_url: session_url(session)
