#content.container
  - @sessions.each do |session|
    .item
      .box-header
        = image_tag(session.expert.image_url)
        = session.expert.name
      .title
        = session.title
      .thumbnail
        - if session.video_url
          = video_tag session.video_url, controls: 'controls'
        -else
          = image_tag(session.cover.url)
      .caption
        %p Expert: #{session.expert.name}
        %p Description:
        %p= session.description
        %p Status:
        %p= session.status
        = social_share_button_tag("asd")
        = render 'linked_in_share_button'
