
%h1 Prodygia Picks

%table
  %tr
    %th Title
    %th Expert
    %th Description
    %th Status
    %th Image
    %th

  - @prodygia_picks.each do |session|
    %tr
      %td= session.title
      %td= session.expert.name
      %td= session.description
      %td= session.status
      %td= image_tag(session.image_url)

%br

%h1 Scheduled Sessions

%table
  %tr
    %th Title
    %th Expert
    %th Description
    %th Status
    %th Image
    %th

  - @scheduled.each do |session|
    %tr
      %td= session.title
      %td= session.expert.name
      %td= session.description
      %td= session.status
      %td= image_tag(session.image_url)

%br

%h1 Upcoming Sessions

%table
  %tr
    %th Title
    %th Expert
    %th Description
    %th Status
    %th Image
    %th

  - @upcoming.each do |session|
    %tr
      %td= session.title
      %td= session.expert.name
      %td= session.description
      %td= session.status
      %td= image_tag(session.image_url)