#content.container
  - @sessions.each do |session|
    .item
      .thumbnail
        - if session.video_url
          .video-img{data: {source: session.video_url}}
            = image_tag session.cover.url, class: 'video-play'
            = image_tag "video_play_icon.png", class: 'play-video-icon'
        -else
          = image_tag(session.cover.url)
      .caption
        .title
          = session.title
        %p Expert: #{session.expert.name}
        %p Description:
        %p= session.description
        %p Status:
        %p= session.status
        = social_share_button_tag("asd")
        = render 'linked_in_share_button'
