#content.container
  - @sessions.each do |session|
    %div{class: "item #{session.category.downcase}"}
      .box-header
        .portrait
          = image_tag(session.expert.image_url)
          .expert-name
            = session.expert.name
        .content-type
          -if session.content_type.eql?"LiveSession"
            = image_tag("livestreaming.png")
          -elsif session.content_type.eql?"ArticleSession"
            = image_tag("text.png")
          -elsif session.content_type.eql?"VideoSession"
            = image_tag("video.png")
          -elsif session.content_type.eql?"Announcement"
            = image_tag("announcement.png")
          %p= session.category
      .title
        -if session.content_type.eql?"ArticleSession"
          = link_to "#{session.title}", text_page_path(session)
        -else
          = link_to "#{session.title}", video_page_path(session)
      -if (session.content_type == "VideoSession") || (session.content_type == "LiveSession") || (session.content_type == "Announcement") && (!session.video.url.eql?"/videos/original/missing.png")
        .cover
          .video-img{data: {source: session.video.url}}
            = image_tag session.cover.url, class: 'video-play'
            = image_tag "video_play_icon.png", class: 'play-video-icon'

      -elsif (session.content_type.eql?"ArticleSession") && (!session.cover.url.eql?"/covers/original/missing.png")
        .cover
          = link_to image_tag(session.cover.url), text_page_path(session)
      -else

      .caption
        - if (session.cover.url) && (!session.cover.url.eql?"/covers/original/missing.png")
          %p.description= truncate_html(session.description, length: 300, omission: '...')
        - else
          %p.description= truncate_html(session.description, length: 600, omission: '...')
        - if session.content_type.eql?"ArticleSession"
          %p.learn-more= link_to 'Continue reading', text_page_path(session)
        - else
          %p.learn-more= link_to 'Learn more', video_page_path(session)
        .social-share-icons
          = render 'social_share'

