<style type="text/css">
#container{margin:auto;width:1100px;}
#container .col{float:left;width:120px;background:#ececec;margin:5px;text-align:center;}
.clear:after{clear:both;display:block;visibility:hidden;height:0;overflow:hidden;content:".";}
.clear{zoom:1;}
.page{margin:20px 0;}
.pages{float:right;}
.page a{float:left;width:21px;height:21px;margin-right:5px;overflow:hidden;text-indent:-2000px;}
.page .prv{background-position:-27px 0;}
.page .nxt{background-position:-79px 0;}
.page .back{background-position:-53px 0;}
.button{float:left;width:40px;}
</style>
<div id="container" class="clear">

<% @users.each do |user| %>
   <div class="box photo col">
      <a id="imgt2" href="<%= UserLogo.img_url(user.head_logo_id,:t2) %>" title="<%= user._id %>"><%= image_tag(UserLogo.img_url(user.head_logo_id,:t1), :size => "120x120") if user.head_logo_id%></a>
      <div class="button"><%= button_to "查看", "/admin_users/show?id=#{user.id}"%></div>
      <div class="button"><%= button_to "提示"%></div>
      <div class="button">
        <%= button_to(" 封杀",{}, {:onclick => "return kill($(this), {id: '#{user.id}', name: '#{user.name}'})"}) unless user.forbidden? %>
        <%= button_to(" 解封",{}, {:onclick => "return unkill($(this), {id: '#{user.id}',name: '#{user.name}'})"})  if user.forbidden? %>
      </div>
   </div>
<% end %>
  
</div>

    <div class="page clear">
      <div class="pages">
        <a id="imgt2" href="/admin_user_logos?page=2">下一页</a>
      </div>
   </div>




<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.masonry.min.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.infinitescroll.min.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/stylesheets/jquery.fancybox-1.3.4.css" />

<script type="text/javascript">
  $(document).ready(function() {
      $("a#imgt2").fancybox({
        'titlePosition': 'inside'
      });
  });

  $(function(){

    var $container = $('#container');
  
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.box'
      });
    });
  
  });

$(function(){
var $container = $('#container');
$('#container').infinitescroll({
    navSelector  : "div.page .pages",            
    nextSelector : "div.page .pages a:first",    
    itemSelector : ".col"          
  }, function( newElements ) {
    var $newElems = $( newElements );
    $container.masonry( 'appended', $newElems );
  });
  
  
   $('#container').masonry({
    itemSelector : '.col',
    columnWidth : 130
  });
  
});

  function kill(obj, param){
    if(confirm("确定封杀么？")){
      $.get("/admin_users/kill2",param, function() {
        str = "<input type='submit' value=' 解封\""+ param.name +"\"' onclick='return unkill($(this),"+ JSON.stringify(param) + ")'>"
        obj.parent().replaceWith(str)
      });
    }
    return false;
  }

  function unkill(obj, param){
    if(confirm("确定解封么？")){
      $.get("/admin_users/unkill",{id: param.id}, function() {
        str = "<input type='submit' value=\" 封杀'" + param.name + "'\" onclick='return kill($(this), " + JSON.stringify(param) +  ")'>"
        obj.parent().replaceWith(str)
      });
      return false
    }
  }


</script>