<% content_for :ahead  do %>
  <link href="/stylesheets/form.css" rel="stylesheet" type="text/css" />
<% end %>
<div class="title2"><h2>新建线路图</h2></div>

<div class="divNTemplet">
  <p>
    <%= select_tag :partner, options_for_select(session_shop.partners.map{|m| [ Shop.find_by_id(m[0]).try(:name)|| '', m[0]]}.unshift(['选择合作商家',''])) %>
  </p>
  <a href="javascript:void(0)" onclick="addSelectPartner($(this))">再加一个</a>
  <a href="javascript:void(0)" onclick="canlePartner($(this))">取消</a>
</div>

<%= form_tag "/shop_lines/create" do  %>

  <p>
    <span class="sodd">名称:</span>
    <span class="sven"><%= text_field_tag :name, '', :class => "inputs"%>
      <br/>(如:西湖二日游)</span>
  </p>

  <p><h3>总线路</h3></p>

  <p class='arr'>
    <span class='stex'>景点1</span>
    <span class="sodd">时间:</span>
    <span class="sven"><input id="name" class="inputs" type="text"  name="arr[time][]"/><br/>(如:第2天18点半,填 2:18:30)</span>
    <span class="sodd" >地点id:</span>
    <span class="sven"><input id="name" class="inputs" type="text" name="arr[id][]" onchange="keptPartner($(this))"/><br/>(脸脸地点的id)</span>
    <a href='javascript:void(0)' class='atex' onclick="partnerDig($(this))">添加合作商家</a>
  </p>
  <%= render :partial => "line" %>
  <%= render :partial => "line" %>
  <p>
    <a  href="javascript:void(0)" onclick="add_arr($(this))">增加景点</a>
  </p>
  <input type="submit" value="提 交" class="btn3 ml50 l"/><%= link_to '返回列表', '/shop_lines', :class=>"link1" %>
<% end %>

<script type="text/javascript">
  var json={}
  $(document).ready(function(){
    json.divTemplet=$(".divNTemplet").first().clone();
    json.divTemplet.attr('class', 'partner');
   // json.select = $(".divNTemplet p").first().clone();
    json.arr=$("p.arr:last")
    $(".stex").each(function(index){ $(this).text("景点"+ (index+1));})
  })
  
  function add_arr(obj){
    obj.parent().before(json.arr.clone());
    $(".stex").each(function(index){ $(this).text("景点"+ (index+1));})
  }

  function del_arr(obj){
    obj.parent().remove();
    $(".stex").each(function(index){ $(this).text("景点"+ (index+1));})
  }

  function partnerDig(obj){
    sid = obj.parent().children("span:last").children("input").val();
    if(sid=='')
    {
      alert("先添加景点id.")
    }
    else
    {
      var odiv = json.divTemplet.clone()
      obj.parent().after(odiv)
      odiv.children("p").each(function(){$(this).children('select').attr("name", "[partners]["+sid+"][]")})
      obj.hide();
    }
  }

  function addSelectPartner(obj){
    var oselect = obj.parent().children('p').first();
    obj.before(oselect.clone());
  }

  function canlePartner(obj){
    obj.parent().prev().children().show()
    obj.parent().remove();
  }

  function keptPartner(obj){
    op = obj.parent().parent()
    if(op.next().is('div')){
      if(confirm("地点id已改变，是否取消该地点的合作商家")){
        op.children().show();
        op.next().remove();
      }
    }
  }

</script>