<style type="text/css">
#wizard {border:1px solid #789;font-size:12px;height:540px;margin:20px auto;width:590px;overflow:hidden;position:relative;-moz-border-radius:1px;-webkit-border-radius:1px;}
#wizard .items{width:20000px; clear:both; position:absolute;}
#wizard .right{float:right;}
#wizard #status{height:45px;background:#123;padding-left:25px !important;}
#status li{float:left;color:#fff;padding:15px 30px;font-size: 16px;}
#status li.active{background-color:#369;font-weight:normal;}
.input{width:240px; height:18px; margin:10px auto; line-height:20px; border:1px solid #d3d3d3; padding:2px}
.page{padding:20px 30px;width:500px;float:left;}
.page h3{height:42px; font-size:16px; border-bottom:1px dotted #ccc; margin-bottom:20px; padding-bottom:5px}
.page h3 em{font-size:12px; font-weight:500; font-style:normal}
.page p{line-height:24px;}
.page p label{font-size:14px; display:block;}
.btn_nav{height:36px; line-height:36px; margin:20px auto;}
.prev,.next{width:100px; height:32px; line-height:32px; border:1px solid #d3d3d3; cursor:pointer}
</style>
<script type="text/javascript" src="/newbackstage/js/scrollable.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css"  charset="utf-8"/>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>

<div class="con2">
  <%= form_for(@lottery, :url => '/shop3_lottery/create' ) do |f| %>
  <div id="wizard">
    <ul id="status">
      <li class="active"><strong>1.</strong>活动欢迎语</li>
      <li><strong>2.</strong>活动结束语</li>
      <li><strong>3.</strong>活动设置</li>
    </ul>

    <div class="items">
      <div class="page">
               <h3>创建活动欢迎语<br/><em>在此创建活动欢迎语</em></h3>
               <p><%= f.label "活动名称："%> <%= f.text_field :name, :class=> "inputs2 mb10" %><span class="orange2 ml10 f18">*</span></p>
               <p><%= f.label "兑奖信息："%> <%= f.text_field :info, :class=> "inputs2 mb10" %><span class="orange2 ml10 f18">*</span></p>
               <p><label>活动时间:</label><%= f.text_field :time, :class => "datePicker inputs2 mb10", :readonly => "readonly" %><span class="orange2 ml10 f18">*</span></p>
               <p>
               <%= f.label "活动说明:" %>
               <%= f.text_area :des, :class => "textarea4 radius5 relative", :style=>"z-index:0;height:50px;word-wrap : normal"%><span class="orange2 ml10 f18">*</span>
               </p>
               <div class="btn_nav">
                  <input type="button" class="next right" value="下一步&raquo;" />
               </div>
            </div>
      <div class="page">
               <h3>创建活动结束语<br/><em>在此创建活动结束语</em></h3>
               <p><%= f.label "活动结束标题："%> <%= f.text_field :end_title, :class=> "inputs2 mb10" %></p>
               <p><%= f.label "活动结束说明："%> <%= f.text_area :end_des, :class=> "textarea4 radius5 relative", :style=>"height:50px;word-wrap : normal" %></p>
               <div class="btn_nav">
                  <input type="button" class="prev" style="float:left" value="&laquo;上一步" />
                  <input type="button" class="next right" value="下一步&raquo;" />
               </div>
            </div>
      <div class="page">
               <p><%= f.label "奖品类别: "%> <%= f.text_field :type, :class=> "inputs2 mb10" %></p>
               <p><%= f.label "奖品名称: "%> <%= f.text_field :jname, :class=> "inputs2 mb10" %></p>
               <p><%= f.label "奖品数量: "%> <%= f.text_field :jnum, :class=> "inputs2 mb10" %></p>
               <p><%= f.label "中奖概率: "%> <%= f.text_field :gl, :class=> "inputs2 mb10" %></p>
               <p><%= f.label "每天抽奖次数："%> <%= f.text_field :cnum, :class=> "inputs2 mb10" %></p>
               <p>请点击“完成”按钮完成创建。</p>
               <br/>
               <br/>
               <br/>
               <div class="btn_nav">
                  <input type="button" class="prev" style="float:left" value="&laquo;上一步" />
                  <!-- <input type="button" class="next right" style="color:green" id="sub" value="完成" /> -->
                  <input type="submit" name="Submit" class="next right" style="color:green" value="完 成"/>
               </div>
            </div>
    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
$(function(){
  $("#wizard").scrollable({
    onSeek: function(event,i){
      $("#status li").removeClass("active").eq(i).addClass("active");
    },
    onBeforeSeek:function(event,i){
      if(i==1){
        var name = $("#lottery_name").val();
        if(name==""){
          alert("请输入活动名称！");
          return false;
        }
        var info = $("#lottery_info").val();
        if(info==""){
          alert("请输入兑奖信息！");
          return false;
        }
        var time = $("#lottery_time").val();
        if(time==""){
          alert("请输入活动时间！");
          return false;
        }
        var des = $("#lottery_des").val();
        if(des==""){
          alert("请输入活动说明！");
          return false;
        }
      }
    }
  });
  $("#sub").click(function(){
    var data = $("form").serialize();
    alert(data);
  });
});

$((function($){
    $.datepicker.regional['zh-CN'] = {
        clearText: '清除',
        clearStatus: '清除已选日期',
        closeText: '关闭',
        closeStatus: '不改变当前选择',
        prevText: '<上月',
        prevStatus: '显示上月',
        prevBigText: '<<',
        prevBigStatus: '显示上一年',
        nextText: '下月>',
        nextStatus: '显示下月',
        nextBigText: '>>',
        nextBigStatus: '显示下一年',
        currentText: '今天',
        currentStatus: '显示本月',
        monthNames: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
        monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],
        monthStatus: '选择月份',
        yearStatus: '选择年份',
        weekHeader: '周',
        weekStatus: '年内周次',
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
        dayNamesMin: ['日','一','二','三','四','五','六'],
        dayStatus: '设置 DD 为一周起始',
        dateStatus: '选择 m月 d日, DD',
        dateFormat: 'yy-mm-dd',
        firstDay: 1,
        initStatus: '请选择日期',
        isRTL: false};
    $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
})(jQuery));

$('.datePicker').datepicker();
</script>
