<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalabe=yes"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta content="no-cache" http-equiv="Cache-Control">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>脸脸</title>
        <link rel="stylesheet" href="/cellphone/css/public.css" />
		<script src="/cellphone/js/jquery-1.6.2.min.js"></script>
		<script src="/cellphone/js/jquery.mobile-1.3.2.min.js"></script>
		<script src="/cellphone/js/public.js"></script>
    </head>
    <body >
        <div class="header">
			<h1><%= @shop.name %></h1>
			<a id="OpenMenu" alt="打开导航">打开导航</a>
			<div id="Menu">
			<a id="CloseMenu" alt="关闭导航"><span>关闭导航</span></a>
				<ul class="men">
					<li><a href="/cellphone/index.html" data-ajax="false">主页</a></li>
					<li><a href="/cellphone/company.html" data-ajax="false">公司介绍</a></li>
					<li><a href="/cellphone/news.html" data-ajax="false">最新动态</a></li>
					<li><a href="#" data-ajax="false">推荐菜品</a></li>
					<li><a href="/cellphone/contactus.html" data-ajax="false" data-ajax="false">联系我们</a></li>
				</ul>
			</div>
		</div>
		<div id="DH">
			<div class="imgdiv">
			    <% @mobile_banners.each do |mb| %>
				<a href=<%= "#{mb.url}" %> data-ajax="false">
				<%= image_tag( "#{MobileBanner.img_url(mb.id)}?time=#{Time.now.to_i}", :style => "width:720px;height:270px" ) %>
				</a>
				<% end %>
			</div>
			<div class="dhnum" id="DHNum">
				<a href="javascript:void(0)" class="def selected">1</a>
				<a href="javascript:void(0)" class="def">2</a>
				<a href="javascript:void(0)" class="def">3</a>
				<a href="javascript:void(0)" class="def">4</a>
				<a href="javascript:void(0)" class="def">5</a>
				<a href="javascript:void(0)" class="def">6</a>
			</div>
		</div>

        <% @mobile_articles.each do |ma| %>
		<div class="box1">
		    
			<div class="box1left">
			<a href=<%= "/mobile_articles/show?id=#{ma.id}&sid=#{@shop.id}" %> target="blank" >
			<!-- <img src="images/pic4.jpg" width="100%"> -->
			<%= image_tag( "#{MobileArticle.img_url(ma.id, :t2)}?time=#{Time.now.to_i}", :style => "width:100%" ) %></div>
			<!-- <a href="#" data-ajax="false"> -->
				<h2><%= ma.title %> </h2>
				<%= ma.content.slice(0,100).html_safe %>
			</a>
			
		</div>
		<% end %>
		<div class="box1">
			<div class="box1left"><img src="http://shop.dface.cn/cellphone/images/pic6.jpg" width="100%"></div>
			<a href="#" data-ajax="false">
				<h2>脸脸帮助</h2>
				<p>脸脸是什么？“脸脸”是一款基于现场的移动社交产品。通过脸脸，您可以进入您所在场所的虚拟现场，认识与您同在这里的人，与熟悉的或陌生的朋友打	招呼、聊天。上线即被APP推荐为社交类新品排行第一位！......</p>
			</a>
		</div>

		
		<div class="box1">
			<div class="box1left"><img src="http://shop.dface.cn/cellphone/images/pic7.jpg" width="100%"></div>
			<a href="#" data-ajax="false">
				<h2>欢迎您使用脸脸移动版网站</h2>
				<p>脸脸是什么？“脸脸”是一款基于现场的移动社交产品。通过脸脸，您可以进入您所在场所的虚拟现场，认识与您同在这里的人，与熟悉的或陌生的朋友打	招呼、聊天。上线即被APP推荐为社交类新品排行第一位！......</p>
			</a>
		</div>
		
		<a href="#" class="link">展开更多</a>
		<div id="Shadow">
			<a href="#" class="sina">新浪</a>
			<a href="#" class="qq">腾讯微博</a>
			<a href="#" class="qqspace">QQ空间</a>
			<a href="#" class="renren">人人</a>
		</div>
		<div class="border1"></div>
		<div class="footer">
			<a href="tel:13606543127" class="btn1">电话</a>
			<a href="#" class="btn2">短信</a>
			<a href="http://api.map.baidu.com/staticimage?center=120.128376,30.286706&width=600&height=600&zoom=18" class="btn3" data-ajax="false">地图</a>
			<a class="btn4" href="http://weibo.com/?c=spr_web_sq_baidub_weibo_t001" id="Btn4">分享</a>
		</div>
    </body>
</html>