<h1>城市列表</h1>
<% form_tag shops_path,:method =>:get do %>
  <p>

  </p>
<% end %>
<table border="1">
  <tr>
  <th>Id</th>
    <th>分类名称</th>
    <th>预览</th>
    <th>编辑</th>
  </tr>

<% for mcategory in @mcategories %>
  <tr>
    <td><%=h mcategory.id   %></td>
    <td><%=h mcategory.name   %></td>
     
     <td><%=link_to "预览", mcategory_path(mcategory)   %></td>
     <td><%=link_to "编辑", edit_mcategory_path(mcategory)   %></td>
  </tr>
<% end %>
</table>
<hr />

<div id="paginate" style="text-align: center">
  <%= generate_paginate @mcategories %>
</div>
