<h1>商家聊天记录</h1>
<table border="1">
  <tr>
    <th>时间</th>
    <th>用户</th>
    <th>内容</th>
  </tr>

  <% @gchats.each do |gchat| %>
    <tr>
      <td><%=Time.at(gchat[2]).strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%=link_to gchat[0], "/admin_users/show?id=#{gchat[0]}" %><%= User.find(gchat[0]).name %></td>
      <td><%=to_emoji gchat_img(gchat[1]) %></td>
    </tr>

  <% end %>
</table>


<br />
<br />
<%= generate_paginate.html_safe %>

<br />
<br />
