<h1>商家管理</h1>
<%= javascript_include_tag "jquery-1.6.2.min.js" %>

<%= form_tag '/admin_shops',:method =>:get do %>
  <p>
    名称:<%= text_field_tag :name, params[:name] %>
    区号: <%= text_field_tag :city, params[:city], :size => 10 %>
    分类: <%= select_tag :t,options_for_select(import_t.unshift(['','']),params[:t].blank? ? '' : params[:t].to_i )  %>
    排序： <%= select_tag :order,options_for_select([['id从大到小',""],['id从小到大',"1"]],params[:order])  %>
    <br/>
    加权：<%= select_tag :v,options_for_select([['所有商家','0'],['加权商家','1'],['未加权商家',"2"]],params[:v])  %>
    降权：<%= select_tag :d,options_for_select([['所有商家','0'],['降权商家','1'],['未降权商家',"2"]],params[:d])  %>
    删除：<%= select_tag :del,options_for_select([['所有商家','0'],['删除商家','1'],['未删除商家',"2"]],params[:del])  %>
    <br/>
    分类： <%= select_tag :type, options_for_select(import_type, params[:type].to_s) %>
    <%= submit_tag "查 找" %>
  </p>
<% end %>
<!--
<%= check_box_tag "", '', false, :onclick => "checked_all($(this).attr('checked'))" %> 全选
<%= check_box_tag "", '', false, :onclick => "inverse_all()" %> 反选
<%=  submit_tag '批量删除', :onclick => "batch_del()"%>-->
<table border="1">
  <tr>
    <th>id</th>
    <th>名称</th>
    <th>电话</th>
    <th>区号</th>
    <th>地址</th>
    <th>加权值</th>
    <th>降权值</th>
    <th>分类</th>
    <th>百度分类</th>
    <th>子商家</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.id.to_i %></td>
      <td><%= shop.name %></td>


      <td><%= shop.tel %></td>
      <td><%= shop.city %></td>
      <td><%= shop.addr %></td>
      <td><%= shop.v || '无' %></td>
      <td><%= shop.d || '无' %></td>
      <td><%= shop.show_t %></td>
      <td><%= shop.type %></td>
      <td><%= link_to(shop.shops.to_a.count, "/admin_shops/subshops?shop_id=#{shop.id}") %></td>
      <td><%= link_to('开通密码', "/admin_shops/set_password?id=#{shop.id}") %></td>
      <td><%= link_to('加权', "/admin_shops/upgrade_v?id=#{shop.id}") %></td>
      <td><%= link_to("详情", "/admin_shops/show?id=#{shop.id}") %></td>
      <td>
        <a onclick="ajaxdel($(this),<%= shop._id %>, false)" >删除</a>
      </td>

    </tr>

  <% end %>
</table>
<br />
<br />
<%= link_to "第1页",request.params.merge!(:page => 1), :class => "prev_pagee" %>
<%= link_to "上一页",request.params.merge!(:page => @page -1),:class => "prev_pagee"  if @page != 1 %>
<span class='current'><%= @page %></span>
<%= link_to "下一页",request.params.merge!(:page => @page + 1), :class => "next_page" %>
<br />



<script type="text/javascript">
  function showe(obj){
    obj.children("span:first").hide()
    obj.children("span:last").show();
  }

  function ajaxupdatelevel(obj,shop_id){
    var level = obj.parent().children("input[@type='radio']:checked").val()
    $.post("/admin_shops/ajaxupdatelevel",{level:level, shop_id:shop_id}, function(data) {
      obj.parent().parent().replaceWith("<td>"+data["level"]+"</td>")
    });
  }

  function ajaxdel(obj,shop_id,no_confirm){
    if(no_confirm || confirm("确定删除商家？"))
      $.post("/admin_shops/ajaxdel",{ shop_id:shop_id}, function() {
        obj.parent().parent().hide()
      });
  }

  function showes(){
    $('.th_level').each(function(){showe($(this))})
    $('.td_level').each(function(){showe($(this))})
  }

  function checkall(value){
    $('.level_'+value).each(function(){$(this).attr('checked','checked')})
  }

  function ajaxupdatelevelall(){
    $('.th_level:first').replaceWith("<th>等级</th>")
    $(".dhide").each(
    function(){
      var subobj = $(this).children("input[@type='submit']:first")
      ajaxupdatelevel(subobj, subobj.attr('name'))
    }
  )
  }

  function batch_del()
  {
    if(confirm("确定需要批量删除商家？"))
      $("table .checkbox_shops:checked").each(
    function(){
      ajaxdel($(this),$(this).val(), true)
    }
  )
  }

  function checked_all(checked){
    $("table .checkbox_shops").each(
    function() {
      if(checked == "checked")
        $(this).attr("checked", 'checked')
      else
        $(this).attr("checked", false)
    }
  )
  }

  function inverse_all(){
    $("table .checkbox_shops").each(
    function() {
      if($(this).attr("checked") == 'checked')
        $(this).attr("checked", false)
      else
        $(this).attr("checked", 'checked')
    }
  )
  }

</script>

