<h1>商家管理</h1>
<%= javascript_include_tag "jquery-1.6.2.min.js" %>

<%= form_tag '/admin_shops',:method =>:get do %>
  <p>
    名称:<%= text_field_tag :name, params[:name] %>
    经度: <%= text_field_tag :lng, params[:lng], :size => 10  %>
    纬度 <%= text_field_tag :lat, params[:lat], :size => 10  %>
    区号: <%= text_field_tag :city, params[:city], :size => 10 %>
    分类: <%= select_tag :t,options_for_select([['所有分类',''],['酒吧• 活动',1],['咖啡• 茶馆 ',2],['餐饮• 酒店',3],['休闲• 娱乐',4],['购物• 广场',5],['楼宇• 社区',6]],params[:t].to_i)  %>
    等级： <%= select_tag :level,options_for_select([['所有等级',''],['A',"A"],['B',"B"],['C',"C"],['D',"D"],['空','空']],params[:level])  %>
    排序： <%= select_tag :order,options_for_select([['id从大到小',""],['id从小到大',"1"],['等级从高向低',"2"],['等级从低向高',"3"]],params[:order])  %>
    <%= submit_tag "查 找" %>
  </p>
<% end %>
<%= check_box_tag "", '', false, :onclick => "checked_all($(this).attr('checked'))" %> 全选
<%= check_box_tag "", '', false, :onclick => "inverse_all()" %> 反选
<%=  submit_tag '批量删除', :onclick => "batch_del()"%>
<table border="1">
  <tr>
    <th></th>
    <th>名称</th>
    <th>经纬度</th>
    <th>电话</th>
    <th>区号</th>
    <th>地址</th>
    <th>分类</th>
    <th class="th_level" onclick="showes()">
      <span>
        等级
      </span>
      <span style="display:none">
        <%= radio_button_tag :level,'空',false,:onclick => "checkall('n')" %>空
        <%= radio_button_tag :level,'A',false,:onclick => "checkall('A')" %>A
        <%= radio_button_tag :level,'B',false,:onclick => "checkall('B')" %>B
        <%= radio_button_tag :level,'C',false,:onclick => "checkall('C')" %>C
        <%= radio_button_tag :level,'D',false,:onclick => "checkall('D')" %>D
        <%= submit_tag "提交", :onclick => "ajaxupdatelevelall()" %>
      </span>

    </th>
    <th></th>
  </tr>

  <% @shops.each do |shop| %>
    <tr>
      <td><%= check_box_tag "shops[]", shop._id, false, :class => 'checkbox_shops' %></td>
      <td><%= shop.name %></td>
      <td><%= shop.loc%></td>
      <td><%= shop.tel %></td>
      <td><%= shop.city %></td>
      <td><%= shop.addr %></td>
      <td><%= shop.t %></td>
      <td class="td_level" onclick="showe($(this))" >
        <span>
          <%= shop.level %>
        </span>
        <span class="dhide" style="display:none">
          <%= radio_button_tag "#{shop._id.to_i}",'空',shop.level=="",:class => 'level_n' %>空
          <%= radio_button_tag "#{shop._id.to_i}",'A', shop.level=="A",:class => 'level_A' %>A
          <%= radio_button_tag "#{shop._id.to_i}",'B',shop.level=="B",:class => 'level_B' %>B
          <%= radio_button_tag "#{shop._id.to_i}",'C',shop.level=="C",:class => 'level_C' %>C
          <%= radio_button_tag "#{shop._id.to_i}",'D',shop.level=="D",:class => 'level_D' %>D
          <%= submit_tag "提交", :onclick => "ajaxupdatelevel($(this), #{shop._id})", :name => shop._id.to_i %>
        </span>
      </td>
      <td>
        <a onclick="ajaxdel($(this),<%= shop._id %>, false)" >删除</a>
      </td>
    </tr>

  <% end %>
</table>
<br />
<% if (@shops_len+@pcount-1)/@pcount > 1 %>
  <div id="paginate" style="text-align: center">
    <%= link_to "第1页",{:action => :index, :name => params[:name], :t => params[:t], :lat => params[:lat], :lng => params[:lng],
      :city => params[:city],:page => 1, :pcount => params[:pcount]}, :class => "previous_page"  %>
    <%= link_to "上一页",{:action => :index, :name => params[:name], :t => params[:t], :lat => params[:lat], :lng => params[:lng],
      :city => params[:city],:page => @page.to_i-1, :pcount => params[:pcount]},:class => "previous_page"  if @page != 1 %>

    <em class="current"><%= @page %></em>
    <%= link_to "下一页",{:action => :index, :name => params[:name], :t => params[:t], :lat => params[:lat], :lng => params[:lng],
      :city => params[:city],:page => @page.to_i+1, :pcount => params[:pcount]}, :class => "next_page"  if @page != @last_page %>
    <%= link_to "第#{@last_page}页",{:action => :index, :name => params[:name], :t => params[:t], :lat => params[:lat], :lng => params[:lng],
      :city => params[:city],:page => @last_page, :pcount => params[:pcount]}, :class => "next_page"   %>
  </div>
<%  end %>


<script type="text/javascript">
  function showe(obj){
    obj.children("span:first").hide()
    obj.children("span:last").show();
  }

  function ajaxupdatelevel(obj,shop_id){
    var level = obj.parent().children("input[@type='radio']:checked").val()
    $.post("/admin_shops/ajaxupdatelevel",{level:level, shop_id:shop_id}, function(data) {
      obj.parent().parent().replaceWith("<td>"+data["level"]+"</td>")
    });
  }

  function ajaxdel(obj,shop_id,no_confirm){
    if(no_confirm || confirm("确定删除商家？"))
      $.post("/admin_shops/ajaxdel",{ shop_id:shop_id}, function() {
        obj.parent().parent().hide()
      });
  }

  function showes(){
    $('.th_level').each(function(){showe($(this))})
    $('.td_level').each(function(){showe($(this))})
  }

  function checkall(value){
    $('.level_'+value).each(function(){$(this).attr('checked','checked')})
  }

  function ajaxupdatelevelall(){
    $('.th_level:first').replaceWith("<th>等级</th>")
    $(".dhide").each(
    function(){
      var subobj = $(this).children("input[@type='submit']:first")
      ajaxupdatelevel(subobj, subobj.attr('name'))
    }
  )
  }

  function batch_del()
  {
    $("table .checkbox_shops:checked").each(
    function(){
      ajaxdel($(this),$(this).val(), true)
    }
  )
  }

  function checked_all(checked){
    $("table .checkbox_shops").each(
    function() {
      if(checked == "checked")
        $(this).attr("checked", 'checked')
      else
        $(this).attr("checked", false)
    }
  )
  }

  function inverse_all(){
    $("table .checkbox_shops").each(
    function() {
     if($(this).attr("checked") == 'checked')
       $(this).attr("checked", false)
     else
       $(this).attr("checked", 'checked')
    }
  )
  }

</script>