
<%= form_tag "/admin_shops/bat_add_sub" do %>
  <%= hidden_field_tag :pid, @shop.id  %>
  <table border="1">
    <tr>
      <th></th>
      <th>id</th>
      <th>名称</th>
      <th>地址</th>
      <th>距离</th>
    </tr>

    <% @shops.each do |shop| %>
      <tr>
        <td><%= check_box_tag "shop_ids[]", shop._id, @shop.shops.to_a.include?(shop._id)%></td>
        <td><%= shop.id.to_i %></td>
        <td><%= shop.name %></td>
        <td><%= shop.get_distance(shop.lo, @shop.loc_first) %></td>
        <td><%= shop.addr %></td>
      </tr>

    <% end %>
  </table>
  <br/>
  <%= submit_tag "确定" unless @shops.blank? %>
<% end %>
<br />