<%= javascript_include_tag "jquery-1.6.2.min.js" %>
<script type="text/javascript" src="/javascripts/jquery.shiftcheckbox.js"></script>
<script type="text/javascript">
  $(document).ready (
  function () {
    $('.checkbox_shops').shiftcheckbox();
  });
</script>
<p>
  <%= check_box_tag "", '', false, :onclick => "checked_all($(this).attr('checked'))" %> 全选
</p>

<%= form_tag "/admin_shops/bat_add_sub" do %>
  <%= hidden_field_tag :pid, @shop.id  %>
  <table border="1">
    <tr>
      <th></th>
      <th>id</th>
      <th>名称</th>
      <th>地址</th>
      <th>距离</th>
      <th>分类</th>
    </tr>

    <% @shops.each do |shop| %>
      <tr>
        <%= hidden_field_tag "ids[]", shop[0] %>
        <td><%= check_box_tag "shop_ids[]", shop[0], @shop.shops.to_a.include?(shop[0]) ,:class => 'checkbox_shops' %></td>
        <td><%= shop[0] %></td>
        <td><%= shop[1] %></td>
        <td><%= shop[2] %></td>
        <td><%= shop[3] %></td>
        <td><%= shop[4] %></td>
      </tr>

    <% end %>
  </table>
  <br/>
  <%= submit_tag "确定" unless @shops.blank? %>
<% end %>
<br />

<script>
  function checked_all(checked){
    $("table .checkbox_shops").each(
    function() {
      if(checked == "checked")
        $(this).attr("checked", 'checked')
      else
        $(this).attr("checked", false)
    }
  )
  }
</script>