<% unless @similars.blank? %>
  <h3>附近相似商家</h3>
  <table>
    <tr>
      <th>id</th>
      <th>名称</th>
      <th>地址</th>
      <th>分类</th>
      <th>距离</th>
    </tr>
    <% @similars.each do |s| %>
      <tr>
        <td>
          <%= s.id.to_i %>
        </td>
        <td>
          <%= s.name %>
        </td>
        <td>
          <%= s.addr %>
        </td>
        <td>
          <%= s.show_t %>
        </td>
        <td>
          <%= @shop.get_distance(s.loc_first, @shop.loc_first) %>
        </td>
      </tr>
    <%  end %>
  </table>
<%  end %>



<%= form_for(@shop, :url => "/admin_shops/create") do |f| %>
  <p>
    名称:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    地址:<br />
    <input type="text" name="shop_info[addr]" size="60">
  </p>
  <p>
    电话:<br />
    <input type="text" name="shop_info[tel]">
  </p>
  <p>
    百度坐标:<br />
    <%= f.text_field :lob %>(例:120.108,30.28)
  </p>
  <p>
    类型:<br />
    <%= f.select :t,options_for_select(import_t)  %>
  </p>


  <p>
    <%= f.submit "保存" %>
  </p>
<% end %>

