<%= form_for(@shop, :url => "/admin_shops/create") do |f| %>
  <p>
    名称:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    地址:<br />
    <%= f.text_field :addr %>
  </p>
  <p>
    区号:<br />
    <%= f.text_field :city %>
  </p>
  <p>
    电话:<br />
    <%= f.text_field :phone %>
  </p>
  <p>
    百度经纬度:<br />
    <%= f.text_field :lob %>
  </p>
  <p>
    实际经纬度:<br />
    <%= f.text_field :lo %>
  </p>
  <p>
    类型:<br />
    <%= f.select :t,options_for_select([['酒吧• 活动',1],['咖啡• 茶馆 ',2],['餐饮• 酒店',3],['休闲• 娱乐',4],['购物• 广场',5],['楼宇• 社区',6]])  %>
  </p>


  <p>
    <%= f.submit "保存" %>
  </p>
<% end %>