<%= javascript_include_tag "jquery-1.6.2.min.js" %>

<%= form_for(@hot, :url => "/admin_hots/update") do |f| %>
  <p>
    商家ID:<br />
    <%= f.number_field :shop_id, disabled: true %>
  </p>
  <p>
    商家名称:<br />
		<span class="show_shop_name">
		  <%= @hot.shop.name  %>
		</span>
  </p>
  <p>
    有效期:<br />
    <%= f.date_select :dead_line %>
  </p>
  <p>
    排序:<br />
    <%= f.number_field :shop_rank %>
  </p>
  <p>
    显示范围:<br />
    <%= f.radio_button :display_range, "全国" %>
		<%= f.label :display_range, "全国" %>
    <%= f.radio_button :display_range, "全城" %>
		<%= f.label :display_range, "全城" %>
  </p>

  <p>
    <%= f.submit "保存" %>
  </p>
<% end %>

