<h1>热门管理</h1>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>

<%= form_tag '/admin_hots',:method =>:get do %>
<% end %>

<%=button_to '新建', '/admin_hots/new'%>

<table border="1">
  <tr>
    <th>商家id</th>
    <th>商家名称</th>
    <th>有效期</th>
    <th>排序值</th>
    <th>显示区域</th>
    <th>操作</th>

    <% if session[:admin_id].to_s == '51f77abc20f318bc2b000001' %>
      <th></th>
    <% end %>

  </tr>

	<% @hots.each do |hot| %>
		<tr>
			<td><%= hot.shop_id.to_i %></td>
			<td><%= hot.shop_id.to_i %></td>
			<td><%= hot.dead_line %></td>
			<td><%= hot.shop_rank %></td>
			<td><%= hot.display_range %></td>
			<td>
				<%= link_to("删除", "/admin_hots/del?id=#{hot.id}") %>
				<%= link_to("编辑", "/admin_hots/edit?id=#{hot.id}") %>
			</td>

	<% end %>
</table>

<script type="text/javascript">
  function new_hot()
  {
  }
</script>
