<h1>新建热点商家</h1>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
<%= form_for(@hot, :url => "/admin_hots/create", :remote => true) do |f| %>
  <p>
    商家ID:<br />
		<%= f.number_field :sid, :onblur => "check_shop_name()" %>
  </p>
  <p>
    商家名称:<br />
		<div id="show_shop_name"></div>
  </p>
  <p>
    有效期:<br />
    <%= f.date_select :dead_line, selected: Date.today %>
  </p>
  <p>
    排序:<br />
    <%= f.number_field :od %>
  </p>
  <p>
    显示范围:<br />
    <%= f.radio_button :city, "all" %>
		<%= f.label :city, "全国" %>
    <%= f.radio_button :city, "()" %>
		<%= f.label :city, "全城" %>
  </p>

  <p>
    <%= f.submit "保存" %>
  </p>
<% end %>

<script type="text/javascript">
function check_shop_name() {
	var sid = $("#hot_sid").val()
	$.get("/admin_hots/check_shop_name",{id: sid}, function(data){
		text = data ? data['name'] : "id错误"
		$("#show_shop_name").replaceWith("<div id = show_shop_name> <span><b>"+ text +"</b></span></div>")
	});
}
</script>
