
<%= form_for(@right) do |f| %>
  <p>
    管理员 <%= f.select :admin_id, admin_select_opt %>
  </p>
  <p>
    部门 <%= f.select :depart_id, depart_select_opt %>
  </p>
  <p>
    角色 <%= f.select :role_id, role_select_opt %>
  </p>

  <script>
    function revertAll(name){
      var ss=document.getElementsByName(name);
      for(var i=0;i<ss.length;i++){
        ss[i].click();
      }
    }
    function selectAll(name){
      var ss=document.getElementsByName(name);
      for(var i=0;i<ss.length;i++){
        if(!ss[i].checked) ss[i].click();
      }
    }
  </script>

  <p>
    数据表 (<a onclick="selectAll('tables[]')" href="#">全选</a>&nbsp; <a onclick="revertAll('tables[]')" href="#">反选</a>)<br />
  <table>
    <% count=0 %>
    <% for ms in model_select %>
      <%= raw("<tr>") if count%3==0 %>
      <td>
        <% count = count+1 %>
        <%= check_box_tag "tables[]", ms[1], (!@right.tables.nil? && !@right.tables_s.index(ms[1]).nil?) %>
        <%= ms[0] %>
      </td>
      <%= raw("</tr>") if count%3==0 %>
    <% end %>
  </table>
  </p>
  <p>
    操作权限<br />
    <%= f.select :operate, operation_select %>
  </p>
  <p>
    <%= f.submit '保存' %>
  </p>
<% end %>