<% content_for :html_header do %>
    <title>管理员登录-一渡网</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta content="ie=7" http-equiv="x-ua-compatible"/>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'register' %>
    <script language="Javascript">
        self.moveTo(0, 0);
        self.resizeTo(screen.availWidth, screen.availHeight);
        if (top.frames.length != 0) top.location = self.location;
    </script>
<% end %>

<% content_for :body_tag do %>
    <body onload="$('name').focus();">
<% end %>

<% no_nav %>

<div id="main">
  <div class="step-nav">
    <a href="/">首页</a> &gt; <a href="/admin_login/login">管理员登录</a>
  </div>
  <div class="box">
    <h2>管理员登录</h2>

    <div id="notice" class="red1">
      <%= flash.now[:notice] if flash.now[:notice] %>
    </div>

    <% form_tag do %>
        <table width="200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="45"></td>
          </tr>
          <tr>
            <td height="35">
              <p>
                <label for="user_name">登录名</label>
                <%= text_field_tag :name, params[:name] %>
              </p>
            <td>
          </tr>
          <tr>
            <td height="35">
              <p>
                <label for="user_password">密码</label>
                <%= password_field_tag :password, params[:password] %>
              </p>
            <td>
          </tr>
          <tr>
            <td height="35">
              <div style="padding-left:75px;">
                <p class="act">
                  <%= submit_tag "登 录", :class => "submit" %>
                </p>
               </div>
            </td>
          </tr>
        </table>
    <% end %>
  </div>
  <div class="bottom"></div>
</div>

<script>
    //Event.observe(window, 'load', bodyonload)
    function bodyonload() {
//	$('name').focus();
    }
</script>