
- if @resource.errors.any?
  = pluralize(@resource.errors.count, "error") + "prohibited this resource from being saved:"
  %ul
    - @resource.errors.full_messages.each do |msg|
      %li= msg

= @resource.attached_file_file_name
%br
= @resource.attached_file_content_type
%br
= @resource.attached_file.url
