<h1><%= params[:id] %>注册用户</h1>

<table border="1">
  <tr>
    <th>名称</th>
    <th>wb_uid</th>
    <th>性别</th>
    <th>关注数</th>
    <th>黑名单数</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%=  link_to user.wb_uid.to_s, user.weibo_home %></td>
      <td><%= user.show_gender %></td>
      <td><%= user.blacks_s.count %></td>
      <td><%= user.follows.count %></td>
      <td>
        <%= link_to '详情', "/admin_users/show?id=#{user.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<%= generate_paginate.html_safe %>