<div class="con">
  <div class="title1 mb30"><h2 class="f18">拓展功能</h2></div>
  <div class="submenu">
    <ul>
      <li><a href="/shop3_lines">线路图</a></li>
      <li><%= link_to "旅行团", "/shop3_groups" %></li>
      <li class="hover"><a>合作商家</a></li>
      <li><%= link_to "合作商家评分", "/shop3_partners/mark" %></li>
    </ul>
    <div class="r wordstyle">
      <a href="/shop3_partners/new" class="btn9">新建合作商家</a>
    </div>
  </div>
  <table width="100%" cellspacing="0" cellpadding="0" class="tab2 mt40">
    <tr id="Tr0">
      <th width="200">商家名称</th>
      <th width="150">所在城市</th>
      <th width="315">地址</th>
      <th width="120">添加时间</th>
      <th width="45"></th>
    </tr>

    <% @shops.each_with_index do |shop, index| %>
      <tr id="Tr<%= index+1 %>">
        <td><%= shop.name  %></td>
        <td><%= shop.city_fullname  %></td>
        <td><%= shop.addr  %> </td>
        <td><%= @shopids[index][1].localtime.strftime("%Y-%m-%d %H:%M:%S")  %></td>
        <td><%= link_to "", 'javascript:void(0)', :class => "del", :onclick => "Del(this, '#{shop.id}')", :title => "删除" %></td>
      </tr>
    <% end  %>
  </table>

  <%= generate_paginate %>
</div>

<script defer="defer">
  $(document).ready(function(){
    runing=$("#CB1").attr("class");
    if(runing=="checkboxs1"){
      NavDiv();
      $(window).load(function(){
        MessageDiv();
      });
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }

    $(".tab2 tr:odd").addClass("trbg");
  });
  function Del(obj,sid){
    var delTimer,i=3;
    $(obj).removeAttr("onclick").removeClass().attr("title","").addClass("cancel").html("取消&nbsp;"+i);
    delTimer=setInterval(function(){
      if(i>0){
        i--;
        $(obj).css("display","none");
        $(obj).html("取消&nbsp;"+i);
        $(obj).fadeIn(500);
      }else if(i<=0){
        clearInterval(delTimer);
        $.get("/shop3_partners/del", {id: sid}, function(){
          $(obj).parent().parent().remove()
        });
      }
    },700);

    $(obj).attr("onclick","Cancel(this,"+delTimer+")");
  }
  function Cancel(obj,dt){
    clearInterval(dt);
    $(obj).removeClass().html("").attr("title","删除").addClass("del").attr("onclick","Del(this,$(this).attr('rel'))");
  }
</script>