<h2>
  <%= @user.name %>
</h2>

<%= form_tag "/admin_users/change_gender" do   %>
  <%= hidden_field_tag :id, @user.id %>
  性别： <%= select_tag :gender, options_for_select([['未设置', 0],['男',1], ['女',2]], @user.gender.to_i )%>

  <br/>
  <%= submit_tag '提交' %>

<% end  %>
