<%= form_tag '/admin_users',:method =>:get do %>
  名称: <%= text_field_tag :name, params[:name], :size => 10  %>
  id: <%= text_field_tag :id, params[:id], :size => 30  %>
  微博id: <%= text_field_tag :wb_uid, params[:wb_uid], :size => 10  %>
  城市代码: <%= text_field_tag :city, params[:city], :size => 5  %>
  性别: <%= text_field_tag :gender, params[:gender], :size => 2  %>
  : <%= text_field_tag :gender, params[:gender], :size => 2  %>
  <br/>
  加V： <%= select_tag :wb_v,options_for_select([['所有用户','0'],['加V用户','1']],params[:wb_v])  %>
  <br/>
  <%= submit_tag "查 找" %>
<% end %>

<br/>

<table border="1">
  <tr>
    <th>id</th>
    <th>注册时间</th>
    <th>名称</th>
    <th>出生日期</th>	
    <th>wb_uid</th>
    <th>性别</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user._id %></td>
      <td><%= user.cat.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%=image_tag(user.head_logo.img.url(:t1), :size => "50x50") if user.head_logo%><%= user.name %></td>
      <td><%= user.birthday %></td>
      <td><%=link_to(user.wb_uid.to_s, user.weibo_home, :target => '_blank') %></td>
      <td><%= user.show_gender %></td>
      <td>
        <%= link_to '详情', "/admin_users/show?id=#{user.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<%= generate_paginate3.html_safe %>

