<%= form_tag '/admin_users',:method =>:get do %>
  名称: <%= text_field_tag :name, params[:name], :size => 10  %>
  id: <%= text_field_tag :id, params[:id], :size => 30  %>
  微博id: <%= text_field_tag :wb_uid, params[:wb_uid], :size => 10  %>
  城市代码: <%= text_field_tag :city, params[:city], :size => 5  %>
  性别: <%= text_field_tag :gender, params[:gender], :size => 2  %>
  : <%= text_field_tag :gender, params[:gender], :size => 2  %>
  <br/>
  加V： <%= select_tag :wb_v,options_for_select([['所有用户','0'],['加V用户','1']],params[:wb_v])  %>
  <br/>
  <%= submit_tag "查 找" %>
<% end %>

<br/>

<table border="1">
  <tr>
    <th>id</th>
    <th>注册时间</th>
    <th>名称</th>
    <th>出生日期</th>	
    <th>wb_uid</th>
    <th>性别</th>
    <th>关注数</th>
    <th>脸脸版本</th>
    <th>os版本</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user._id, "/admin_users/show?id=#{user.id}" %></td>
      <td><%= user.cat.strftime("%Y-%m-%d %H:%M") %></td>
      <td><a id="imgt2" href="<%= UserLogo.img_url(user.head_logo_id,:t2) %>"><%=image_tag(UserLogo.img_url(user.head_logo_id,:t1), :size => "50x50") if user.head_logo_id%><%= to_emoji user.name %></a></td>
      <td><%= user.birthday %></td>
      <td><%=link_to(user.wb_uid.to_s, user.weibo_home, :target => '_blank') %></td>
      <td><%= user.show_gender %></td>
      <td><%= user.follow_ids.count %></td>
      <td><%= user.user_ver_redis %></td>
      <td><%= user.user_os_redis == 1 ? android : ios %></td>
      <td>
        <%= link_to '可信', "javascript:void(0)", :onclick => "ajaxKx($(this), '#{user.id}')" if !$redis.sismember('KxUsers', user.id) %>
      </td>
      <td>
        <%= link_to '详情', "/admin_users/show?id=#{user.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<%= generate_paginate3.html_safe %>

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script> 
<script type="text/javascript" src="/admin/javascripts/fancybox/jquery.masonry.min.js"></script> 

<link rel="stylesheet" type="text/css" href="/admin/stylesheets/jquery.fancybox-1.3.4.css" />
<script type="text/javascript">

  function ajaxKx(obj, id){
    $.get("/admin_users/ajax_kx", {id: id}, function(){ obj.replaceWith("已添加")})
  }


  $(document).ready(function() {
    $("a#imgt2").fancybox({
      'titlePosition': 'inside'
    });
  });

  $(function(){

    var $container = $('#container');
  
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.box'
      });
    });
  
  });
</script>

