<h1>用户详情</h1>
<p>
  <b>头像:</b>
  <br/>
  <%=image_tag @user.head_logo.try(:img) %>
</p>

<p>
  <b>用户:</b>
  <%=to_emoji @user.name %>  <%= @user.id %>
</p>
<p>
  <b>密码:</b>
  <%= @user.password %>
</p>

<p>
  <b>wb_uid:</b>
  <%=link_to(@user.wb_uid.to_s, @user.weibo_home, :target => '_blank') %>
</p>

<p>
  <b>qq:</b>
  <%= @user.qq %>
</p>


<p>
  <b>性别:</b>
  <%= @user.show_gender %>
</p>

<p>
  <b>生日:</b>
  <%= @user.birthday %>
</p>


<p>
  <b>invisible:</b>
  <%= @user.invisible %>
</p>
<p>
  <b>signature:</b>
  <%= @user.signature %>
</p>
<p>
  <b>job:</b>
  <%= @user.job %>
</p>
<p>
  <b>jobtype:</b>
  <%= @user.jobtype %>
</p>

<p>
  <b>头像数:</b>
  <%=link_to @user.user_logos.size, "/admin_users/logos?id=#{@user.id}" %>
</p>
<p>
  <b>签到:</b>
  <%=link_to "查看", "/admin_checkins?uid=#{@user.id}" %>
</p>

<p>
  <b>关注:</b>
  <%=link_to "查看", "/admin_users/follows?user_id=#{@user.id}" %>
</p>

<p>
  <b>黑名单:</b>
  <%=link_to "查看", "/admin_users/blacks?user_id=#{@user.id}" %>
</p>

<p>
  <b>用户照片:</b>
  <%=link_to "查看", "/admin_shop_photos?user_id=#{@user.id}" %>
</p>


<p>
  <b>聊天记录:</b>
<%=link_to "查看", "/admin_users/chat?id=#{@user.id}" %>
</p>


<%= link_to '后退',request.env["HTTP_REFERER"] if request && request.env %>