<h1>
  公告详情
</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>商家:</b>
  <%= session_shop.name %>
</p>

<p>
  <b>文本：</b>
  <%= @shop_notice.title %>
</p>


<p>
  <b>排序：</b>
  <%= @shop_notice.ord %>
</p>

<p>
  <b>有效：</b>
  <%= @shop_notice.effect ? "是" : '否' %>
</p>



<%= link_to '编辑', edit_shop_notice_path(@shop_notice) if @shop_notice.effect %> 
<%= link_to '返回列表', shop_notices_path %>
