<link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<style>
input[type="submit"]{
	/*background:#fba847;*/
	background: rgba(0,153,255,0.75);
	border:none;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position:relative;
	left:5px;
	height:40px;
	width: 100px;
	font-size:19px;
	margin:0px;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:700;
	color:#fff;
}
input[type="text"]{
	padding:9px;
	background:#fff;
	width: 370px;
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #ddd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.centered {
text-align: center;
}
.right {
	color: right;
}
</style>
<br>
<br>
<h2 style="text-align:center;">脸脸渠道查询</h2>
<br>
<br>

  
<div class="container">
    <div class="row-fluid">
        <div class="span12">
           <div class="centered">
			<%= form_tag '/web_channel_search',:method =>:get do %>
			  <p>
			    <%= text_field_tag :v, params[:v], :placeholder => "试试渠道id吧 ~.~"%>
			    <%= submit_tag "搜一下吧", :style => "margin:-10px 0 0 0" %>
			  </p>
			<% end %>
			<br>
			</div>
		    <div class="row-fluid">

		    <div class="offset1 span10">
		        
		        <div class="row-fluid">
		        <h4>按日期(独立ip)统计</h4>
		        <%= @channel_day_uniq_ip %>
		        <br><br>
		        <h4>按日期/ip统计</h4>
		        <%= @channel_dip %>
		        <br><br>
                <h4>按日期统计</h4>
		        <%= @channel_date %>
		        <br><br>
		        <h4>按ip统计</h4>
		        <%= @channel_ip %>
                <br><br>

		        </div>
		    
            </div>
		    </div>
        </div>
  </div>
</div>
  