.cover
  = link_to image_tag(object.cover.url), polymorphic_path(object)
.content
  - if current_user == subject
    = raw "You favorited #{link_to "\"#{object.title}\"", polymorphic_path(object)}"
    = raw "by #{link_to object.expert.name, polymorphic_path([:profile, subject])}"
  - else
    = "#{subject.name} favorited your #{object.class.name.downcase}"
    = link_to "\"#{object.title}\"", polymorphic_path(object)
