.avatar
  - if current_user == subject
    = link_to image_tag(object.avatar.url), polymorphic_path([:profile, object])
  - else
    = image_tag(subject.avatar.url)

.content
  - if current_user == subject
    = "You followed"
    = link_to object.name, polymorphic_path([:profile, object])
  - else
    = "You are followed by #{subject.name}"

