.chapter{id: "chapter#{chapter.order}"}
  .chapter-title
    .anchor
      %span= chapter.order
    .title
      %span= chapter.title
    .duration
      %span= distance_of_time_in_words chapter.duration.to_i

  - chapter.sections.each do |section|
    = render partial: "section", locals: {section: section, available: section.available_for?(current_user), show_preview: section.show_preview_label_for?(current_user)}
