

= simple_form_for @course do |f|
  = f.input :title, label: "Course Title"
  = f.input :description
  = f.association :experts
  = link_to_add_fields("add chapter", f, :chapters)
  .expand_field
  = f.submit
