%h3 Create an intro video for this course
%span SD
= s3_uploader_form class: "s3_uploader", acl: 'public-read', data:{definition: "SD"} do
  = file_field_tag :file, multiple: false
  %span.status

%span HD
= s3_uploader_form class: "s3_uploader", acl: 'public-read', data:{definition: "HD"} do
  = file_field_tag :file, multiple: false
  %span.status

= simple_form_for @course, html: {class: "fields"} do |f|

  = render "shared/video_form_builder", f:f

  = f.input :title, label: "Course Title"
  = f.input :price
  = f.input :description, input_html: {class: "ckeditor"}
  = f.association :experts
  = f.input :categories, as: :check_boxes, collection: Category.all, label_method: :name, value_method: :name
  = f.input :cover

  = f.simple_fields_for :chapters do |c|
    = render 'chapter_fields', f: c
    = c.simple_fields_for :sections do |s|
      - if s.object.persisted?
        = render 'section_fields', f: s

  = link_to_add_fields("add chapter", f, :chapters)
  = f.submit

-# todo: space above footer
.footer-spacer{style: "height: 50px;"}

:javascript
  upload_helper()
