%h3 Create an intro video for this course
%span HD
= s3_uploader_form id: "s3_intro_video_hd", callback_param: 'intro_video_hd', key: "intro_videos/hd/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}", key_starts_with: "intro_videos/hd", acl: 'public-read' do
  = file_field_tag :file, multiple: false
  = link_to "upload", "javascript:void(0)", id: "hd_upload_submit"
  .upload.js-progress-bars
    .progress
      .bars

%span SD
= s3_uploader_form id: "s3_intro_video_sd", callback_param: 'intro_video_sd', key: "intro_videos/sd/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}", key_starts_with: "intro_videos/sd", acl: 'public-read' do
  = file_field_tag :file, multiple: false
  = link_to "upload", "javascript:void(0)", id: "sd_upload_submit"
  .upload.js-progress-bars
    .progress
      .bars

= simple_form_for @course, html: {class: "fields"} do |f|
  = f.simple_fields_for :intro_video do |intro|
    = intro.input :attached_video_hd_file_name, as: :hidden
    = intro.input :attached_video_hd_content_type, as: :hidden
    = intro.input :attached_video_hd_file_size, as: :hidden
    = intro.input :hd_url, as: :hidden
    = intro.input :attached_video_sd_file_name, as: :hidden
    = intro.input :attached_video_sd_content_type, as: :hidden
    = intro.input :attached_video_sd_file_size, as: :hidden
    = intro.input :sd_url, as: :hidden

  = f.input :title, label: "Course Title"
  = f.input :price
  = f.input :description, input_html: {class: "ckeditor"}
  = f.association :experts
  = f.input :categories, as: :check_boxes, collection: Category.all, label_method: :name, value_method: :name
  = f.file_field :cover

  = f.simple_fields_for :chapters do |c|
    = render 'chapter_fields', f: c
    = c.simple_fields_for :sections do |s|
      - if s.object.persisted?
        = render 'section_fields', f: s

  = link_to_add_fields("add chapter", f, :chapters)
  = f.submit


-# todo: space above footer
.footer-spacer{style: "height: 50px;"}
