.section
  .content-icon.inline
    = image_tag "content.png"

  .section-title.inline.tooltips{data: {available: available.to_s, placement: "right"}}
    %span= section.title
    - if show_preview
      %span.label.label-preview Free preview

  .duration.inline.center-container
    %span= distance_of_time_in_words section.duration.to_i

  .section-detail
    - if available
      .section-modal.modal.hide.fade
        - if section.has_video?
          .video
            %video.sublime{title: section.title, width: "640", height: "360", preload: "none"}
              %source{src: section.sd_url}
              %source{src: section.hd_url, data: {quality: "hd"}}

        .description
          = section.description
        .close-icon
          = image_tag "close-icon.png"
    - else
      .enroll-modal.modal.hide.fade
        = render partial: "subscribe_modal", locals: {course: section.course}

