.section
  .section-title
    .content-icon
      = image_tag "content.png"

    .title.tooltips{data: {available: available.to_s, placement: "right"}}
      %span= section.title
      %span.label.label-preview= "Free preview"  if show_preview

    .duration
      %span= distance_of_time_in_words section.duration.to_i

  .section-detail
    - if available
      .section-modal.modal.hide.fade
        - if (section.video && section.video.available?)
          .video
            %video.sublime{title: section.title, width: "640", height: "352", preload: "none"}
              %source{src: section.video.SD.url}
              %source{src: section.video.HD.url, data: {quality: "hd"}}

        .description
          = section.description.html_safe
        .close-icon
          = image_tag "close-icon.png"
    - else
      .subscribe-modal.modal.hide.fade
        = render partial: "subscribe_modal", locals: {course: section.course}

