.section{data: {toggle: "modal", target: "#section-#{section.id}"}}
  .content-icon.inline
    = image_tag "content.png"

  .section-title.inline
    %span= section.title

  .duration.inline.center-container
    %span= distance_of_time_in_words section.duration.to_i

  .section-detail
    - if section.available_for current_user
      .section-modal.modal.hide{id: "section-#{section.id}"}
        - if section.has_video?
          .video
            %video.sublime{title: section.title, width: "640", height: "360", preload: "none"}
              %source{src: section.sd_url}
              %source{src: section.hd_url, data: {quality: "hd"}}
        .description
          = section.description
    - else
      .enroll-modal.modal.hide{id: "section-#{section.id}"}
        = render partial: "subscribe_modal", locals: {course: section.course}

