.card.review-card
  .card-header
    Review your order
  .card-body
    .cover
      = image_tag item.cover.url
    .detail
      .title
        = item.title
      .producers
        = item.producers
      .duration-category
        %span.duration
          = distance_of_time_in_words @course.duration.to_i
        %span.category
          = item.category_names
      .time
        = image_tag "time.png", class: "icon"
        = "Available immediately"
      .price
        = image_tag "price.png", class: "icon"
        = price_tag(item.price)

      - if user_signed_in?
        .payment
          = paypal_or_enroll_button(params, item)



- if not user_signed_in?
  .card.account-card
    .card-header
      Create an account
      .login
        = link_to "Login", new_user_session_path, class: "login-link underlined"
        = "to an existing account"
    .card-body

      .social-login
        = render "devise/shared/social_login"
      .devise-form
        - url_path = send("sign_up_confirm_#{item.class.name.downcase}_path", item.id)
        = form_for :user, url: url_path, html: {class: "form-horizontal", id: "sign_up_confirm_form"} do |f|
          = render 'sessions/form_fields', f: f
      .confirm
        %span.confirm-button Sign up and confirm
        %span.hint Create account and pay with Paypal!

  -# todo: space above footer
  .footer-spacer{style: "height: 50px;"}
