
.general-wrapper

  .course_preview
    %h1= @course.title

    .cover
      = image_tag @course.cover.url

    .description
      %span Description:
      = @course.description.html_safe
    .clearfix


    - @course.chapters.each do |c|
      .chapter.chapter-fields
        %span Chapter Title:
        = c.title

        %span Description:
        = c.description

      - c.sections.each do |s|
        .section.section-fields
          %span Section Title:
          = s.title
          %span Description:
          = s.description
          = link_to "upload resource/ (edit section)", edit_section_path(s.id), class: "btn"

