- content_for(:title){ @course.title }

.row
  .col-md-12

    .jumbotron.container.shadow
      .col-sm-4
        .cover-box.inline
          .cover
            - if @course.video.available?
              = render "shared/sublime_video", video: @course.video
            - else
              = image_tag @course.cover.url

          - if (current_user) && (current_user.enrolled? @course)
            .subscribed-button You're subscribed
          - else
            .enroll-button
              = link_to "Subscribe for #{number_to_currency(@course.price)}", enroll_course_path(@course)

      .col-sm-7
        .description-box.inline
          .title
            = @course.title
          .producers.inline.separator
            = producer_links(@course)

          .video-length.inline.separator
            = distance_of_time_in_words @course.duration.to_i

          .category.inline
            = @course.categories.join(", ")
          .description
            = @course.description.try :html_safe
      .col-sm-1
        .social-box.inline
          = render 'shared/favorite_star', method: :subscribe?, object: @course, link_path: subscribe_path(@course, type: @course.class.name)
          = render 'shared/social_share', item: @course

.row
  .col-md-12
    - @course.chapters.each do |c|
      = render partial: "chapter", locals: {chapter: c}
.row
  .col-md-12
    = render partial: "comments/comments", locals: {commentable: @course}

-# hidden modals
= render "shared/sign_in_modal"

