- content_for(:title){ @course.title }

.course-info.clearfix
  .cover
    = @course.video.available? ? (render "shared/sublime_video", video: @course.video) : (image_tag @course.cover.url)

  .description
    .title
      = @course.title
    .producers
      = producer_links(@course)
    .video-duration
      = distance_of_time_in_words @course.duration.to_i
    .category
      = @course.categories.join(", ")
    %article
      = @course.description.html_safe

  .social-box
    = render 'shared/favorite_star', method: :subscribe?, object: @course, link_path: subscribe_path(@course, type: @course.class.name)
    = render 'shared/social_share', item: @course

  - if (current_user) && (current_user.enrolled? @course)
    .button.subscribed You're subscribed
  - else
    .button.subscribe
      = link_to "Subscribe for #{number_to_currency(@course.price)}", enroll_course_path(@course)

= render partial: "chapter", collection: @course.chapters
= render partial: "comments/comments", locals: {commentable: @course}

-# hidden modals
= render "shared/sign_in_modal"

