- content_for(:title){ @course.title }

.course_show.margin-bottom

  .overview-wrapper.box

    .overview
      .cover-box.inline
        .cover
          - if @course.try :video
            = render "shared/sublime_video", video: @course.video
          - else
            = image_tag @course.cover.url

        - if (current_user) && (current_user.enrolled? @course)
          .subscribed-button You're subscribed
        - else
          .enroll-button
            = link_to "Subscribe for #{number_to_currency(@course.price)}", enroll_course_path(@course)

      .description-box.inline
        .title
          = @course.title
        .producers.inline.separator
          = producer_links(@course)

        .video-length.inline.separator
          = distance_of_time_in_words @course.duration.to_i

        .category.inline
          = @course.categories.join(", ")
        .description
          = @course.description.try :html_safe

      .social-box.inline
        = render 'shared/favorite_star', method: :subscribe?, object: @course, link_path: subscribe_path(@course, type: @course.class.name)
        = render 'shared/social_share', item: @course

  - @course.chapters.each do |c|
    = render partial: "chapter", locals: {chapter: c}

.comments.margin-bottom
  %h4 
    = pluralize(@course.comments.count, "Comment")
  = render partial: "comments/comment", collection: @course.comments, as: :comment
  = render partial: "comments/form", locals: {parent: @course}


-# hidden modals
= render "shared/sign_in_modal"

