.course_show.margin-bottom

  .overview-wrapper.box

    .overview
      .cover-box.inline
        .cover
          = render "shared/sublime_video", item_resource: @course.intro_video, poster_url: @course.cover.url
        .enroll-button
          = link_to "Enroll for #{number_to_currency(@course.price)}", enroll_course_path(@course)

      .description-box.inline
        .title
          = @course.title
        .producers.inline
          = producer_links(@course)
        -# video-length & category

        -# todo: add real video-length data
        -# .video-length.inline
        -#   1h 33m
        -# .separator.inline
        .category.inline
          = @course.categories.join(", ")
        .description
          = @course.description

      .social-box.inline
        = render 'shared/favorite_star', method: :subscribe?, object: @course, link_path: subscribe_course_path(@course)
        = render 'shared/social_share', item: @course

      -# .percentage{style: "visibility: hidden"}
      -#   %span 20
      -#   %span % complete
      -# .progress
      -#   .bar{style: "width: 0%"}


  - @course.chapters.each do |c|
    = render partial: "chapter", locals: {chapter: c}
