.course_show

  .overview-wrapper.box

    .overview
      .cover-box.inline
        .cover
          = image_tag @course.cover.url
        .enroll-button
          = link_to "Enroll for only $99"

      .description-box.inline
        -# title & expert
        .title.inline
          Social media in China with long title
        .expert.inline
          with Alessandro Duina and Nicolas Ruble
        -# video-length & category
        .video-length.inline
          1h 33m
        .separator.inline
        .category.inline
          business,culture,tech
        -# description
        .description
          In this course you will learn ipsum dolor sit amet, consectru adipiscing elit. 
          Tum Lucius: Mihi vero ista calde prodata sunt, quod item fratri puyto. Sed quid attinet de rebus tam apertis

      .social-box.inline

      .percentage
        %span 20
        %span % complete
      .progress
        .bar{style: "width: 0%"}


  .chapter.box
    .chapter-title
      .anchor.inline.center-container
        %span 1
      .title.inline.center-container
        %span The landscape
    .chapter-item
      .content-icon.inline
        = image_tag "content.png"
      .item-title.inline
        %span What the @$# is a weibo?
    .chapter-item
      .content-icon.inline
        = image_tag "content.png"
      .item-title.inline
        %span What the @$# is a weibo?
    .chapter-item
      .content-icon.inline
        = image_tag "content.png"
      .item-title.inline
        %span What the @$# is a weibo?

  .chapter.box
