.course_show.margin-bottom

  .overview-wrapper.box

    .overview
      .cover-box.inline
        .cover
          %video.sublime{data: {autoresize: 'fit'}, poster: "#{@course.cover.url}", id: 'intro-video'}
            %source{src: @course.intro_video.sd_url}
            %source{src: @course.intro_video.hd_url, data: { quality: 'hd' }}
        .enroll-button
          = link_to "Enroll for only $#{@course.price}", enroll_course_path(@course)

      .description-box.inline
        -# title & expert
        .title
          = @course.title
        .producers.inline
          = @course.producers

        -# video-length & category

        -# todo: add real video-length data
        -# .video-length.inline
        -#   1h 33m
        -# .separator.inline
        .category.inline
          = @course.categories.join(", ")
        -# description
        .description
          = @course.description

      .social-box.inline
        = render 'shared/favorite_star', method: :subscribe?, object: @course, link_path: subscribe_course_path(@course)
        = render 'shared/social_share', session_title: @course.title, session_url: course_url(@course)

      -# todo: add real progress bar
      .percentage{style: "visibility: hidden"}
        %span 20
        %span % complete
      .progress
        .bar{style: "width: 0%"}


  - @course.chapters.each do |c|
    = render partial: "chapter", locals: {chapter: c}
