.course_show

  .overview-wrapper.box

    .overview
      .cover-box.inline
        .cover
          = image_tag @course.cover.url
        .enroll-button
          = link_to "Enroll for only $99", enroll_course_path(@course)

      .description-box.inline
        -# title & expert
        .title
          = @course.title
        .producers.inline
          = @course.producers

          
        -# video-length & category
        .video-length.inline
          1h 33m
        .separator.inline
        .category.inline
          = @course.categories.join(", ")
        -# description
        .description
          = @course.description

      .social-box.inline

      .percentage
        %span 20
        %span % complete
      .progress
        .bar{style: "width: 0%"}


  - @course.chapters.each do |c|
    = render partial: "chapter", locals: {chapter: c}
