%h1 Listing propose_topics

%table
  %tr
    %th Name
    %th Location
    %th Email
    %th Topic
    %th
    %th
    %th

  - @propose_topics.each do |propose_topic|
    %tr
      %td= propose_topic.Name
      %td= propose_topic.Location
      %td= propose_topic.Email
      %td= propose_topic.Topic
      %td= link_to 'Show', propose_topic
      %td= link_to 'Edit', edit_propose_topic_path(propose_topic)
      %td= link_to 'Destroy', propose_topic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Propose topic', new_propose_topic_path
