<h1>聊天室内容审核</h1>
<table border="1">
  <tr>
    <th>商家</th>
    <th>用户</th>
    <th>时间</th>
    <th>屏蔽</th>
    <th>内容</th> 	

  </tr>

  <% @gchat_review.each do |gchat_review| %>
    <tr>
      <td><%= gchat_review.sid %></td>
      <td><%= gchat_review.uid %></td>
      <td><%= gchat_review.cat.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= link_to '屏蔽', "javascript:void(0)", :onclick => "ajaxPb($(this), '#{gchat_review.id}')"%></td>
      <td><%= gchat_review.txt %></td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">

  function ajaxPb(obj, id){
    $.get("/admin_gchat_content_review/ajax_pb", {id: id}, function(){ obj.replaceWith("已屏蔽")})
  }
</script>