<div class="subtitle">置顶公告</div>
<br/>
<style>
  #showTitle{width: 400px; height: 100px; border: 1px solid #F4F4F4}
  #noticeTitle{width: 400px; height: 100px;border: 3px inset #F4F4F4;}
  .sbtnDela{padding: 3px 3px 3px 5px;margin-left: 200px;}
  .sbtnSa{padding: 3px 3px 3px 5px}
  #savaBtn{margin-left: 252px;}
</style>

<div style="margin: 0px 50px;">
  <div style="margin: 10px 50px; ">
    <a class="sbtn sbtnSa" onclick="show_editer();">
      <%= @shop_notice ? '编 辑' : "发 布" %>
    </a>
    <%= link_to('删 除', "/shop_top_notices/delete?id=#{@shop_notice.id}", :class => 'sbtn sbtnDela' ) if @shop_notice%>
  </div>
  <div id="showTitle" onclick="show_editer();">
    <%=  @shop_notice.try(:title) %>
  </div>

  <div id="editer" style="display: none">
    <%= text_area_tag :title,@shop_notice.try(:title),:class => 'stxt atxt',:id => 'noticeTitle'%>
    <div style="margin: 10px 50px; ">
      <%= submit_tag "保 存", :onclick => "ajaxCreateNotice('#{@shop_notice.try(:id)}')", :class => 'sbtn', :id => "savaBtn"   %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function show_editer(){
    $('#showTitle').hide();
    $('#editer').show();
    $("#noticeTitle").focus();
  }

  function ajaxCreateNotice(notice_id){
    var title = $("#noticeTitle").val()
    $.get('/shop_top_notices/ajax_release', {id: notice_id, title: title}, function(data){
      var s = "<div id='showTitle' onclick='show_editer();'>"+data['title']+"</div>"
      var b = "<input class='sbtn' type='submit' id='savaBtn' value='保 存'  onclick=\"ajaxCreateNotice('"+data["id"]+"')\">"
      $('#showTitle').show();
      $('#showTitle').replaceWith(s);
      $('#editer').hide();
      $('#savaBtn').replaceWith(b);
    })
  }
  
</script>
