		<div class="con">
			<div class="title1"><h2 class="f18">数据统计</h2></div>
			<div class="box2 mt0">
				<div class="box2inner3" id="Dn2">

					<div class="box2plane3" style="top:0px;left:0px;" id="Dn2_b0">
						<span class="uparrow"><%= link_to @shop_checkin_week_num, "/shop3_checkins/rank_list"%></span>
						<span class="ws">本周签到</span>
						<ul class="list">
						    <% @shop_checkin_week.each do |checkin| %>
							<li><span class="l"><%= link_to User.find_by_id(checkin.uid).name, "/shop3_checkins/user?uid=#{checkin.uid}"%></span><span class="r gay1"><%= Time.at(checkin.id.to_s[0,8].to_i(16)).strftime("%m-%d %H:%M")%></span></li>
                            <% end %>
						</ul>
					</div>
					
<!-- 					<div class="box2plane3" style="top:0px;left:209px;" id="Dn2_b1">
						<span class="downarrow">112</span>
						<span class="ws">今日分享</span>
						<ul class="list">
							<li><span class="l">赵海斌</span><span class="r gay1">10:20</span></li>
							<li><span class="l">袁乐天</span><span class="r gay1">9:23</span></li>
							<li><span class="l">jojo</span><span class="r gay1">6:30</span></li>
							<li><span class="l">涂白了的记忆</span><span class="r gay1">5:56</span></li>
							<li><span class="l">安卓的安卓</span><span class="r gay1">5:23</span></li>
							<li><span class="l">安卓的安卓</span><span class="r gay1">2:23</span></li>
							<li><span class="l">赵海斌</span><span class="r gay1">昨天</span></li>
							<li><span class="l">袁乐天</span><span class="r gay1">前天</span></li>
							<li><span class="l">jojo</span><span class="r gay1">3天前</span></li>
							<li><span class="l">涂白了的记忆</span><span class="r gay1">4天前</span></li>
						</ul>
					</div> -->
					
                    <div class="box2plane3" style="top:0px;left:279px;" id="Dn2_b1">
					<!-- <div class="box2plane3" style="top:0px;left:418px;" id="Dn2_b2"> -->
						<span class="uparrow"><%= link_to @shop_downed_week_num, "/shop3_coupons/newly_down" %></span>
						<span class="ws">本周优惠券下载量</span>
						<ul class="list">
						    <% @shop_downed_week.each do |down| %>
							<li><span class="l"><%= link_to User.find_by_id(down.uid).name, "/shop3_checkins/user?uid=#{down.uid}"%></span><span class="r gay1"><%= down.dat.strftime("%m-%d %H:%M")%></span></li>
							<% end %>
						</ul>
					</div>
					
					<div class="box2plane3" style="top:0px;left:558px;" id="Dn2_b2">
						<span class="downarrow"><%= link_to @shop_use_week_num, "shop3_coupons/newly_use" %></span>
						<span class="ws">本周优惠券使用量</span>
						<ul class="list">
						    <% @shop_use_week.each do |use| %>
							<li><span class="l"><%= link_to User.find_by_id(use.uid).name, "/shop3_checkins/user?uid=#{use.uid}" %></span><span class="r gay1"><%= use.dat.strftime("%m-%d %H:%M") %></span></li>
							<% end %>
						</ul>
					</div>


				</div>
			</div>

			<div class="box2">
			    <div class="title1"><h2><a name="md0">每日统计</a></h2></div>
                

                				<div class="box2right1">
					
					<div class="box2inner4">
							<ul class="list">
								<li class="hover" onClick="SlideDoor(this,6)">每日签到</li>
								<li onClick="SlideDoor(this,7)">每日优惠券下载量</li>
								<li class="noneborder" onClick="SlideDoor(this,8)">每日优惠券使用量</li>
							</ul>
							<ul class="list2" id="Door6">
								<%= render :partial => "shop3_login/linecharts" %>
							</ul>
							<ul class="list2" id="Door7" style="display:none;">
								<%= render :partial => "downcharts" %>
							</ul>
							<ul class="list2" id="Door8" style="display:none;">
                                <%= render :partial => "usecharts" %>
							</ul>
					</div>
				</div>
			</div>


			
			<br/><br/><br/><br/>
		</div>