<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
<h1>商家优惠券</h1>
<%= form_tag '/admin_shop_coupons',:method =>:get do %>
  <p>
    区号: <%= text_field_tag :city, params[:city], :size => 5  %>
    商家名称: <%= text_field_tag :shop, params[:shop], :size => 20  %>
    (*区号和商家必须同时查询,否则无效,可以不填)
  </p>
  <p>
    优惠券名称:<%= text_field_tag :name, params[:name],:size => 10 %>
    优惠券类型：<%= select_tag :t2,options_for_select([['所有类型', '0'],['签到类','1'],['分享类','2']],params[:t2])  %>
  </p>
  <p>
    商家id:<%= text_field_tag :sid, params[:sid],:size => 10 %>
    过期：<%= select_tag :hidden,options_for_select([['所有优惠券','0'],['过期优惠券','1']],params[:hidden])  %>
  </p>

  <p>
    <%= submit_tag "查 找" %>
  </p>
<% end %>

<table border="1">
  <tr>
    <th>商家</th>
    <th>区号</th>
    <th>类型</th>
    <th>规则</th>
    <th>名称</th>
    <th>详情</th>
    <th>缩略图</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @coupons.each do |coupon| %>
    <tr>
      <td><%=link_to coupon.shop.try(:name), "/admin_shops/show?id=#{coupon.shop_id}" %>(<%= coupon.shop_id.to_i %>)</td>
      <td><%= coupon.shop.try(:city) %></td>
      <td><%= coupon.show_t2 %></td>
      <td><%= coupon.show_rule %></td>
      <td><%= coupon.name %></td>
      
      <td><%=truncate(coupon.desc, :length => 25) %></td>
      <td><%=image_tag coupon.img && coupon.img.url(:t1) %></td>
      <td><%= link_to "详情", "/admin_shop_coupons/show?id=#{coupon.id}" %></td>
      <td><%= link_to "过期", "#", :onclick => "ajaxLapse($(this), '#{coupon.id}')" %></td>
      <td><%= link_to "删除", "#", :onclick => "ajaxdel($(this), '#{coupon.id}', '#{coupon.name}')" %></td>
    </tr>
  <% end %>
</table>

<%= generate_paginate3.html_safe %>

<script type="text/javascript">
  function ajaxLapse(obj, coupon_id){
    if(confirm("确定过期？"))
    {
      $.get("/admin_shop_coupons/ajax_lapse", {id: coupon_id}, function(){
        obj.parent().parent().remove();
      })
    }
  }
  function ajaxdel(obj, coupon_id, cname){
    if(confirm("确定要删除名称是 '"+ cname + "'的优惠券？"))
    {
      $.get("/admin_shop_coupons/ajax_destroy", {id: coupon_id}, function(){
        obj.parent().parent().remove();
      })
    }
  }
</script>
