<h1>优惠券详情</h1>

<p>
  <b>优惠券id:</b>
  <%= @coupon._id %>
</p>
<p>
  <b>商家id:</b>
  <%= @coupon.shop.try(:id).try(:to_i) %>
</p>

<p>
  <b>区号:</b>
  <%= @coupon.shop.try(:city) %>
</p>

<p>
  <b>商家名称:</b>
  <%= @coupon.shop.try(:name) %>
</p>

<p>
  <b>优惠券名称:</b>
  <%= @coupon.name %>
</p>

<p>
  <b>优惠券详情:</b>
  <%= @coupon.desc %>
</p>

<p>
  <b>优惠券</b>
  <br/><br/>
  <%=  image_tag @coupon.img %>
</p>
<br/>
<p>
  <b>下载</b>
  <%= link_to @coupon.down_users.length, "/admin_shop_coupons/detail?id=#{@coupon.id}&type=down"  %>
</p>
<p>
  <b>使用</b>
  <%= link_to @coupon.use_users.length, "/admin_shop_coupons/detail?id=#{@coupon.id}&type=use"  %>
</p>


