<h1>人脸识别</h1>
<%= form_tag '/admin_rekognitions',:method =>:get do %>
  用户id: <%= text_field_tag :uid, params[:uid] %>
  排序: <%= select_tag :sel, options_for_select([['信任度从小到大','0'],['信任度从大到小','1'],['性别从小到大','2'],['性别从大到小','3'],
      ['年龄从小到大','4'],['年龄从大到小','5']], params[:sel]) %>
  <%= submit_tag "提交" %>
<%end%>
<br/>
<table border="1">
  <tr>
    <th>用户</th>
    <th>性别</th>
    <th>生日</th>
    <th>信任度</th>
    <th>性别</th>
    <th>年龄</th>
    <th>微笑</th>
    <th>带眼镜</th>
    <th>闭眼睛</th>
    <th>信任度</th>
    <th>性别</th>
    <th>年龄</th>
  </tr>

  <% @rekognitions.each do |rekognition| %>
    <tr>
      <td>
        <%=link_to rekognition.user.name, "/admin_users/show?id=#{rekognition.id}" %>
        <%= image_tag(UserLogo.img_url(rekognition.user.head_logo_id, :t1)) %>
      </td>
      <td>
        <%= rekognition.user.show_gender %>
      </td>
      <td>
        <%= rekognition.user.birthday %>
      </td>
      <% if data = rekognition.data %>
        <td>
          <%= data['confidence'] %>
        </td>
        <td>
          <%= data['sex'] %>
        </td>
        <td>
          <%= data['age'] %>
        </td>
        <td>
          <%= data['smile'] %>
        </td>
        <td>
          <%= data['glasses'] %>
        </td>
        <td>
          <%= data['eye_closed'] %>
        </td>

      <%else%>
        <td></td><td></td><td></td><td></td><td></td><td></td>
      <% end %>

      <% if data2 = rekognition.data2 %>
        <td>
          <%= data2['confidence'] %>
        </td>
        <td>
          <%= data2['age'] %>
        </td>
        <td>
          <%= data2['sex'] %>
        </td>
      <%else%>
        <td></td><td></td><td></td>
      <% end %>
    </tr>

  <% end %>
</table>

<%= generate_paginate3.html_safe %>
<br/>
<br/>

