<h1>签到列表</h1>
<script src="/javascripts/My97DatePicker/WdatePicker.js"></script>
<%= form_tag '/admin_checkins',:method =>:get do %>
  <p>
    开始时间: <%= text_field_tag :start_at,params[:start_at] || Time.now.beginning_of_month.to_date, :onclick=>"WdatePicker({dateFmt:'yyyy-MM-dd'})", :size => 10 %>
    截止时间: <%= text_field_tag :end_at, params[:end_at] || Time.now.to_date, :onclick=>"WdatePicker({dateFmt:'yyyy-MM-dd'})",:size => 10  %>
    商家: <%= text_field_tag :shop, params[:shop], :size => 10  %>
    用户: <%= text_field_tag :user, params[:user], :size => 10 %>
    经纬度: <%= text_field_tag :loc, params[:loc], :size => 10  %>
    ip： <%= text_field_tag :ip, params[:ip], :size => 10  %>
    <%= submit_tag "查 找" %>
  </p>
<% end %>

<table border="1">
  <tr>
    <th>时间</th>
    <th>用户</th>
    <th>商家</th>
    <th>经纬度</th>
    <th>ip</th>
    <th>排名</th>
    <th>误差</th>
  </tr>

  <% @checkins.each do |checkin| %>
    <tr>
      <td><%= checkin.cat.to_date %></td>
      <td><%= checkin.user.name %></td>
      <td><%= checkin.shop.name %></td>
      <td><%= checkin.loc %></td>
      <td><%= checkin.ip %></td>
      <td><%= checkin.od.to_i %></td>
      <td><%= checkin.acc %></td>
    </tr>
  <% end %>
</table>

<%= generate_paginate.html_safe %>