<p id="notice"><%= notice %></p>

<p>
  <b>Mshop:</b>
  <%= @checkin.shop_id %>
</p>

<p>
  <b>User:</b>
  <%= @checkin.user_id %>
</p>

<p>
  <b>Ip:</b>
  <%= @checkin.ip %>
</p>

<p>
  <b>Time:</b>
  <%= @checkin.cat %>
</p>

<p>
  <b>Lat:</b>
  <%= @checkin.loc[0] %>
</p>

<p>
  <b>Lng:</b>
  <%= @checkin.loc[1] %>
</p>

<p>
  <b>Shop name:</b>
  <%= @checkin.shop_name %>
</p>


<%= link_to 'Back', checkins_path %>
