<div class="con2">
      <div class="title1 mb30">
        <h2 class="f18 l">优惠券管理</h2>
        <a href="/shop3_coupons" class="r btn9">发布优惠券</a>
      </div>
      <div class="submenu">
        <ul>
          <li class="hover"><a href="/shop3_coupons/list">优惠券列表</a></li>
          <li><a href="/shop3_coupons/newly_down">最新下载记录</a></li>
          <li><a href="/shop3_coupons/newly_use">最新使用记录</a></li>
          <li><a href="/shop3_coupon_reports">统计报表</a></li>
        </ul>
        <div class="r">
<!--         <form action="" method="post">
          显示&nbsp;
          <select name="select" class="p3">
            <option value="10">10</option>
            <option value="10">20</option>
            <option value="10">30</option>
          </select>
          &nbsp;条/记录
        </form> -->
        </div>
      </div>
<!--       <div class="search">
        搜索
        <select name="select" class="p3 mlr10">
          <option value="全部">全部</option>
          <option value="编号">编号</option>
          <option value="用户">用户</option>
          <option value="优惠券">优惠券</option>
          <option value="下载时间">下载时间</option>
          <option value="收到时间">收到时间</option>
        </select>
        <input type="text" class="inputs5"/>
        <input type="submit" value="提 交" class="btn6 ml10"/>
      </div> -->
      <table width="100%" cellpadding="0" cellspacing="0" class="tab2">
        <tr class="change" id="Tr0">
          <th class="textleft pl15">优惠券</th>
          <th width="80">已下载</th>
          <th width="80">已使用</th>
          <th width="45">状态</th>
          <th width="100">操作</th>
        </tr> 


        <% @coupons.each_with_index do |coupon, index| %>
        <tr id="Tr<%= index+1%>">
          <td>
			<a href="show?id=<%= coupon.id%>" title="查看详情">
				<%=image_tag(coupon.img.url(:t1),:id=>"img_#{coupon.id}", :class=>"l #{coupon.hidden && 'imgfilter'}",:width => "130") %>
				<span class="l ml10"><%= coupon.name %><br/><span class="gay1"><%= coupon.show_t2  %></span></span>
			</a>
          </td>
          <td width="80" class="textcenter"><%= link_to coupon.down_users.to_a.count, {:action => 'newly_down', :cid => coupon.id} %></td>         
          <td width="80" class="textcenter"><%= link_to coupon.use_users.to_a.count,{:action => 'newly_use', :cid => coupon.id} %></td>
		  <% if coupon.hidden %> 
			<td width="45" class="textcenter gay4">已停用</td>
		  <% else %> 
			<td width="45" class="textcenter red2">有效</td>
		  <% end %> 
		  
          <td width="135" valign="middle" class="textcenter">
<!--             <a href="coupon_issuing.html" class="edit" title="编辑">编辑</a>
          <a href="#" class="act" title="激活此优惠券">激活此优惠券</a>
            <a onclick="Del(this,$(this).attr('rel'))" class="del" rel="5" title="删除">删除</a>   -->        

        <%=link_to '编辑', ("edit?id=#{coupon.id}" if coupon.down_users.blank? && coupon.hidden !=1 ), :class => "edit",:title => "编辑",:style => ("display:none" if !coupon.down_users.blank? || coupon.hidden == 1)  %>
        <% if coupon.hidden == 1 %>
		  <a onclick="ajaxCD($(this),'<%=coupon.id%>',<%=coupon.allow_activate?%>,'<%= index%>')" class="act" title="激活此优惠券">激活此优惠券</a>
		<% else %>
		  <a onclick="ajaxDeply(this, '<%=coupon.id%>')" class="act2" title="停用此优惠券">停用此优惠券</a>
        <% end %>
		 <a onclick="ajaxDel(this,'<%=coupon.id%>')" class ="del" title ="删除" <%= style="display:none" if !coupon.down_users.blank?%> >删除</a>
        <%= (link_to '删除', '#', :onclick => "ajaxDel($(this), '#{coupon.id}')", :class => "del",:title => "删除") if !coupon.down_users.blank?  %>
		</td>

          </tr>
        <% end %>

      </table>
      <div class="pagination">
        <%= generate_paginate.html_safe %>
      </div>
      
    </div>

<script type ="text/javascript">
$(document).ready(function(){
    runing=$("#CB1").attr("class");
    if(runing=="checkboxs1"){
      NavDiv();
      $(window).load(function(){
        MessageDiv();
      });
    }else if(runing=="checkboxs2"){
      AllNoDH();
    }

    $(".tab2 tr:odd").addClass("trbg");
});

function Cancel(obj,dt){
	clearInterval(dt);
	$(obj).removeClass().html("删除").attr("title","删除").addClass("del").attr("onclick","Del(this,$(this).attr('rel'))");
}
 
  function ajaxDeply(obj, coupon_id){
    if(confirm("确定停用此优惠券么？"))
    {
      $.get("/shop3_coupons/ajax_deply",{id: coupon_id}, function(data) {
        obj.replaceWith(data['text']);
    $("#img_"+coupon_id).addClass("imgfilter");
      });
    }
  }

  function ajaxCD(obj,coupon_id,allow,index){
    if(!allow){
      if(confirm("确定激活此优惠券么？")){
        $.get("/shop3_share_coupons/ajax_activate",{id: coupon_id}, function(data) {
			obj.replaceWith(data['text']);
			$("#img_"+coupon_id).removeClass("imgfilter");
        });
      }
    }else{
      alert('不能激活,已有一张有效的同规则优惠券。')
    }
  }

function ajaxDel(obj, coupon_id){
	var delTimer,i=5;
	$(obj).removeAttr("onclick").removeClass().attr("title","").addClass("cancel").html("取消&nbsp;"+i);
	delTimer=setInterval(function(){
		if(i>0){
			i--;
			$(obj).css("display","none");
			$(obj).html("取消&nbsp;"+i);
			$(obj).fadeIn(500);
		}else if(i<=0){
			clearInterval(delTimer);
			return false;
			$.get("/shop3_coupons/ajax_del",{id: coupon_id}, function(data) {
				if(data['text']){
					$("#Tr"+n).hide(300,function(){
						$(this).remove();
					});
				}
				else{
				  alert('删除失败.')
				}
			});
		}
	},750);
	$(obj).attr("onclick","Cancel(this,"+delTimer+")");
} 
</script>