<div class="title1 mb30">
  <h2 class="f18">地点报错管理</h2>
</div>
<div class="customer_info" style="width:760px; padding:40px 20px;">
  <%= form_for(@shop, :url => "/admin_user_reports/update_shop_info") do |f| %>
    <%= hidden_field_tag :id, @shop.id.to_i %>
    <div class="row md_addr">
      <div class="col-md-2 text-right md_addr_lable">
        地点名称:
      </div>
      <div class="col-md-10 md_addr_text">
        <%= f.text_field :name ,class:"md_addr_txt"%>
      </div>
    </div>

    <div class="row md_addr">
      <div class="col-md-2 text-right md_addr_lable">
        地点地址:
      </div>
      <div class="col-md-10 md_addr_text">
        <%= text_field :shop_info, :addr,class:"md_addr_txt"%>
      </div>
    </div>

    <div class="row md_addr">
      <div class="col-md-2 text-right md_addr_lable">
        地点电话:
      </div>
      <div class="col-md-10 md_addr_text">
        <%= text_field :shop_info, :phone ,class:"md_addr_txt"%>
      </div>
    </div>

    <div class="row md_addr">
      <div class="col-md-2 text-right md_addr_lable">
        地点类型:
      </div>
      <div class="col-md-10 md_addr_text">
        <%= f.select :t,options_for_select(import_t, @shop.t)  %>
      </div>
    </div>

    <div class="row md_addr">
      <div class="col-md-2 text-right md_addr_lable" style="line-height:34px;">
        <%= f.submit "保存", class: "btn btn-primary" %>
      </div>
      <div class="col-md-2 md_addr_text">
        <%= link_to "取消", "/admin_user_reports/index", class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>