<style>
  .md_addr{margin:10px !important;}
  .md_addr_lable{ width: 120px !important; margin-right: -120px !important;}
  .md_addr_text{ margin-left: 120px !important;}
</style>
<div class="title1 mb30">
  <h2 class="f18">地点报错管理</h2>
</div>
<div class="container customer_info" id="admin_user_reports" style="width:760px; padding:40px 20px; margin-left:0px;">
  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      商家ID:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.id %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点名称:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.name %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点地址:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.addr %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点电话:
    </div>
    <div class="col-md-3 md_addr_text" id="lob">
      <%= @shop.phone %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点类型:
    </div>
    <div class="col-md-3 md_addr_text">
      <%= @shop.show_t %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 ">
      <%= link_to("信息修改", "/admin_user_reports/modify_info?id=#{@report.shop.id}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2 ">
      <%= link_to("重复地点查看", "/admin_user_reports/repeat?id=#{@report.id}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2 ">
      <%= link_to("删除地点", "/admin_user_report/repot_del?id=#{@report.id}", class: "btn btn-default") %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点名称:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.name %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      地点地址:
    </div>
    <div class="col-md-4 md_addr_text">
      <%= @shop.addr %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2 text-right md_addr_lable">
      百度经纬度:
    </div>
    <div class="col-md-3 md_addr_text" id="lob">
      <%= @report.shop.lo %>
    </div>
  </div>

  <div class="row md_addr">
    <div class="col-md-2">
      <%= link_to "坐标修改", "/admin_user_reports/modify_location?id=#{@report.id}", class: "btn btn-default" %>
    </div>
  </div>
</div>
