<div class="container" id="admin_user_reports">
  <div class="row">
    <div class="col-md-2 text-right">
      商家ID:
    </div>
    <div class="col-md-4">
      <%= @shop.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      地点名称:
    </div>
    <div class="col-md-4">
      <%= @shop.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      地点地址:
    </div>
    <div class="col-md-4">
      <%= @shop.addr %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      地点电话:
    </div>
    <div class="col-md-3" id="lob">
      <%= @shop.phone %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      地点类型:
    </div>
    <div class="col-md-3">
      <%= @shop.show_t %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      <%= link_to("信息修改", "/admin_user_reports/modify_info?id=#{@report.shop.id}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2 text-right">
      <%= link_to("重复地点查看", "/admin_user_reports/repeat?id=#{@report.id}", class: "btn btn-default") %>
    </div>
    <div class="col-md-2 text-right">
      <%= link_to("删除地点", "/admin_user_reports/report_del?id=#{@report.id}", class: "btn btn-default delete-btn") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      地点名称:
    </div>
    <div class="col-md-4">
      <%= @shop.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      地点地址:
    </div>
    <div class="col-md-4">
      <%= @shop.addr %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      百度经纬度:
    </div>
    <div class="col-md-3" id="lob">
      <%= @report.shop.lo %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      <%= link_to "坐标修改", "/admin_user_reports/modify_location?id=#{@report.id}", class: "btn btn-default" %>
    </div>
    <div class="col-md-2">
      <%= link_to "返回", "/admin_user_reports/untreated", class: "btn btn-default" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".delete-btn").click(function(event) {
      if(!confirm("确定删除？")) {
        event.preventDefault();
      }
    })
  })
</script>
