.intro-video
  %h4 Intro Video
  %span SD
  = s3_uploader_form class: "s3_uploader", acl: 'public-read', data:{definition: "SD"} do
    = file_field_tag :file, multiple: false
    %span.status

  %span HD
  = s3_uploader_form class: "s3_uploader", acl: 'public-read', data:{definition: "HD"} do
    = file_field_tag :file, multiple: false
    %span.status


= simple_form_for [:admin, @expert] do |f|
  %fieldset
    = render "shared/video_form_builder", f:f
      
  %fieldset
    = f.input :email, required: true
    = f.input :first_name
    = f.input :last_name
    .string.optional
      = f.label :profile_picture
      = f.input_field :avatar

    = f.simple_fields_for :profile, (f.object.profile || f.object.build_profile) do |p|
      = p.input :title
      .string.optional.input
        = p.label :orgnization
        = p.input_field :company
      .string.optional.customize-label
        = p.input :country, priority: ["China", "United States", "Italy"]
        = p.input :city
      = f.input :time_zone
      = p.input :twitter
      = p.input :web_site
      = p.input :expertise, input_html: {class: 'ckeditor'}
      = p.input :career, input_html: {class: 'ckeditor'}
      = p.input :education, input_html: {class: 'ckeditor'}
    = f.submit
    = link_to "Cancel", admin_experts_path, class: 'btn'

:javascript
  upload_helper()
