<%  case var %>
<%when 1%>
  <% if (@total_entries+@pcount-1)/@pcount > 1 %>
    <%=form_tag  :method => "get", :action => url_for(request.params) do %>
      <div class="pagination r">
        <%= link_to "上一页", request.params.merge!(:page => @page -1),:class => "prev_page"   if @page != 1 %>
        <span class='current'>第<%= text_field_tag :page, @page  %>页</span>
        <% request.params.delete_if{|k, v| ['controller', 'action', 'page'].include?(k)}.each  do |k,v|  %>
          <%= hidden_field_tag k, v  %>
        <% end %>
        <a href='#' class='sum_page'>共<%= (@total_entries+@pcount-1)/@pcount %>页</a>
        <%= link_to "下一页",request.params.merge!(:page => @page + 1), :class => "next_page"  if @page   %>
      </div>
    <% end %>
  <% end %>

<% when 4%>
  <% if @total_entries > @pcount %>
    <!--
        新版商家后台的第一版分页
        <div class="pagination">
          <ul>
    <% if @page ==1 %>
                            <li class="disabled"><a>&lt;&lt;</a></li>
    <% else %>
                            <li><%= link_to "&lt;&lt;".html_safe, request.params.merge!(:page => @page -1) %></li>
    <% end %>

    <% select_pages(@page, (@total_entries+@pcount-1)/@pcount).each do |page| %>
                            <li class="<%= (@page == page)? "hover" : '' %>">
      <%= link_to page,   request.params.merge!(:page => page)%>
                            </li>
    <% end %>

    <% if (@total_entries+@pcount-1)/@pcount == @page %>
                            <li class="disabled"><a class="next">&gt;&gt;</a></li>
    <% else %>
                            <li><%= link_to "&gt;&gt;".html_safe, request.params.merge(:page => @page +1)   %></li>
    <% end %>
          </ul>
        </div>
    -->

    <div class="pagination">
      <div class="page">
        <div id="PageNum" style="display: none;">
          <% 1.upto((@total_entries+@pcount-1)/@pcount) do |page|  %>
            <%= link_to "第#{page}页", request.params.merge!(:page => page) %>
          <% end %>
        </div>
		<% if @page == 1 %>
			<a class="pre dis">上一页</a>
		<%else%>
			<%= link_to "上一页", request.params.merge!(:page => @page-1), :class => "pre" %>
		<%end%>
        <span id="NowPage">第<%= @page %>页</span>
		<% if @page == (@total_entries+@pcount-1)/@pcount %>
			<a class="next dis">下一页</a>
		<% else %>
			<%= link_to "下一页", request.params.merge!(:page => @page+1),:class=>"next"  %>
		<% end %>
      </div>
    </div>
  <% end %>
<% end %>




