!!!
%html
  %head
    %title=  "Prodygia | #{(content_for(:title) ? yield(:title) : "Home")}".html_safe
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %script{src: "//cdn.sublimevideo.net/js/2nbe61v6.js"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    = render "shared/header"
    #flash_hook
    #flash
      - unless flash.empty?
        .alert{ class: "#{flash_class}" }
          %button{ type: "button", class: 'close', data: { dismiss: 'alert' } } &times;
          = flash_message
    = yield

    = render "shared/sign_in_modal"
    %footer
      = render "shared/footer"

