<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= session_shop.name %>欢迎您</title>
    <link href="/newbackstage/css/public.css" rel="stylesheet" type="text/css">
    <!--[if IE]>
	<link href="/newbackstage/css/ie.css" rel="stylesheet" type="text/css">
	<![endif]-->
    <%= yield :header_css %>
    <script src="/newbackstage/js/jquery-1.6.2.min.js"></script>
    <script src="/newbackstage/js/jquery.cookie.js"></script>
    <script src="/newbackstage/js/public.js" type="text/javascript"></script>
    <%= yield :header_js %>
    <script type="text/javascript" src="/ueditor/editor_all.js"></script>
    <script type="text/javascript" src="/ueditor/editor_config.js"></script>

    <%= yield :ahead %>
    <script type="text/javascript">
      var navmove = ($.cookie('navmove')==null?$.cookie( 'navmove', 'off', { path: '/' } ):$.cookie('navmove')), runing;
    </script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="headercon">
          <div id="Message">创建成功</div>
          <div class="toptitle">
            <h1><%= link_to session_shop.name, "/shop3_login" %></h1>
          </div>
        </div>
        <a href="http://www.dface.cn"><img src="/newbackstage/images/pic1.png" class="logo" id="OpenLinkBox"/></a>
        <img src="/newbackstage/images/line.png" class="sign" id="OpenNav" title="打开导航菜单"/>
        <div id="LinkBox">
          <a href="http://www.dface.cn" class="links1" target="_blank">脸脸首页</a>
          <a href="/shop3_login/logout" class="links2">退出</a>
          <span class="linkarrow"></span>
        </div>
      </div>
      <div id="Nav">
        <a class="sign" id="CloseNav"></a>
        <div id="Navcon">
          <a href="/shop3_login">首页</a>
          <span class="navline"></span>
          <% if session[:shop_id].in?($travel) ||  ENV["RAILS_ENV"] != "production"%>
            <a href="/shop3_lines">拓展功能</a>
          <%end%>
          <span class="navline" style="display:none"></span>
          <a href="/shop3_coupons/list">优惠券管理</a>
          <span class="navline"></span>
          <a href="/shop3_faqs">问答系统</a>
          <span class="navline"></span>
          <a href="/shop3_data">数据统计</a>
          <span class="navline"></span>
          <a href="/shop3_content/user_photo">照片墙管理</a>
          <span class="navline"></span>
          <a href="/shop3_content/gchat">聊天室管理</a>
          <span class="navline"></span>
          <a href="/shop3_checkins?page=1">签到管理</a>
          <span class="navline"></span>
          <a href="/shop3_infos">商家设置</a>
          <span class="navline"></span>
          <% unless session_shop.shops.blank? %>
            <a href="/shop3_subshops">内部商家</a>
          <% end %>
          <span class="navline"></span>
          <% if session_shop.id == 21835409 || session_shop.id == 21835801 || session_shop.id == 20325453 || session_shop.id == 21828775 || session_shop.id == 21837823 || session_shop.id == 21837827 || session_shop.id == 21837830 || session_shop.id == 21830285 || session_shop.id == 21837850%>
          <a href="/shop3_mobile">手机网站</a>
          <span class="navline"></span>
          <% end %>

          <a href="/shop3_login/logout">
            <%= session[:admin_sid] ? "返回总店" : "退出" %>
          </a>
          <span class="navline"></span>
          <label id="CB1" class="checkboxs1" style="display:none;">取消动画</label>
          <span class="navline"></span>
          <a id="Btn"><img src="/newbackstage/images/sign1.png" align="absmiddle"/> 固定左侧导航</a>
        </div>
      </div>
      <div class="clear1"></div>

      <%= yield %>

    </div>
  </body>
</html>