<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <meta content="application/xhtml+xml; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="no-cache" http-equiv="Cache-Control"/>
    <meta content="0" http-equiv="Expires"/>
    <meta name="keywords" content="脸脸，玩乐，娱乐，休闲" />
    <meta name="description" content="脸脸，玩乐，娱乐，休闲"  />
    <title>脸脸 | 商家管理后台</title>
    <%= javascript_include_tag "jquery-1.6.2.min.js" %>
    <link href="/stylesheets/backstage.css" rel="stylesheet" type="text/css">
    <%= yield :ahead %>
  </head>
  <body>
  <div id="con">
      <div class="conleft">
        <img src="/images/backstage2.jpg" alt="脸脸DFACE.CN" />
		<div id="Nav" class="nav">
		<a href="/shop_checkins" class="m">签到管理</a>
		<ul>
			<li><%= link_to "最新签到", "/shop_checkins" %></li>
			<li><a href="/shop_checkins/rank?flag=week">周排行</a></li>
			<li><a href="/shop_checkins/rank?flag=month">月排行</a></li>
			<li><a href="/shop_checkins/rank_list">总排行</a></li>
		</ul>
		
		<a href="/shop_coupons" class="m">优惠券管理</a>
		<!--<ul>
			<li><a href="/shop_coupons/newly_use">最新使用记录</a></li>
            <li><a href="/shop_coupons/newly_down">最新下载记录</a></li>
            <li><a href="#">优惠券列表</a></li>
		</ul>-->
		<a href="/shop_shop_notices" class="m">公告管理</a>
        <!--
			<ul>
				<%= link_to "公告管理", "#" %>
				<li><a href="/shop_top_notices">置顶公告</a></li>
				<li><a href="/shop_shop_notices">公告</a></li>
			</ul>
        -->
		<a href="/shop_pass/index" class="m">商家设置</a>
		<ul>
			<li><%= link_to "商家logo", "/shop_logos" %></li>
			<li><%= link_to "修改密码", "/shop_pass/index" %></li>
		</ul>
		<a href="/shop_staffs" class="m">员工管理</a>
		<a href="/shop_subshops" class="m">分店管理</a>
		</div>

      </div>
      <div class="conright">
        <span class="name"><%= session_shop.name %>, <a href="/shop_login/logout">退出</a></span>
        <%= yield  %>
      </div>
    </div>
    <div id="footer">
      <div class="footerinner">&copy; 2012 dface 浙ICP备11027288号<a href="http://www.dface.cn" class="fn ml15">WWW.DFACE.CN</a></div>
    </div>
  </body>
</html>

