<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=0.5">

    <meta content="application/xhtml+xml; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="no-cache" http-equiv="Cache-Control"/>
    <meta content="0" http-equiv="Expires"/>
    <meta name="keywords" content="脸脸，玩乐，娱乐，休闲" />
    <meta name="description" content="脸脸，玩乐，娱乐，休闲"  />
    <title>脸脸 | 后台</title>
    <%= javascript_include_tag "jquery-1.6.2.min.js" %>
    <link href="/stylesheets/backstage.css" rel="stylesheet" type="text/css">
    <%= yield :ahead %>
  </head>
  <body>
    <div id="con" style="background-color:Fd0">
      <div class="conleft">
        <img src="/images/backstage.jpg" alt="脸脸DFACE.CN" />

        <dl class="nav">
          <dt>
            <%= link_to "首页", "/shop_login" %>
          </dt>
          <dt>
            <%= link_to "修改密码", "/shop_pass/index" %>
          </dt>
          <dt>
            <%= link_to "公告管理", "/shop_shop_notices" %>
          </dt>
          <!--
          <dt>
          <%= link_to "公告管理", "#" %>
          <dd><a href="/shop_top_notices">置顶公告</a></dd>
          <dd><a href="/shop_shop_notices">公告</a></dd>
          </dt>
          -->
          <dt>
            <a href="#" class="hover">签到管理</a>
          <dd><%= link_to "最新签到", "/shop_checkins" %></dd>
          <dd><a href="/shop_checkins/rank?flag=week">周排行</a></dd>
          <dd><a href="/shop_checkins/rank?flag=month">月排行</a></dd>
          <dd><a href="/shop_checkins/rank_list">总排行</a></dd>
          </dt>
          <dt>
            <%= link_to "商家logo", "/shop_logos" %>
          </dt>
          <dt>
            <%= link_to "优惠券管理", "/shop_coupons" %>
          </dt>
          <dt>
            <%= link_to "员工管理", "/shop_staffs" %>
          </dt>
          <dt>
            <%= link_to "查看子商家", "/shop_subshops" %>
          </dt>
        </dl>


      </div>
      <div class="conright">
        <span class="name"><%= session_shop.name %>, <a href="/shop_login/logout">退出</a></span>
        <%= yield  %>
      </div>
    </div>
    <div id="footer">
      <div class="footerinner">&copy; 2012 dface 浙ICP备11027288号<a href="http://www.dface.cn" class="fn ml15">WWW.DFACE.CN</a></div>
    </div>
  </body>
</html>

