<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>脸脸</title>
    <%= javascript_include_tag 'menu' %>
    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'my1dooo' %>
    <%= (yield :head_custom) || ""  %>
  </head>
  <body>
    <div id="main">
      <div id="cols-top"></div>
      <div id="main_user_center">
        <div id="cols-left">
          <ul id="ver-nav">
              <li id="tagg6"><a href="<%="/users/#{session_user.id}/user_logos/"%>">头像上传</a></li>
          </ul>
        </div>
        <div class="red1"><%=flash.now[:notice]%></div>
        <div class="content">
          <%= yield  %>
        </div>
      </div>
    </div>
    <script language="javascript">
      SetUser(<%= @menu_tag2_id %>);
    </script>
  </body>
</html>
