.item
  .box-header
    .portrait
      = link_to image_tag(course.experts.first.avatar.url), profile_expert_path(course.experts.first)
      .expert-name
        - if course.num_of_experts == 1
          = link_to course.first_expert.name, profile_expert_path(course.experts.first)
        - elsif course.num_of_experts == 2
          = link_to "#{course.first_expert.first_name.first}. #{course.first_expert.last_name}, ", profile_expert_path(course.first_expert)
          = link_to "#{course.second_expert.first_name.first}. #{course.second_expert.last_name}", profile_expert_path(course.second_expert)
    .content-type
      = image_tag(get_image_tag(course))
      %p= course.categories.join(", ")
  .title
    = link_to "#{course.title}", course_path(course)
  -if course.cover.url
    .cover
      = render "shared/sublime_video", item_resource: course.intro_video, poster_url: course.cover.url
  -else

  .caption
    %p.learn-more= link_to "Learn more", course_path(course)
    .social-share-icons
      = render 'shared/social_share', session_title: course.title, session_url: course_path(course)
