.item
  .box-header
    .portrait
      = link_to image_tag(course.experts.first.avatar.url), profile_expert_path(course.experts.first)
      .expert-name
        - course.experts.each do |expert|
          = link_to expert.name_with_inital, profile_expert_path(expert)
    .content-type
      = image_tag(get_image_tag(course), class: "tooltips", title: get_tooltip(course), data: {placement: "bottom"})
      %p= course.categories.join(", ")
  .title
    = link_to "#{course.title}", course_path(course)
  .cover
    -if course.intro_video
      = render "shared/sublime_video", item_resource: course.intro_video, poster_url: course.cover.url
    -elsif course.cover.url
      = image_tag course.cover.url

  .caption
    %div.description= truncate_html(course.description, length: 300, omission: '...')
    %p.learn-more= link_to "Learn more", course_path(course)
    .social-share-icons
      = render 'shared/social_share', item: course
