.edit-profile-title
  %h3 Edit Your Profile

= form_for @expert, url: update_profile_expert_path(current_user), remote: true, :html => { :method => :put, :class => "form-horizontal"} do |f|


  %fieldset
  .form-group
    .col-sm-5
      = f.label :first_name, class: "control-label"
    .col-sm-6
      = f.text_field :first_name, :autofocus => true, class: 'form-control' 
  .form-group
    .col-sm-5
      = f.label :last_name, class: "control-label"
    .col-sm-6
      = f.text_field :last_name, :autofocus => true, class: 'form-control' 

  .form-group
    .col-sm-5
      = f.label :profile_picture, class: "control-label"
    .col-sm-6
      = f.file_field :avatar

  = fields_for @profile do |p|
    .form-group
      .col-sm-5
        = p.label :title, class: "control-label"
      .col-sm-6
        = p.text_field :title, :autofocus => true, class: 'form-control' 

    .form-group
      .col-sm-5
        = p.label :organization, class: "control-label"
      .col-sm-6
        = p.text_field :company, class: 'form-control'

    .form-group
      .col-sm-5
        = p.label :country, class: "control-label"
      .col-sm-6
        = p.country_select :country, ["China", "United States", "Italy"]

    .form-group
      .col-sm-5
        = p.label :city, class: "control-label"
      .col-sm-6
        = p.text_field :city, class: 'form-control'

    .form-group
      .col-sm-5
        = f.label :time_zone, class: "control-label"
      .col-sm-6
        = f.time_zone_select :time_zone

    .form-group
      .col-sm-5
        = p.label :twitter, class: "control-label"
      .col-sm-6
        = p.text_field :twitter, class: 'form-control'

    .form-group
      .col-sm-5
        = p.label :web_site, class: "control-label"
      .col-sm-6
        = p.text_field :web_site, class: 'form-control'

    .form-group
      .col-sm-5
        = p.label :expertise, class: "control-label"
      .col-sm-6
        = p.text_field :expertise, class: 'form-control'

    .form-group
      .col-sm-5
        = p.label :career, class: "control-label"
      .col-sm-6
        = p.text_field :career, input_html: {class: 'ckeditor'}, class: 'form-control'

    .form-group
      .col-sm-5
        = p.label :education, class: "control-label"
      .col-sm-6
        = p.text_field :education, class: 'form-control'

  .form-group
    .col-sm-offset-5
      = f.submit "Update", class: "btn btn-prodygia dashboard-buttons"
      = link_to "Cancel", activity_stream_expert_path(current_user), remote: true, class: "btn dashboard-buttons" 
