= simple_form_for @expert, as: :profile, url: update_profile_expert_path(current_user), remote: true do |f|
  %h3 Edit Your Profile
  %fieldset
    -# %legend Overview
    = f.input :first_name
    = f.input :last_name
    .string.optional.customize-label
      = f.label :profile_picture
      = f.input_field :avatar
    = simple_fields_for @profile do |p|
      = p.input :title
      .string.optional.customize-label
        = p.label :orgnization
        = p.input_field :company
      = p.input :expertise
      = p.input :career, input_html: {class: 'ckeditor'}
      = p.input :education

    = f.submit "Update", class: "btn"
    = link_to "Cancel", sessions_expert_path, remote: true, class: "btn" 
