.edit-profile-title
  %h3 Edit Your Profile
-# Peter: hide the intro video now, don't remove the code below. 2014-01-14
-# .edit-intro-video
-#   %h4 Intro Video
-#   %span HD
-#   = s3_uploader_form id: "s3_intro_video_hd", callback_param: 'intro_video_hd', key: "intro_videos/hd/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}", key_starts_with: "intro_videos/hd", acl: 'public-read' do
-#     = file_field_tag :file, multiple: false
-#     = link_to "upload", "javascript:void(0)", id: "hd_upload_submit"
-#     .upload.js-progress-bars
-#       .progress
-#         .bars

-#   %span SD
-#   = s3_uploader_form id: "s3_intro_video_sd", callback_param: 'intro_video_sd', key: "intro_videos/sd/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}", key_starts_with: "intro_videos/sd", acl: 'public-read' do
-#     = file_field_tag :file, multiple: false
-#     = link_to "upload", "javascript:void(0)", id: "sd_upload_submit"
-#     .upload.js-progress-bars
-#       .progress
-#         .bars

= simple_form_for @expert, url: update_profile_expert_path(current_user), remote: true do |f|

  -# Peter: hide the intro video now. 2014-01-14
  -# %fieldset
  -#   = f.simple_fields_for :intro_video do |intro|
  -#     = intro.input :attached_video_hd_file_name, as: :hidden
  -#     = intro.input :attached_video_hd_content_type, as: :hidden
  -#     = intro.input :attached_video_hd_file_size, as: :hidden
  -#     = intro.input :hd_url, as: :hidden
  -#     = intro.input :attached_video_sd_file_name, as: :hidden
  -#     = intro.input :attached_video_sd_content_type, as: :hidden
  -#     = intro.input :attached_video_sd_file_size, as: :hidden
  -#     = intro.input :sd_url, as: :hidden
  %fieldset
    -# %legend Overview
    = f.input :first_name
    = f.input :last_name
    .string.optional.customize-label
      = f.label :profile_picture
      = f.input_field :avatar
    = simple_fields_for @profile do |p|
      = p.input :title
      .string.optional.customize-label
        = p.label :organization
        = p.input_field :company
      .string.optional.customize-label
        = p.input :country, priority: ["China", "United States", "Italy"]
        = p.input :city
      = f.input :time_zone
      = p.input :twitter
      = p.input :web_site
      = p.input :expertise
      = p.input :career, input_html: {class: 'ckeditor'}
      = p.input :education


    = f.submit "Update", class: "btn btn-prodygia"
    = link_to "Cancel", edit_profile_expert_path(current_user), remote: true, class: "btn" 
