.edit-profile-title
  %h3 Edit Your Profile

= simple_form_for @expert, url: update_profile_expert_path(current_user), remote: true do |f|

  %fieldset
    -# %legend Overview
    = f.input :first_name
    = f.input :last_name
    .string.optional.customize-label
      = f.label :profile_picture
      = f.input_field :avatar
    = simple_fields_for @profile do |p|
      = p.input :title
      .string.optional.customize-label
        = p.label :organization
        = p.input_field :company
      .string.optional.customize-label
        = p.input :country, priority: ["China", "United States", "Italy"]
        = p.input :city
      = f.input :time_zone
      = p.input :twitter
      = p.input :web_site
      = p.input :expertise
      = p.input :career, input_html: {class: 'ckeditor'}
      = p.input :education


    = f.submit "Update", class: "btn btn-prodygia dashboard-buttons"
    = link_to "Cancel", activity_stream_expert_path(current_user), remote: true, class: "btn dashboard-buttons" 
