

= simple_form_for @expert, as: :profile, url: update_profile_expert_path(current_user), remote: true do |f|
  %fieldset
    %legend Overview
    = f.input :first_name
    = f.input :last_name
    = f.input :avatar
    = simple_fields_for @profile do |p|
      = p.input :title
      = p.input :company
      = p.input :expertise
      %fieldset
        %legend Career
        = p.input :career, input_html: {class: 'ckeditor'}
      %fieldset
        %legend Education
        = p.input :education

    = f.submit
