= simple_form_for(@session, url: @url, as: :session, remote: true) do |f|
  %h3 Create new session
  = f.input :title
  .categories
    = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes 
  = f.input :format, collection: %w(Lounge Forum Livestreaming), as: :select
  = f.input :cover
  = f.input :video
  = f.input :date, as: :date, order: [:month, :day]
  = f.input :start_time, as: :time, label: :From, input_html: {class: "time-selector"}
  = f.input :end_time, as: :time, label: :to, input_html: {class: "time-selector"}
  = f.input :time_zone
  = f.input :location
  = f.input :price
  = f.label :strategic_question
  = f.text_area :strategic_question
  %br
  %br
  %br
  = f.label :description
  = f.text_area :description

  = f.submit "Save Draft"
  = f.submit "Preview"
  = f.submit "Submit"
