= simple_form_for @article_session, url: { action: "create_post_content" }, remote: true do |f|
  %h3 Post a new Content
  = f.input :title
  = f.input :cover
  = f.input :description, input_html: { class: 'ckeditor' }
  .categories
    = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes

  = f.submit "Save draft"
  = f.submit "Preview"
  = f.submit "Create post content"
