= f.input :from_name, as: 'hidden'
= f.input :from_address, as: 'hidden'
= f.input :invited_type, as: 'hidden'
= f.input :to, label: "To", placeholder: hint
= f.input :subject, label: "Subject", input_html: {class: "wider-input"}
.alert.validation-message.hide
= f.input :message, label: "Message", input_html: { class: 'ckeditor' }
= f.input :copy_me, label: "Copy me on the message", wrapper_html: {class: "checkbox-align"}, label_html: {class: "checkbox-label"}, input_html: {class: "checkbox-input"}
= f.submit "Send", class: "btn"


:coffee
  send = $("input[value='Send']")
  send.attr('disabled', 'disabled')

  to = $("input#email_message_to")
  enable_send = false
  to.on 'blur', ->
    to_value = to.val()
    get_path = "/users/validate_invite_email"
    $.get(get_path, {to_address: to_value}, (data)=>
      enable_send = data.status
      if enable_send
        send.removeAttr("disabled")
        $(".validation-message").hide()
      else
        send.attr('disabled', 'disabled')
        $(".validation-message").show()
        $(".validation-message").text data.error_message
    )
