= f.input :invited_type, as: :hidden
.form-group
  .col-sm-2
    = f.label :to, class: "control-label"
  .col-sm-6
    = f.text_field :to, :autofocus => true, class: 'form-control', placeholder: hint
.alert.validation-message.alert-danger

.form-group
  .col-sm-2
    = f.label :subject, class: "control-label"
  .col-sm-6
    = f.text_field :subject, :autofocus => true, class: 'form-control', input_html: {class: "wider-input"}

.form-group
  .col-sm-2
    = f.label :message, class: "control-label"
  .col-sm-8
    = f.cktext_area :message, input_html: {class: 'session-description-input'}, label: false

.form-group
  .col-sm-2
  .col-sm-5
    = f.input :copy_me, as: :boolean, label: "Copy me on the message"
.form-group
  .col-sm-4
  .col-sm-4
    = f.submit "Send", class: "btn btn-prodygia"
