.expert-info
  .expert-avatar
    = image_tag(@expert.avatar.url)
  .expert-text-info
    %h4= @expert.name
    %p= @expert.expert_profile.title
    %p= @expert.expert_profile.company
    %p= link_to 'edit profile'
  .clear-fix
.toolkit
  %h3 Expert Toolkit
  .resources
    .item#menu-option
      .item-icon #{image_tag('dashboard.png')}
      .item-icon-selected #{image_tag('dashboard_selected.png')}
      .item-text #{link_to 'Dashboard', dashboard_expert_path(current_user)}
    .item#menu-option
      .item-icon #{image_tag('new_content.png')}
      .item-icon-selected #{image_tag('new_content_selected.png')}
      .item-text #{link_to 'Post new content', new_post_content_expert_path(current_user) }
    .item#menu-option
      .item-icon #{image_tag('new_session.png')}
      .item-icon-selected #{image_tag('new_session_selected.png')}
      .item-text #{link_to 'Create new session', new_session_expert_path(current_user)}
    .item#menu-option
      .item-icon #{image_tag('private_consultation.png')}
      .item-icon-selected #{image_tag('private_consultation_selected.png')}
      .item-text #{link_to 'Private consultation', remote: true}
    .item#menu-option
      .item-icon #{image_tag('video_library.png')}
      .item-icon-selected #{image_tag('video_library_selected.png')}
      .item-text #{link_to 'Video library', remote: true}
.operations
  .item
    .item-icon #{image_tag('calendar.png')}
    .item-icon-selected #{image_tag('calendar_selected.png')}
    .item-text #{link_to 'Calendar', remote: true}
  .item
    .item-icon #{image_tag('testimonials.png')}
    .item-icon-selected #{image_tag('testimonials_selected.png')}
    .item-text #{link_to 'Testimonials', remote: true}
  .item
    .item-icon #{image_tag('refer_expert.png')}
    .item-icon-selected #{image_tag('refer_expert_selected.png')}
    .item-text #{link_to 'Refer new experts', remote: true}
  .item
    .item-icon #{image_tag('statistics.png')}
    .item-icon-selected #{image_tag('statistics_selected.png')}
    .item-text #{link_to 'Statistics', remote: true}
  .item
    .item-icon #{image_tag('feedback.png')}
    .item-icon-selected #{image_tag('feedback_selected.png')}
    .item-text #{link_to 'Feedback', remote: true}
