.side-menu
  .expert-info
    .expert-avatar
      = image_tag(@expert.avatar.url)
    .expert-text-info
      %h4= @expert.name
      %p= @expert.expert_profile.title
      %p= @expert.expert_profile.company
      %p= link_to 'edit profile'
    .clear-fix
  .toolkit
    %h3 Expert Toolkit
    .resources
      .item#menu-option
        %p #{image_tag('dashboard.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Dashboard'}
      .item#menu-option
        %p #{image_tag('new_content.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Post new content'}
      .item#menu-option
        %p #{image_tag('new_session.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Create new session'}
      .item#menu-option
        %p #{image_tag('private_consultation.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Private consultation'}
      .item#menu-option
        %p #{image_tag('video_library.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Video library'}
  .operations
    .item
      %p #{image_tag('calendar.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Calendar'}
    .item
      %p #{image_tag('testimonials.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Testimonials'}
    .item
      %p #{image_tag('refer_expert.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Refer new erexperts'}
    .item
      %p #{image_tag('statistics.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Statistics'}
    .item
      %p #{image_tag('feedback.png')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to 'Feedback'}

