.navbar.navbar-default.shadow
  .user-info.clearfix
    .avatar
      = link_to image_tag(@expert.avatar.url), profile_expert_path(@expert)
    .profile
      .name
        = @expert.name
      .title
        = [@profile.title, @profile.company].reject(&:blank?).join(",")
      .edit
        %p= link_to 'edit profile', edit_profile_expert_path(current_user), remote: true

  .toolkit
    .item
      = render 'item_icon', item_name: 'activity_stream'
      .item-text #{link_to 'My activity stream', pending_page_expert_path(text: "my_activity_stream"), remote: true}

  .block-title
    %span
      CREATE
  .toolkit
    .item
      = render 'item_icon', item_name: 'new_content'
      .item-text #{link_to 'Post new content', new_article_path, remote: true }
    .item
      = render 'item_icon', item_name: 'new_session'
      .item-text #{link_to 'Create new session', pending_page_expert_path(text: "create_new_session"), remote: true}
    .item
      = render 'item_icon', item_name: 'private_session'
      .item-text #{link_to 'Schedule private session', consultations_expert_path(@expert), remote: true}

  .block-title
    %span
      MANAGE
  .toolkit
    .item
      = render 'item_icon', item_name: 'content'
      .item-text #{link_to 'Content', contents_expert_path, remote: true}
    .item
      = render 'item_icon', item_name: 'new_session'
      .item-text #{link_to 'Sessions', pending_page_expert_path(text: 'manage_sessions'), remote: true}
    .item
      = render 'item_icon', item_name: 'testimonials'
      .item-text #{link_to 'Testimonials', pending_page_expert_path(text: 'testimonials'), remote: true}
    .item
      = render 'item_icon', item_name: 'account'
      .item-text #{link_to 'Settings', edit_user_registration_path, remote: true}
    .item
      = render 'item_icon', item_name: 'refer_expert'
      .item-text #{link_to 'Refer new experts', refer_new_expert_experts_path, remote: true }

  .block-title
    %span
      VIEW
  .toolkit
    .item
      = render 'item_icon', item_name: 'video_library'
      .item-text #{link_to 'Video courses', video_courses_expert_path, remote: true}
    .item
      = render 'item_icon', item_name: 'community'
      .item-text #{link_to 'Community', pending_page_expert_path(text: 'community'), remote: true}
    .item
      = render 'item_icon', item_name: 'feedback'
      .item-text #{link_to 'Feedback', pending_page_expert_path(text: 'feedback'), remote: true}
    .item
      = render 'item_icon', item_name: 'calendar'
      .item-text #{link_to 'Calendar', pending_page_expert_path(text: 'calendar'), remote: true}
    .item
      = render 'item_icon', item_name: 'statistics'
      .item-text #{link_to 'Statistics', pending_page_expert_path(text: 'statistics'), remote: true}

  .toolkit
    .item
      = render 'item_icon', item_name: 'dashboard'
      .item-text #{link_to 'Go to member dashboard', dashboard_member_path(current_user)}
