.cards-body.tab-content
  .session-items.tab-pane.active#tab1
    - @courses.each do |course|
      .item
        .item-title
          = link_to course.title, course_path(course), class: "course-title-font"
        .item-body
          .cover-wrapper
            = link_to image_tag(course.cover.url, class: "cover"), course_path(course)
            .social-share-icons
              = render "shared/social_share", item: course
          .statistic
            = truncate_html(course.description, length: 300, omission: "...")
            = "Viewed by #{item.visit.page_views} people" if course.visit
            = "(published at #{course.created_at.to_date.to_formatted_s(:course_date)})"
