%h1 Experts

%table
  %tr
    %th Name
    %th Image url
    %th Company
    %th Title
    %th
    %th
    %th

  - @experts.each do |expert|
    %tr
      %td= expert.name
      %td= image_tag(expert.image_url)
      %td= expert.company
      %td= expert.title
      %td= link_to 'Show', expert
      %td= link_to 'Edit', edit_expert_path(expert)
      %td= link_to 'Destroy', expert, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expert', new_expert_path
