= content_for :head do
  = stylesheet_link_tag "bootstrap.css", media = "all"
  = javascript_include_tag "bootstrap.js"

.container
  %h1 Experts
 
  %table.table.table-striped.table-hover.table-bordered
    %tr
      %th Name
      %th Image url
      %th Company
      %th Title
      %th Delete

    - @experts.each do |expert|
      %tr
        %td= link_to "#{expert.name}", expert
        %td= link_to image_tag(expert.image_url), expert
        %td= expert.company
        %td= expert.title
        %td= link_to 'Delete', expert_path(expert), method: :delete, data: {confirm: 'Are you sure?'}
  %br

  = link_to 'New Expert', new_expert_path, class: "btn btn-default"
