.dash-wrapper
  .container-fluid
    .row-fluid
      .span3.side-menu
        = render 'side_menu'
      .span9.main-menu
        = simple_form_for @article_session, url: { action: "create_post_content" } do |f|
          %h3 Post a new Content
          = f.input :title, label: "Title:"
          = f.input :cover, label: "Cover:"
          = f.input :description, input_html: { class: 'ckeditor' }, label: "Discription:"
          .categories
            = f.input :categories, collection: Category.all.map(&:name), as: :check_boxes, label: "Categories:"
          = f.button :submit
