
.general-wrapper
  .brief.sub-wrapper.first-sub
    .avatar.brief-item
      = image_tag(@expert.avatar.url)
    .resume.brief-item
      %p
        %span.name
          = @expert.name
        %br
        %span.title_company
          #{@expert.profile.title}, #{@expert.profile.company}
        %br
        %span.job.light-font
          = @expert.profile.company

      %table
        %tr
          %td.company.light-font
            = "Company"
          %td.company-value
            = @expert.email
        %tr
          %td.personal.light-font
            = "Personal"
          %td.personal-value
            = "personal contact"
        %tr
          %td.twitter.light-font
            = "Twitter"
          %td.twitter-value
            = "@twitteraccount"
    .contact.brief-item-last

      .contact-button#follow
        %button.btn.left-side
          - if current_user.try(:follow?, @expert)
            %i.fa.fa-star Unfollow
          - else
            %i.fa.fa-star Follow

        %button.btn.right-side 0
        
      = link_to "follow", relationship_path(@expert.id), class: "hidden follow-link", remote: true

      .contact-button#contact
        %button.btn.left-side
          %i.fa.fa-comments Contact
        %button.btn.dropdown-toggle.right-side{data: {toggle: "dropdown"}}
          %span.caret
    .clear-fix 


  .detail.sub-wrapper.second-sub
    %ul.nav.nav-tabs
      %li.active.tab
        %a{href: "#tab1", data: {toggle: "tab"}}Overview
      %li.tab
        %a{href: "#tab2", data: {toggle: "tab"}}Career
      %li.tab
        %a{href: "#tab3", data: {toggle: "tab"}}Education

    .tab-content
      .tab-pane.active#tab1
        %div
          - expertise = @expert.profile.expertise || "Expertise to be filled"
          = expertise.html_safe
      .tab-pane#tab2
        %div
          - career = @expert.profile.career || "Career to be filled"
          = career.html_safe
      .tab-pane#tab3
        %div
          - education = @expert.profile.education || "Education to be filled"
          = education.html_safe

  .sessions.sub-wrapper
    #content.container
      =render 'welcome/box_content', sessions: @sessions
