- content_for(:title) { @expert.name }

.general-wrapper
  .brief.sub-wrapper.first-sub.clearfix
    .avatar.brief-item
      = image_tag(@expert.avatar.url)
    .resume.brief-item
      %p
        %span.name
          = @expert.name
        %br
        %span.title_company
          = [@profile.title, @profile.company].reject(&:blank?).join(",")
      %table
        - if @profile.web_site.present?
          %tr
            %td.personal.light-font
              = "Blog/Website"
            %td.personal-value
              = link_to @profile.web_site, @profile.web_site, target: "_blank"

          - if @profile.twitter.present?
            %tr
              %td.twitter.light-font
                = "Twitter"
              %td.twitter-value
                = link_to "#{@profile.twitter}", "https://twitter.com/#{@profile.twitter}"

    .contact.brief-item-last.clearfix
      .contact-button#follow
        - if current_user.blank?
          = link_to image_tag('favorite_unselected.png'),'#sign-in-modal', data:{toggle: "modal"}, class: 'favorite hollow-star'
        - else
          = render 'shared/favorite_star', method: :follow?, object: @expert, link_path: relationship_path(@expert.id)
      #follower-count
        = @expert.followers.count
      -#   %button.btn.left-side
      -#     - if current_user.try(:follow?, @expert)
      -#       %i.fa.fa-star Unfollow
      -#     - else
      -#       %i.fa.fa-star Follow

      -# %button.btn.right-side#follower-count
      -# = link_to "follow", relationship_path(@expert.id), class: "hidden follow-link", remote: true
    .clear-fix 
  - unless @profile.expertise.blank? && @profile.career.blank? && @profile.education.blank?
    .detail.sub-wrapper.second-sub
      %ul.nav.nav-tabs
        - if @profile.expertise.present?
          %li.active.tab
            %a{href: "#tab1", data: {toggle: "tab"}}Overview
        - if @profile.career.present?
          %li.tab
            %a{href: "#tab2", data: {toggle: "tab"}}Career
        - if @profile.education.present?
          %li.tab
            %a{href: "#tab3", data: {toggle: "tab"}}Education

      .tab-content
        -# `Overview` tab
        .tab-pane.active#tab1
          %div.clearfix
            - if @expert.video
              .intro-video.pull-right
                = render "shared/sublime_video", video: @expert.video
            - expertise = @profile.expertise || "Expertise to be filled"
            = expertise.html_safe

        -# `Career` tab
        .tab-pane#tab2
          %div
            - career = @profile.career || "Career to be filled"
            = career.html_safe

        -# `Education` tab
        .tab-pane#tab3
          %div
            - education = @profile.education || "Education to be filled"
            = education.html_safe

  .sessions.sub-wrapper
    #content.container
      - @items.each do |item|
        = render partial: "welcome/box_content", locals: { item: item }

-# hidden modals
= render "shared/sign_in_modal"

:javascript
  load_isotope()
