= content_for :head do
  = stylesheet_link_tag "bootstrap.css", media = "all"
  = javascript_include_tag "bootstrap.js" 

.container
  %p#notice= notice

  %h3
    Expert:
    = @expert.name

  %br

  %p
    = image_tag(@expert.image_url)
  %p
    %b Company:
    = @expert.company
  %p
    %b Title:
    = @expert.title
  %br

  %h4.muted The expert has following Sessions:

  %table.table.table-striped.table-hover.table-bordered.table-condensed
    %tr
      %th Title
      %th Image
    - @expert.sessions.each do |session|
      %tr
        %td= session.title
        %td= image_tag(session.image_url)
      

  = link_to 'Edit', edit_expert_path(@expert)
  \| 
  = link_to 'Back', experts_path
