.jumbotron.container.shadow
  .row
    .col-md-3
      .favorite-session-cover
        = image_tag(course.cover.url)
      .session-button
        - if (current_user) && (current_user.enrolled? course)
          .button.subscribed You're subscribed
        - else
          .button.subscribe
            = link_to "Subscribe", enroll_course_path(course)
    .col-md-8
      .favorite-session-info
        .favorite-session-main
          .favorite-session-title
            = link_to course.title, course_path(course)
          .favorite-session-expert-name.separator.inline
            = course.decorate.producer_links
          .favorite-session-categories.inline
            = course.category_names
          .clear-fix
          .favorite-session-description
            = truncate_html(course.description, length: 300, omission: '...')
    .col-md-1
      .favorite-social-share
        = render 'shared/favorite_star', method: :has_subscribed?, object: course, link_path: subscribe_path(course, type: course.class.name)
        = render 'shared/social_share', item: course
  .see-more
    = link_to "see more", course_path(course)
