.favorite-session-box.shadow.white-background
  .favorite-session-left
    .cover
      = image_tag(course.cover.url)
    - if (current_user) && (current_user.enrolled? @course)
      .subscribed-button
        = link_to "You're subscribed", "#"
    - else
      .enroll-button
        = link_to "Subscribe for #{number_to_currency(@course.price)}", enroll_course_path(@course)

  .favorite-session-info
    .favorite-session-main
      .favorite-session-title
        = link_to course.title, course_path(course)
      .favorite-session-expert-name.separator.inline
        = producer_links(course)
      .favorite-session-categories.inline
        = course.categories.join(", ")
      .clear-fix

      .favorite-session-description
        = truncate_html(course.description, length: 300, omission: '...')
    .see-more
      = link_to "see more", course_path(course)

  .favorite-social-share
    = render 'shared/favorite_star', method: :has_subscribed?, object: course, link_path: subscribe_path(course, type: course.class.name)
    = render 'shared/social_share', item: course
