.recommendation.white-background.shadow
  -if @recommendation
    Recommended Experts
  -else
    Favorite Experts 
- @followed_experts.each do |e|
  .expert-action-box.shadow.white-background
    .expert-info
      .expert-avatar
        = link_to image_tag(e.avatar.url), profile_expert_path(e)
      .expert-text-info
        .expert-name
          = link_to e.name, profile_expert_path(e)
        .expert-title
          = [@profile.title, @profile.company].join(",")
    .expert-actions
      .follow-star
        = render 'shared/favorite_star', method: :follow?, object: e, link_path: relationship_path(e)
      .clear-fix
      .expert-action-info
        .block-title
          %span RECENT ACTIVITY
          - e.contents.take(3).each do |content|
            .recent-activity
              .course-icon
                = link_to image_tag(content.cover), polymorphic_path(content)
              .course-info
                .action
                  Posted
                .title
                  = link_to content.title, polymorphic_path(content)
              .published-time
                = time_ago_in_words(content.updated_at)
                = "ago"
      .see-more
        =link_to "see more", profile_expert_path(e)

