-if @recommendation
  .recommendation.white-background.shadow
    Recommended Experts
- @followed_experts.each do |e|
  .expert-action-box.shadow.white-background
    .expert-info
      .expert-avatar
        = link_to image_tag(e.avatar.url), profile_expert_path(e)
      .expert-text-info
        .expert-name
          = link_to e.name, profile_expert_path(e)
        .expert-title
          #{empty_expert_info_filter(e.profile.title, e.profile.company)}
    .expert-actions
      .follow-star
        = render 'shared/favorite_star', method: :follow?, object: e, link_path: relationship_path(e)
      .clear-fix
      .expert-action-info
        .block-title
          %span RECENT ACTIVITY
        .recent-activity
          .course-icon
            =image_tag("missing.png")
          .course-info
            .action
              Posted 
            .title
              Consulting service in China
          .published-time
            5 days ago
            
        .recent-activity
          .course-icon
            =image_tag("missing.png")
          .course-info
            .action
              Posted 
            .title
              Consulting service in China
          .published-time
            5 days ago

                                    
        .recent-activity
          .course-icon
            = image_tag("missing.png")
          .course-info
            .action
              Posted 
            .title
              Consulting service in China
          .published-time
            5 days ago
      
      .see-more
        =link_to "see more", profile_expert_path(e)

