= simple_form_for @member, as: :profile, url: update_profile_member_path(current_user), remote: true do |f|
  %h3 Edit your profile
  %fieldset
    -# %legend Overview
    = f.input :first_name
    = f.input :last_name
    .string.optional.customize-label.input
      = f.label :profile_picture
      = f.input_field :avatar
    = simple_fields_for @profile do |p|
      = p.input :title
      .string.optional.customize-label.input
        = p.label :orgnization
        = p.input_field :company

    .display-block
      = f.submit "update", class: 'btn'
      = link_to "Cancel", edit_profile_member_path(current_user), remote: true, class: 'btn'
