.favorite-session-info
  .favorite-session-main
    .favorite-session-title
      - if content.is_a? ArticleSession
        = link_to content.title, article_path(content)
      -elsif content.is_a? VideoInterview
        = link_to content.title, video_interview_path(content)

    .favorite-session-expert-name.separator.inline
      by 
      = link_to "#{content.expert.name}", profile_expert_path(content.expert) 
      = "(published at #{content.created_at.to_date.to_formatted_s(:course_date)})"
    .favorite-session-categories.inline
      = content.categories.join(", ")

    .favorite-session-description
      = truncate_html(content.description, length: 300, omission: '...')
  .see-more
    - if content.is_a? VideoInterview
      = link_to "see more", video_interview_path(content)
    -elsif content.is_a? ArticleSession
      = link_to "see more", article_path(content)

.favorite-social-share
  = render 'shared/favorite_star', method: :has_subscribed?, object: content, link_path: subscribe_session_path(content)
  = render 'shared/social_share', item: content 
