.favorite-session-info
  .favorite-session-main
    .favorite-session-title
      = session.title
    .favorite-session-expert-name
      by 
      = link_to "#{session.expert.name}", profile_expert_path(session.expert) 
    .favorite-session-categories
      = session.categories.join(", ")
    .clear-fix

    .favorite-session-description
      = truncate_html(session.description, length: 300, omission: '...')
  .see-more
    = link_to "see more", session_path(session)

.favorite-social-share
  = render 'shared/favorite_star', method: :follow?, object: session, link_path: subscribe_session_path(session)
  = render 'shared/social_share', session_title: session.title, session_url: session_url(session)
