.favorite-session-info
  .favorite-session-main
    .favorite-session-title
      = content.title
    .favorite-session-expert-name
      by 
      = link_to "#{content.expert.name}", profile_expert_path(content.expert) 
    .favorite-session-categories
      = content.categories.join(", ")
    .clear-fix

    .favorite-session-description
      = truncate_html(content.description, length: 300, omission: '...')
  .see-more
    = link_to "see more", session_path(content)

.favorite-social-share
  = render 'shared/favorite_session_star', content: content
  = render 'shared/social_share', session_title: content.title, session_url: session_url(content)
