.col-xs-10
  .favorite-session-info
    .favorite-session-main
      .favorite-session-title
        = link_to content.title, polymorphic_path(content)

      .favorite-session-expert-name.separator.inline
        by
        = link_to "#{content.expert.name}", profile_expert_path(content.expert)
        = "(published on #{content.created_at.to_date.to_formatted_s(:course_date)})"
      .favorite-session-categories.inline
        = content.category_names

      .favorite-session-description
        = truncate_html(content.description, length: 300, omission: '...')
.col-xs-2
  .favorite-social-share
    = render partial: 'favorites/favorite', locals: {item: content}
    = render 'shared/social_share', item: content
