.nav.navbar-nav
  .navbar-nav
    %li.dropdown
      %a.navbar-btn.btn.btn-default.btn-plus.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.glyphicon.glyphicon-list{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Menu"}
      %ul.nav.dropdown-menu
        %li.dropdown-submenu
          %a{:href => "#"}
            PROFILE
          %ul.dropdown-menu
            .user-info.clearfix
              .avatar
                = link_to image_tag(@member.avatar.url), edit_profile_member_path(current_user), remote: true
            .profile
              .name
                %p= @member.name
              .title
                = [@profile.title, @profile.company].reject(&:blank?).join(",")
              .edit
                %p= link_to 'edit profile', edit_profile_member_path(current_user), remote: true

        %li.dropdown-submenu
          %a{:href => "#"}
            FAVORITES
          %ul.dropdown-menu
            .toolkit
              .item
                = render 'item_icon', item_name: 'follow_expert'
                .item-text #{link_to 'Expert', experts_member_path(current_user), remote: true }
              .item
                = render 'item_icon', item_name: 'follow_content'
                .item-text #{link_to 'Content', contents_member_path(current_user), remote: true}
              .item
                = render 'item_icon', item_name: 'follow_video'
                .item-text #{link_to 'Video courses', video_on_demand_member_path(current_user), remote: true}
        %li.dropdown-submenu
          %a{:href => "#"}
            MANAGE
          %ul.dropdown-menu
            .toolkit
              .item
                = render 'item_icon', item_name: 'video_library'
                .item-text #{link_to 'Video course library', vod_library_member_path(current_user), remote: true}
              .item
                = render 'item_icon', item_name: 'account'
                .item-text #{link_to 'Settings', edit_user_registration_path, remote: true}
              .item
                = render 'item_icon', item_name: 'refer_friend'
                .item-text #{link_to 'Refer a Friend', refer_a_friend_member_path(current_user), remote: true}
        - if current_user.is_a? Expert
          %li.dropdown-submenu
            %a{:href => "#"}
              DASHBOARD
            %ul.dropdown-menu
              .toolkit
                .item
                  = render 'item_icon', item_name: 'dashboard'
                  .item-text #{link_to 'Go to expert dashboard', dashboard_expert_path(current_user)}